<style>


  
:root {
    --ss-wpadminbar-height: 0px;
    --color-border: #000000;
    --color-text-focus: #000000;
}
.article__grid-tag {
    margin-right: 0px;
}
  /* Black NavBar */
#shopify-section-header{
    background-color: #000000
}
.site-header__mobile-nav {
    background-color: #000000
}

.gm-menu-installed .gm-menu.gm-menu-8095 {
    background-color: #000000 !important
}
.site-header {
    background-color: #000000
}
.gm-menu-installed .gm-menu.gm-menu-8095.gm-bordered:not(.gm-menu-mobile):not(.gm-vertical) > .gm-level-0 + .gm-level-0{
    border-left: none !important
}
.gm-menu-installed .gm-menu.gm-menu-8095 .gm-item.gm-level-0 > .gm-target > .gm-icon, .gm-menu-installed .gm-menu.gm-menu-8095 .gm-item.gm-level-0 > .gm-target > .gm-text, .gm-menu-installed .gm-menu.gm-menu-8095 .gm-item.gm-level-0 > .gm-target > .gm-retractor {
    color: #ffffff !important
}
gm-active{
  background-color: #b72e2e !important
}
.btn--link {
    color: white;
}
.site-header__icons-wrapper a{
  color: white;
}
.btn--link:not([disabled]):hover, .btn--link:focus {
    color: white;

}
/* end Black NavBar */
/* Cover image */
@media (max-width: 410px) {
    #PageContainer {
        padding-top: 0px;
    }
  .theme_store_id_796 .shopify-section {
    padding: 20px 0px 0px;
}
}
@media (max-width: 749px) {
    #PageContainer {
        padding-top: 30px;
    }
}
#PageContainer{
  padding-top: 78px !important;
}
  
.cover-container {
    position: relative;
    min-height: 350px;
}
.cover-container::before{
     content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(https://cdn.shopify.com/s/files/1/0268/2306/5772/files/Nutrition.jpg?v=1702329584);
    background-size: cover;
    background-position: center;
    opacity:0.5;
}
/* end cover image */

  
.postform{
    width: 100%;
    font-weight: bold;
    background-color: #d9d9d9 !important;
    color: black;
    filter: invert(1);
    --color-border-form: black;
}
  h1 {
    font-family: sans-serif !important;
    font-weight: 800;
    color: white !important;
}
.article_link_custom {
  color: white;
  width: 100%;
  text-align: center;
} 
.medium-up--one-third {
    width: 50% !important;
}
.page-width {
    max-width: 1100px;
    margin: 0 auto;
}
.page-width .grid {
    margin-top: 0px;
    margin-bottom: 0px;
}
.list-item-blogpost{
    display: block;
    align-items: center;
    box-sizing: border-box;
    color: white;
}
.list-item-blogpost-1{
    display: block;
    align-items: center;
    box-sizing: border-box;
    color: white;
    padding-bottom: 50px;
}
.first-article__grid-image-wrapper{
    
}
.first-article__grid-image-container{
    
}
.first-article__grid-image{
      padding: 0;

}
.article__grid-image-container{
  margin: 0px auto 24px 0;
}


  
@media screen and (max-width: 962px) {
  .ul-list-blogpost {
    grid-template-columns: 1fr !important;
  }
}
.ul-list-blogpost{
    grid-template-columns: 1fr 1fr;
    display: grid;
    row-gap: 50px;
    column-gap: 40px;
}
.blogpost-title{
  text-align: center;
  color: white;
  FONT-WEIGHT: 600;
}
.blogpost-title:hover{
  color: lightskyblue;
}

p { 
  color: white;
}
p:hover{
  color: lightskyblue;
}
  body.template-article.template-article, body.template-blog.template-blog {
/*     background-color: #f7f8f9; */
}
  div#shopify-section-blog-template {
    background-color: #262626 !important;
}
  .article_author_info .social-sharing {
  display: flex !important;
}
.article_author_info {
  display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}
.article_author_info span.article__author--avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.article_author_one {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-items: stretch;
  text-align: left;
  column-gap: 10px;
}
.article_author_two {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: stretch;
}
.article_author_two ul.social-sharing span.share-title {
    display: none;
}
.article_author_info .social-sharing a.btn--share {
    padding: 3px 6px;
    margin: 0;
    border-radius: 0;
    border: none;
}
/* .article__title {
    width: 80%;
    margin: 0 auto;
    font-size: 3rem;
    text-align: left;
    font-weight: 900;
    padding-bottom: 40px;
  color: #000;
} */
  .article_featured_img img {
    border-radius: 20px;
}
.article_img_gallery ul {
    display: flex;
  margin: 0;
}

.article_img_gallery ul li {
    list-style: none;
    padding: 10px;
}
.article_content_sections {
    line-height: 2;
} 
.article_content_sections .grid {
    margin-top: 10px;
    margin-bottom: 10px;
}

.article_img_gallery ul li img {
    border-radius: 10px;
}
@media only screen and (max-width: 749px){
body.template-article .grid__item {
    padding-left: 0px;
}
}
@media only screen and (min-width: 750px){
body.template-article .medium-up--five-sixths {
    width: 100%;
  }
 body.template-article .medium-up--push-one-twelfth {
    left: 0;
}
  body.template-article .section-header {
    margin-top: 55px;
}
}
body.template-article .grid__item {
    float: none;
    padding-left: 0;
}
body.template-article {
 .page-title.with_featured.title-center.solid-bg.page-title-topfix {
    background-size: cover;
    background-position: center;
}
.col-table {
    display: table-cell;
    vertical-align: middle;
  padding: 6vw 3vw 3vw;
}
.title-container {
    display: table;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}
.col-td.hgroup {
    display: block;
    text-align: center;
} 

}
    h1.entry-title.responsive-h4 {
    font-size: 3rem;
    font-weight: 700;
    color: #090a0b;
    width: 80%;
    margin: 0 auto;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif !important;
}
body.template-article .col-td.hgroup .article__date time {
    color: #3eb0ef;
    text-transform: uppercase;
}
.article-img img {
    width: 100%;
  border-radius: 5px;
}
aside#custom_html-2 {
    margin: 0 auto;
/*     padding: 4rem; */
}
aside#categories-4 {
    padding-bottom: 0px;
    padding-top: 0px
}
.article_main_div .pull-right {
    float: none;
    width: 100%;
}
.article_main_div .search-bar__interior {
    padding: 20px 0;
}
.article_main_div form.contact-form.form-single-field {
    margin-bottom: 0;
}
 .article_main_div .search-bar__submit .icon {
    top: 14px;
  }
.article_main_div #mc_embed_signup form {padding: 0;}
.article_main_div .search-form__container {padding: 0;}
.article_main_div select#cat {
    width: 100%;
}
.article_tags_section .tags_names ul li a {
    font-style: italic;
    
}
 .article_main_div .page-width.rich-text {
    padding-left: 0;
}
.article_tags_section .tag_title {
    font-weight: 600;
}
div#shopify-section-related-blogs h2 {
    font-weight: 600;
}
.template-article .article_main_div   {
    margin-top: -160px;
    background-color: #fff;
}
.article_main_div .article_content_sections h3 {
    font-size: 1.7rem;
    font-weight: 700;
    color: #090a0b;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif !important;
}
.article_main_div .article_content_sections.left {
    position: relative;
    margin: 0 auto;
    padding: 70px 100px 0;
    min-height: 230px;
    font-family: Georgia,serif;
    line-height: 1.6em;
    background: #fff;
}
.article_main_div .article_content_sections p {
    font-size: 1.4rem;
    line-height: 1.5;
    color: #3c484e !important;
}
@media screen and (min-width: 480px){
  .article_main_div {
/*     display: flex; */
    padding: 0 8rem;
}
  .blogs-archive.article_main_div {
    padding: 0;
}
.article_main_div .left {
/*     width: 70%; */
}
.article_main_div .rte.right {
/*     width: 30%; */
    background-color: #005aab;
    padding-top: 10px;
    width: 90%;
    margin: 0 auto;
    color: #fff;
}
/**Blog Archive */
.blogs-archive {
    display: flex;
}
.blogs-archive .blogs-archive-left {
    width: 70%;
}
.blogs-archive .blogs-archive-right {
    width: 30%;
}
.blogs-archive ul.grid.grid--uniform.grid--blog {
    margin: 0;
}
.blogs-archive .blogs-archive-right {
    width: 30%;
    margin-right: 20px;
}
}


/* Related Blog Post */
 div#shopify-section-related-blogs {
   
    padding: 0 7rem;
}
div#shopify-section-related-blogs .relatedArticles {
    width: 70%;
    padding-right: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}
  
div#shopify-section-related-blogs .relatedArticles .page-width.rich-text {
    padding: 0;
}
div#shopify-section-related-blogs .relatedArticles .grid {
    margin: 0;
}
  div#shopify-section-related-blogs .relatedArticles .well {
/*     width: 32%; */
}
div#shopify-section-related-blogs .relatedArticles .well .article__grid-meta {
    border-bottom: 1px solid #969191;
    padding-bottom: 10px;
}
div#shopify-section-related-blogs .relatedArticles .well img {
    max-width: 33%
}

  .article_tags_section .tags_names ul {
    display: flex;
    column-gap: 20px;
}
.article_tags_section .tags_names ul li {
    list-style: none;
}
  .article_tags_section {
    padding-top: 25px;
    display: flex;
    align-items: stretch;
}
div#shopify-section-related-blogs .authoranddate {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
}
#ss-floating-bar {
  display: none;
}
.blogs-archive-right .blog-single__sidebar {
    background-color: #fff;
    padding: 20px 20px;
}
.article_content_sections strong {
    font-size: 25px;
}
.article_main_div .rte.right .form-single-field {
    max-width: 100%;
}
.article_main_div .rte.right .form-single-field .input-group__btn {text-align: end;}
.article_main_div .rte.right .form-single-field .input-group__btn button.btn {
    width: fit-content;
}
.article__tags.rte.blog-inner-tag {
    display: flex;
    column-gap: 10px;
}
.article__tags.rte.blog-inner-tag .blog-inner-tag-label h4 {
    color: #000;
    font-style: italic;
}
.blog-inner-tag-label {
  --color-text: white;
    text-align: center;
}
.blog-inner-tag-label ul {
    column-gap: 20px;
    list-style: none;
}
.blog-inner-tag-label ul li {

      list-style: none;
    display: inline-block;
    padding: 2px 10px;
    background-color: #666666;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 50px;
}
body.template-blog.template-blog {
    overflow-x: hidden;
}

.cover-container {
  position: relative;
  width: 100%;
  height: 300px; 
  overflow: hidden;
}

.cover-image {
  width: 100%;
  height: 100%;
  object-fit: cover;

      position: relative;
      width: 100%;
      margin: 0 auto; /* Center the image */
      overflow: hidden;

  
}

.cover-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  z-index: 1;
}
 .darken-overlay::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
div#shopify-section-blog-template {
    padding-top: 0px;
}
.pagination{
    color: white !important;
    --color-small-button-text-border: white !important;
    padding-bottom: 50px;
    padding-top: 20px;
}

.column {
  width: 100%;
  margin: 10px;
    align-content: center;
    display: grid;
}
.top-category-bar{
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
  color: white;
}
  .top-category-bar-2{
  display: flex;
  justify-content: space-between;
  margin: 0;
}
.div-line{
    height: 1px;
    background-color: #fff;
    margin: auto;
}
@media screen and (max-width: 755px) {
  .div-line {
    display: none;
  }
  .top-category-bar{
     flex-direction: column;
  }
}
.top-category-bar h2 {
    margin: auto;
    font-weight: bold;
}
.btn--secondary {
    background-color: #94CC0B;
    color: white;
    margin-bottom: 40px;
    margin-top: 30px;
    font-weight: bold;
    width: 238px;
}

@media only screen and (min-width: 750px){

.latest-post-upper-container{


    margin-left: 0px;}
}
  
.latest-post-container{

width: 210px;
    margin-left: 0px;}
}

  .featured-post-container{

width: 250px;
    margin-left: 0px;}
}
</style>

<div class="cover-container">
  <!--<div class="darken-overlay">
    <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/1_57b54ae3-5a9e-409d-83fa-23dbb9c9442e.png?v=1687999215" alt="Cover Image" class="cover-image">
  </div>-->
  <div class="cover-text">
    <h1>{{ page_title }}</h1>
    <h2>Category</h2>
  </div>
</div>


<div class="page-width">
  <div class="top-category-bar">
    <div class="column latest-post-upper-container">
      <div class="top-category-bar-2">
        <div class="column latest-post-container">
          
          <h2>LATEST POSTS</h2>
        
        </div>
        <div class="column div-line">
        </div>
      </div>
    </div>
    <div class="column">
      <aside id="categories-4" class="widget widget_categories">
          <form action="https://socialhospitality.com" method="get">
            <!--<label class="screen-reader-text" for="cat">Search by Blog Category</label>-->
            <select name="cat" id="cat" class="postform" style="width: 100%;">
      
                <option class="level-1" value=""> All categories</option>
                <option class="level-1" value="/blogs/health-well-being"> Health & Well-Being</option>
                <option class="level-1" value="/blogs/weight-loss"> Weight Loss</option>
                <option class="level-1" value="/blogs/nutrition"> Nutrition</option>
                <option class="level-1" value="/blogs/lifestyle"> Lifestyle</option>
                <option class="level-1" value="/blogs/excercise"> Excercise</option>
                <option class="level-1" value="/blogs/recipes"> Recipes</option>
                <option class="level-1" value="/blogs/diet-profiles-meal-plans"> Diet / Meal Plans</option>
                <option class="level-1" value="/blogs/quick-tips"> Quick Tips</option>
                <option class="level-1" value="/blogs/guides"> Guides</option>
                <option class="level-1" > Latestss Posts</option>
                
           </select>
          </form>
      
        <script type="text/javascript">
        
        jQuery(function($) {
        	$('select').on('change', function() {
        		var url = $(this).val();
        		if (url) {
        			window.location = url;
        		}
        		return false;
        	});
        });
        </script>
      </aside>
    </div>
  </div>
</div>


<div class="page-width">



  {% paginate blog.articles by 13 %}
<!----firstpost----->
  {% assign newest_post = blog.articles.first %}
  <div class="list-item-blogpost-1">
  <a href="{{ newest_post.url }}" class="article__link article_link_custom">
    {% if newest_post.image %}
      {% capture img_id %}ArticleImage-{{ newest_post.image.id }}{% endcapture %}
      {% capture img_wrapper_id %}ArticleImageWrapper-{{ newest_post.image.id }}{% endcapture %}
      {%- assign img_url = newest_post.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

      {% include 'image-style', image: newest_post.image, height: 245, wrapper_id: img_wrapper_id, img_id: img_id %}

   
      <div id="" class="first-article__grid-image-wrapper article__grid-image-wrapper js">
        <div class="article__grid-image-container first-article__grid-image-container" style="padding-top:{{ 1 | divided_by: newest_post.image.aspect_ratio | times: 100 }}%;" data-image-loading-animation>
          <img id="" class="first-article__grid-image article__grid-image lazyload" data-src="{{ img_url }}" data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-aspectratio="{{ newest_post.image.aspect_ratio }}" data-sizes="auto" alt="">
        </div>
      </div>
      
      <noscript>
        <div class="article__grid-image-wrapper">
          {{ newest_post | img_url: '345x345', scale: 2 | img_tag: newest_post.title, 'article__grid-image' }}
        </div>
      </noscript>
    {% endif %}
    
    
    
    
      <a href="{{ newest_post.url }}">
    <h2 class="blogpost-title">
        {{ newest_post.title | escape }}
    </h2>
    </a>
    {% if newest_post.tags.size > 0 %}
      <div class="blog-inner-tag-label">
        <ul class="list--inline" aria-label="{{ 'blogs.newest_post.tags' | t }}">
          {% for tag in newest_post.tags %}
            <li>
              <a href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
    {% comment %}
    {% if section.settings.blog_show_author %}
      <div class="blogpost-title">{{ 'blogs.article.by_author' | t: author: newest_post.author }}</div>
    {% endif %} {% endcomment %}
  </a>
</div>

<!--------->

  


  
{% comment %}<div class="blogs-archive article_main_div">{% endcomment %}
  <div class="">
  <div class="">
{% if section.settings.layout == 'grid' %}
  
  {% comment %}  <ul class="grid grid--uniform grid--blog">{% endcomment %}
  <ul class="grid grid--uniform grid--blog ul-list-blogpost">
  
      {% for article in blog.articles %}
         {% unless forloop.first %}
        {% comment %}<li class="grid__item medium-up--one-third">{% endcomment %}
        <li class="list-item-blogpost">
          <a href="{{ article.url }}" class="article__link article_link_custom">
            {% if article.image %}
              {% capture img_id %}ArticleImage-{{ article.image.id }}{% endcapture %}
              {% capture img_wrapper_id %}ArticleImageWrapper-{{ article.image.id }}{% endcapture %}
              {%- assign img_url = article.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

              {% include 'image-style', image: article.image, height: 345, wrapper_id: img_wrapper_id, img_id: img_id %}
              <div id="{{ img_wrapper_id }}" class="article__grid-image-wrapper js">
                <div class="article__grid-image-container" style="padding-top:{{ 1 | divided_by: article.image.aspect_ratio | times: 100 }}%;" data-image-loading-animation>
                  <img id="{{ img_id }}"
                      class="article__grid-image lazyload"
                      data-src="{{ img_url }}"
                      data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                      data-aspectratio="{{ article.image.aspect_ratio }}"
                      data-sizes="auto"
                      alt="">
                </div>
              </div>
              <noscript>
                <div class="article__grid-image-wrapper">
                  {{ article | img_url: '345x345', scale: 2 | img_tag: article.title, 'article__grid-image' }}
                </div>
              </noscript>
            {% endif %}
</a>
           
         <a href="{{ article.url }}" class="">
            <h2 class="blogpost-title">

              {{ article.title | escape }}
            </h2>
         </a>
 {% if article.tags.size > 0 %}
              {% comment %}<div class="article__tags rte blog-inner-tag">  {% endcomment %}
              <div class="">
                <div class="blog-inner-tag-label">
                <ul class="list--inline" aria-label="{{ 'blogs.article.tags' | t }}">
                  {% for tag in article.tags %}
                    <li>
                      <a href="{{ blog.url }}/tagged/{{ tag | handle }}" class="article__grid-tag">{{ tag }}</a>
                    </li>
                  {% endfor %}
                </ul>
                </div>
              </div>
            {% endif %}
 {% comment %}
            {% if section.settings.blog_show_author %}
              <div class="blogpost-title" style="">{{ 'blogs.article.by_author' | t: author: article.author }}</div>
            {% endif %} {% endcomment %}
          

          {% comment %}<div class="article__grid-meta{% if article.image %} article__grid-meta--has-image{% endif %}">
            

            {% if section.settings.blog_show_date %}
              <span class="article__date">
                {{ article.published_at | time_tag: format: 'date' }}
              </span>
            {% endif %}

            <div class="rte article__grid-excerpt">
              {% if article.excerpt.size > 0 %}
                {{ article.excerpt }}
              {% else %}
                {{ article.content | strip_html | truncate: 150 }}
              {% endif %}
            </div>

            

            <ul class="list--inline article__meta-buttons">
              <li>
                <a href="{{ article.url }}" class="btn btn--tertiary btn--small" aria-label="{{ 'blogs.article.read_more_title' | t: title: article.title }}">
                  {{ 'blogs.article.read_more' | t }}
                </a>
              </li>

              {% if blog.comments_enabled? and article.comments_count > 0 %}
                <li>
                  <a href="{{ article.url }}#comments" class="article__comment-count btn btn--tertiary btn--small">
                    {{ 'blogs.comments.comments_with_count' | t: count: article.comments_count }}
                  </a>
                </li>
              {% endif %}
            </ul>
          </div>
        {% endcomment %}
        </li>
            {% endunless %}
      {% endfor %}
    </ul>
  </div>
{% else %}
  <ul class="blog-list-view">
    {% for article in blog.articles %}
      {% unless forloop.first %}
      <li class="border-top">
        <div class="page-width">
          <div class="grid">
            <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
              <div class="article-listing">
                <h2 class="article__title h3"><a href="{{ article.url }}">{{ article.title }}</a></h2>
                {% if section.settings.blog_show_author %}
                  <span class="article__author">{{ 'blogs.article.by_author' | t: author: article.author }}</span>
                {% endif %}

                {% if section.settings.blog_show_date %}
                  <span class="article__date">
                    {{ article.published_at | time_tag: format: 'date' }}
                  </span>
                {% endif %}

                {% if article.image %}
                  {% capture img_id %}ArticleImage-{{ article.image.id }}{% endcapture %}
                  {% capture img_wrapper_id %}ArticleImageWrapper-{{ article.image.id }}{% endcapture %}
                  {%- assign img_url = article.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

                  {% include 'image-style', image: article.image, height: 600, wrapper_id: img_wrapper_id, img_id: img_id %}

                  <div id="{{ img_wrapper_id }}" class="article__list-image-wrapper js">
                    <a href="{{ article.url }}" style="padding-top:{{ 1 | divided_by: article.image.aspect_ratio | times: 100 }}%;" class="article__list-image-container" data-image-loading-animation>
                      <img id="{{ img_id }}"
                           class="article__list-image lazyload"
                           data-src="{{ img_url }}"
                           data-widths="[180, 360, 540, 720, 905, 1090, 1296, 1512, 1728, 2048]"
                           data-aspectratio="{{ article.image.aspect_ratio }}"
                           data-sizes="auto"
                           alt="">
                    </a>
                  </div>

                  <noscript>
                    <p>
                      <a href="{{ article.url }}">
                        {{ article | img_url: '455x300', scale: 2 | img_tag: article.title }}
                      </a>
                    </p>
                  </noscript>
                {% endif %}

                <div class="rte">
                  {% if article.excerpt.size > 0 %}
                    {{ article.excerpt }}
                  {% else %}
                    {{ article.content | strip_html | truncate: 150 }}
                  {% endif %}
                </div>

                {% if article.tags.size > 0 %}
                  <div class="article__tags article__tags--list rte">
                    {{ 'blogs.article.posted_in' | t }}
                    {% for tag in article.tags %}
                      <a href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}
                    {% endfor %}
                  </div>
                {% endif %}

                <ul class="list--inline article__meta-buttons">
                  <li>
                    <a href="{{ article.url }}" class="btn btn--tertiary btn--small" aria-label="{{ 'blogs.article.read_more_title' | t: title: article.title }}">
                      {{ 'blogs.article.read_more' | t }}
                    </a>
                  </li>

                  {% if blog.comments_enabled? and article.comments_count > 0 %}
                    <li>
                      <a href="{{ article.url }}#comments" class="article__comment-count btn btn--tertiary btn--small">
                        {{ 'blogs.comments.comments_with_count' | t: count: article.comments_count }}
                      </a>
                    </li>
                  {% endif %}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </li>
       {% endunless %}
    {% endfor %}
  </ul>
{% endif %}
  </div>
{% comment %}
<div class="blogs-archive-right">
    <div id="sidebar" class="blog-single__sidebar col-md-3 col-xs-12  pull-right">
<div id="secondary" class="widget-area" role="complementary">
	<aside id="custom_html-2" class="widget_text widget widget_custom_html"><h4 class="widget-title">Subscribe</h4><div class="textwidget custom-html-widget"><!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
    {% form 'customer', id: formId, novalidate: 'novalidate', class: 'contact-form form-single-field' %}
      {%- if form.posted_successfully? -%}
        <p class="form-message form-message--success" tabindex="-1" data-form-status>
          {{ 'general.newsletter_form.confirmation' | t }}

msg successful
        </p>
      {%- endif -%}
      <input type="hidden" name="contact[tags]" value="newsletter">
      <div class="input-group {% if form.errors %} input-group--error{% endif %}">
        <input type="email"
          name="contact[email]"
          id="{{ formId }}-email"
          class="input-group__field{% if form.errors %} input--error{% endif %}"
          value="{{ form.email }}"
          placeholder="{{ 'general.newsletter_form.email_placeholder' | t }}"
          aria-label="{{ 'general.newsletter_form.email_placeholder' | t }}"
          aria-required="true"
          autocorrect="off"
          autocapitalize="off"
          {% if form.errors %}
            aria-invalid="true"
            aria-describedby="{{ formId }}-email-error"
            data-form-status
          {% endif %}
          >
        <span class="input-group__btn">
          <button type="submit" class="btn" name="commit">
            <span>{{ 'general.newsletter_form.submit' | t }}</span>
          </button>
        </span>
      </div>
      {%- if form.errors contains 'email' -%}
        <span id="{{ formId }}-email-error" class="input-error-message">
          <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
          {% include 'icon-error' %}
          <span>{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.</span>
        </span>
      {%- endif -%}
    {% endform %}
</div>

<!--End mc_embed_signup-->
    </div></aside>

 <aside id="categories-4" class="widget widget_categories">
  <!--<h4 class="widget-title">Search by Blog Category</h4>-->
    <form action="https://socialhospitality.com" method="get">
      <label class="screen-reader-text" for="cat">Search by Blog Category</label>
      <select name="cat" id="cat" class="postform">
    	
        {% for link in linklists.blog-categores.links %}
    	   <option class="level-1" value="{{ link.url }}"> <a href="{{ link.url }}">{{ link.title }}</a></option>
        {% endfor %}
     </select>
    </form>

<script type="text/javascript">

jQuery(function($) {
	$('select').on('change', function() {
		var url = $(this).val();
		if (url) {
			window.location = url;
		}
		return false;
	});
});
</script>
 </aside>
 
<aside id="search-5" class="widget widget_search">
  <div class="search-bar__interior">
    <div class="search-form__container" data-search-form-container>
      <form class="search-form search-bar__form" action="{{ routes.search_url }}" method="get" role="search">
        <label class="screen-reader-text">Search for:</label>
        <div class="search-form__input-wrapper">
          <input
            type="text"
            name="q"
            placeholder="{{ 'general.search.placeholder' | t }}"
            role="combobox"
            aria-autocomplete="list"
            aria-owns="predictive-search-results"
            aria-expanded="false"
            aria-label="{{ 'general.search.placeholder' | t }}"
            aria-haspopup="listbox"
            class="search-form__input search-bar__input"
            data-predictive-search-drawer-input
          />
          <input type="hidden" name="options[prefix]" value="last" aria-hidden="true" />
          <div class="predictive-search-wrapper predictive-search-wrapper--drawer" data-predictive-search-mount="drawer"></div>
        </div>

        <button class="search-bar__submit search-form__submit"
          type="submit"
          data-search-form-submit>
          {% include 'icon-search' %}
          <span class="icon__fallback-text">{{ 'general.search.submit' | t }}</span>
        </button>
      </form>
    </div>
  </div>
</aside>
</div>
</div> 
</div>{% endcomment %}
</div>

{%- if paginate.pages > 1 -%}
  {% include 'pagination', paginate: paginate %}
{%- endif -%}
{% endpaginate %}



<style>
.featured-posts{
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
  color: white;
  margin: 0;
}
.featured-posts-2{
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
  color: white;
  margin: 0;
}
.column-25 {
  flex: 1;
  width: 25%;
  padding: 10px;
  align-content: center;
  display: grid;
}

.column-75 {
  flex: 3;
  width: 75%;
  padding: 10px;
  align-content: center;
  display: grid;
}
.page-width-featured-posts {
    max-width: 1100px;
    margin: 0 auto;
}
@media screen and (max-width: 755px) {
  .featured-posts{
     flex-direction: column;
  }
}
</style>
{% assign url1 = blog.metafields.custom.featured_article_1 %}
{% assign url2 = blog.metafields.custom.featured_article_2 %}
{% assign url3 = blog.metafields.custom.featured_article_3 %}
{% assign url4 = blog.metafields.custom.featured_article_4 %}
{% assign url5 = blog.metafields.custom.featured_article_5 %}
{% assign url6 = blog.metafields.custom.featured_article_6 %}
      
{% comment %}
{% if url1 != null and url2 != null and url3 != null %}
  {% endcomment %}
<script>
  var blogData = {{ blog.handle | json}};
  console.log(blogData);
</script>
      {% assign currentBlog = blogs[blog.handle] %}
       {% paginate currentBlog.articles by 1000 %}
      
          {% for article in currentBlog.articles %}
            {% if article.url == url1 %}
              {% assign article1 = article %}
            {% endif %}
            {% if article.url == url2 %}
              {% assign article2 = article %}
            {% endif %}
            {% if article.url == url3 %}
              {% assign article3 = article %}
            {% endif %}
            {% if article.url == url4 %}
              {% assign article4 = article %}
            {% endif %}
            {% if article.url == url5 %}
              {% assign article5 = article %}
            {% endif %}
            {% if article.url == url6 %}
              {% assign article6 = article %}
            {% endif %}
        {% endfor %}
      {% endpaginate %}


{% if article1 != null and article2 != null and article3 != null %}
<div class="page-width-featured-posts">
  <div class="top-category-bar">
    <div class="column">
      <div class="top-category-bar-2">
        <div class="column featured-post-container">
          
          <h2>FEATURED POSTS</h2>
        
        </div>
        <div class="column div-line">
        </div>
      </div>
    </div>
    <div class="column">
      
    </div>
  </div>
</div>
<div class="page-width-featured-posts">
    <div class="featured-posts">
                    <div class="column">
                      <div class="featured-posts-2">
                        <div class="column-25">
                         <img srcset="
                                {%- if article1.image.src.width >= 165 -%}{{ article1.image.src | img_url: '165x' }} 165w,{%- endif -%}
                                {%- if article1.image.src.width >= 360 -%}{{ article1.image.src | img_url: '360x' }} 360w,{%- endif -%}
                                {%- if article1.image.src.width >= 533 -%}{{ article1.image.src | img_url: '533x' }} 533w,{%- endif -%}
                                {%- if article1.image.src.width >= 720 -%}{{ article1.image.src | img_url: '720x' }} 720w,{%- endif -%}
                                {%- if article1.image.src.width >= 1000 -%}{{ article1.image.src | img_url: '1000x' }} 1000w,{%- endif -%}
                                {%- if article1.image.src.width >= 1500 -%}{{ article1.image.src | img_url: '1500x' }} 1500w,{%- endif -%}
                                {{ article1.image.src | img_url: 'master' }} {{ article1.image.src.width }}w
                              "
                              src="{{ article1.image.src | img_url: '533x' }}"
                              height="50px"
                              width="76px"
                              alt="{{ article1.image.src.alt | escape }}"
                              loading="lazy"
                              class="motion-reduce blogv2__image "
                            >
                        </div>
                        <div class="column-75"> 
                          <a href="{{ article1.url }}" class="">
                            <p class="blogpost-title" style="text-align: left;">
                
                              {{ article1.title }}
                            </p>
                         </a>
                        </div>
                      </div>
                    </div>
                    <div class="column">
                      <div class="featured-posts-2">
                        <div class="column-25">
                         <img srcset="
                                {%- if article2.image.src.width >= 165 -%}{{ article2.image.src | img_url: '165x' }} 165w,{%- endif -%}
                                {%- if article2.image.src.width >= 360 -%}{{ article2.image.src | img_url: '360x' }} 360w,{%- endif -%}
                                {%- if article2.image.src.width >= 533 -%}{{ article2.image.src | img_url: '533x' }} 533w,{%- endif -%}
                                {%- if article2.image.src.width >= 720 -%}{{ article2.image.src | img_url: '720x' }} 720w,{%- endif -%}
                                {%- if article2.image.src.width >= 1000 -%}{{ article2.image.src | img_url: '1000x' }} 1000w,{%- endif -%}
                                {%- if article2.image.src.width >= 1500 -%}{{ article2.image.src | img_url: '1500x' }} 1500w,{%- endif -%}
                                {{ article2.image.src | img_url: 'master' }} {{ article2.image.src.width }}w
                              "
                              src="{{ article2.image.src | img_url: '533x' }}"
                              height="50px"
                              width="76px"
                              alt="{{ article2.image.src.alt | escape }}"
                              loading="lazy"
                              class="motion-reduce blogv2__image "
                            >
                        </div>
                        <div class="column-75"> 
                          <a href="{{ article2.url }}" class="">
                            <p class="blogpost-title" style="text-align: left;">
                
                              {{ article2.title }}
                            </p>
                         </a>
                        </div>
                      </div>
                    </div>
                    <div class="column">
                      <div class="featured-posts-2">
                        <div class="column-25">
                         <img srcset="
                                {%- if article3.image.src.width >= 165 -%}{{ article3.image.src | img_url: '165x' }} 165w,{%- endif -%}
                                {%- if article3.image.src.width >= 360 -%}{{ article3.image.src | img_url: '360x' }} 360w,{%- endif -%}
                                {%- if article3.image.src.width >= 533 -%}{{ article3.image.src | img_url: '533x' }} 533w,{%- endif -%}
                                {%- if article3.image.src.width >= 720 -%}{{ article3.image.src | img_url: '720x' }} 720w,{%- endif -%}
                                {%- if article3.image.src.width >= 1000 -%}{{ article3.image.src | img_url: '1000x' }} 1000w,{%- endif -%}
                                {%- if article3.image.src.width >= 1500 -%}{{ article3.image.src | img_url: '1500x' }} 1500w,{%- endif -%}
                                {{ article3.image.src | img_url: 'master' }} {{ article3.image.src.width }}w
                              "
                              src="{{ article3.image.src | img_url: '533x' }}"
                              height="50px"
                              width="76px"
                              alt="{{ article3.image.src.alt | escape }}"
                              loading="lazy"
                              class="motion-reduce blogv2__image "
                            >
                        </div>
                        <div class="column-75"> 
                          <a href="{{ article3.url }}" class="">
                            <p class="blogpost-title" style="text-align: left;">
                
                              {{ article3.title }}
                            </p>
                         </a>
                        </div>
                      </div>
                    </div>
               


  </div>
</div>

{% if article4 != null and article5 != null and article6 != null %}
<div class="page-width-featured-posts">
    <div class="featured-posts">
                    <div class="column">
                      <div class="featured-posts-2">
                        <div class="column-25">
                         <img srcset="
                                {%- if article4.image.src.width >= 165 -%}{{ article4.image.src | img_url: '165x' }} 165w,{%- endif -%}
                                {%- if article4.image.src.width >= 360 -%}{{ article4.image.src | img_url: '360x' }} 360w,{%- endif -%}
                                {%- if article4.image.src.width >= 533 -%}{{ article4.image.src | img_url: '533x' }} 533w,{%- endif -%}
                                {%- if article4.image.src.width >= 720 -%}{{ article4.image.src | img_url: '720x' }} 720w,{%- endif -%}
                                {%- if article4.image.src.width >= 1000 -%}{{ article4.image.src | img_url: '1000x' }} 1000w,{%- endif -%}
                                {%- if article4.image.src.width >= 1500 -%}{{ article4.image.src | img_url: '1500x' }} 1500w,{%- endif -%}
                                {{ article4.image.src | img_url: 'master' }} {{ article4.image.src.width }}w
                              "
                              src="{{ article4.image.src | img_url: '533x' }}"
                              height="50px"
                              width="76px"
                              alt="{{ article4.image.src.alt | escape }}"
                              loading="lazy"
                              class="motion-reduce blogv2__image "
                            >
                        </div>
                        <div class="column-75"> 
                          <a href="{{ article4.url }}" class="">
                            <p class="blogpost-title" style="text-align: left;">
                
                              {{ article4.title }}
                            </p>
                         </a>
                        </div>
                      </div>
                    </div>
                    <div class="column">
                      <div class="featured-posts-2">
                        <div class="column-25">
                         <img srcset="
                                {%- if article5.image.src.width >= 165 -%}{{ article5.image.src | img_url: '165x' }} 165w,{%- endif -%}
                                {%- if article5.image.src.width >= 360 -%}{{ article5.image.src | img_url: '360x' }} 360w,{%- endif -%}
                                {%- if article5.image.src.width >= 533 -%}{{ article5.image.src | img_url: '533x' }} 533w,{%- endif -%}
                                {%- if article5.image.src.width >= 720 -%}{{ article5.image.src | img_url: '720x' }} 720w,{%- endif -%}
                                {%- if article5.image.src.width >= 1000 -%}{{ article5.image.src | img_url: '1000x' }} 1000w,{%- endif -%}
                                {%- if article5.image.src.width >= 1500 -%}{{ article5.image.src | img_url: '1500x' }} 1500w,{%- endif -%}
                                {{ article5.image.src | img_url: 'master' }} {{ article5.image.src.width }}w
                              "
                              src="{{ article5.image.src | img_url: '533x' }}"
                              height="50px"
                              width="76px"
                              alt="{{ article5.image.src.alt | escape }}"
                              loading="lazy"
                              class="motion-reduce blogv2__image "
                            >
                        </div>
                        <div class="column-75"> 
                          <a href="{{ article5.url }}" class="">
                            <p class="blogpost-title" style="text-align: left;">
                
                              {{ article5.title }}
                            </p>
                         </a>
                        </div>
                      </div>
                    </div>
                    <div class="column">
                      <div class="featured-posts-2">
                        <div class="column-25">
                         <img srcset="
                                {%- if article6.image.src.width >= 165 -%}{{ article6.image.src | img_url: '165x' }} 165w,{%- endif -%}
                                {%- if article6.image.src.width >= 360 -%}{{ article6.image.src | img_url: '360x' }} 360w,{%- endif -%}
                                {%- if article6.image.src.width >= 533 -%}{{ article6.image.src | img_url: '533x' }} 533w,{%- endif -%}
                                {%- if article6.image.src.width >= 720 -%}{{ article6.image.src | img_url: '720x' }} 720w,{%- endif -%}
                                {%- if article6.image.src.width >= 1000 -%}{{ article6.image.src | img_url: '1000x' }} 1000w,{%- endif -%}
                                {%- if article6.image.src.width >= 1500 -%}{{ article6.image.src | img_url: '1500x' }} 1500w,{%- endif -%}
                                {{ article6.image.src | img_url: 'master' }} {{ article6.image.src.width }}w
                              "
                              src="{{ article6.image.src | img_url: '533x' }}"
                              height="50px"
                              width="76px"
                              alt="{{ article6.image.src.alt | escape }}"
                              loading="lazy"
                              class="motion-reduce blogv2__image "
                            >
                        </div>
                        <div class="column-75"> 
                          <a href="{{ article6.url }}" class="">
                            <p class="blogpost-title" style="text-align: left;">
                
                              {{ article6.title }}
                            </p>
                         </a>
                        </div>
                      </div>
                    </div>
               


  </div>
</div>
 {% endif %}
 {% endif %}
{% comment %}

{% endif %}
  {% endcomment %}

<div class="text-center return-link-wrapper page-width">
  <a href="/pages/all-blogs" class="btn btn--secondary btn--has-icon-before">
    {% include 'icon-arrow-left' %}
    BACK TO CATEGORIES
  </a>
</div>

</div>

{% schema %}
{
  "name": {
    "cs": "Stránky blogu",
    "da": "Blogsider",
    "de": "Blogseiten",
    "en": "Blog pages",
    "es": "Páginas del blog",
    "fi": "Blogisivut",
    "fr": "Pages du blog",
    "hi": "ब्लॉग पेज",
    "it": "Pagine del blog",
    "ja": "ブログページ",
    "ko": "블로그 페이지",
    "nb": "Bloggsider",
    "nl": "Blogpagina's",
    "pl": "Strony blogu",
    "pt-BR": "Páginas do blog",
    "pt-PT": "Páginas do blogue",
    "sv": "Bloggsidor",
    "th": "หน้าบล็อก",
    "tr": "Blog sayfaları",
    "vi": "Trang blog",
    "zh-CN": "博客页面",
    "zh-TW": "部落格頁面"
  },
  "settings": [
    {
      "type": "select",
      "id": "layout",
      "label": {
        "cs": "Rozvržení",
        "da": "Layout",
        "de": "Layout",
        "en": "Layout",
        "es": "Diseño",
        "fi": "Asettelu",
        "fr": "Mise en page",
        "hi": "लेआउट",
        "it": "Layout",
        "ja": "レイアウト",
        "ko": "레이아웃",
        "nb": "Oppsett",
        "nl": "Opmaak",
        "pl": "Układ",
        "pt-BR": "Layout",
        "pt-PT": "Esquema",
        "sv": "Layout",
        "th": "เลย์เอาต์",
        "tr": "Düzen",
        "vi": "Bố cục",
        "zh-CN": "布局",
        "zh-TW": "版面配置"
      },
      "default": "list",
      "options": [
        {
          "value": "grid",
          "label": {
            "cs": "Mřížka",
            "da": "Gitter",
            "de": "Raster",
            "en": "Grid",
            "es": "Cuadrícula",
            "fi": "Ruudukko",
            "fr": "Grille",
            "hi": "ग्रिड",
            "it": "Griglia",
            "ja": "グリッド",
            "ko": "그리드",
            "nb": "Rutenett",
            "nl": "Raster",
            "pl": "Siatka",
            "pt-BR": "Grade",
            "pt-PT": "Grelha",
            "sv": "Rutnät",
            "th": "กริด",
            "tr": "Izgara",
            "vi": "Lưới",
            "zh-CN": "网格",
            "zh-TW": "網格"
          }
        },
        {
          "value": "list",
          "label": {
            "cs": "Seznam",
            "da": "Liste",
            "de": "Liste",
            "en": "List",
            "es": "Lista",
            "fi": "Luettelo",
            "fr": "Liste",
            "hi": "सूची",
            "it": "Elenco",
            "ja": "リスト",
            "ko": "목록",
            "nb": "Liste",
            "nl": "Lijst",
            "pl": "Lista",
            "pt-BR": "Lista",
            "pt-PT": "Lista",
            "sv": "Lista",
            "th": "รายการ",
            "tr": "Liste",
            "vi": "Danh sách",
            "zh-CN": "列表",
            "zh-TW": "清單"
          }
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "blog_show_author",
      "label": {
        "cs": "Zobrazit autora",
        "da": "Vis forfatter",
        "de": "Autor anzeigen",
        "en": "Show author",
        "es": "Mostrar autor",
        "fi": "Näytä tekijä",
        "fr": "Afficher l'auteur",
        "hi": "लेखक दिखाएं",
        "it": "Mostra autore",
        "ja": "執筆者を表示する",
        "ko": "작성자 표시",
        "nb": "Vis forfatter",
        "nl": "Auteur weergeven",
        "pl": "Pokaż autora",
        "pt-BR": "Exibir autor",
        "pt-PT": "Mostrar autor",
        "sv": "Visa författare",
        "th": "แสดงผู้เขียน",
        "tr": "Yazarı göster",
        "vi": "Hiển thị tác giả",
        "zh-CN": "显示作者",
        "zh-TW": "顯示作者"
      },
      "default": true
    },
    {
      "type": "checkbox",
      "id": "blog_show_date",
      "label": {
        "cs": "Zobrazit datum",
        "da": "Vis dato",
        "de": "Datum anzeigen",
        "en": "Show date",
        "es": "Mostrar fecha",
        "fi": "Näytä päivämäärä",
        "fr": "Afficher la date",
        "hi": "दिनांक दिखाएं",
        "it": "Mostra data",
        "ja": "日付を表示する",
        "ko": "날짜 표시",
        "nb": "Vis dato",
        "nl": "Datum weergeven",
        "pl": "Pokaż datę",
        "pt-BR": "Exibir data",
        "pt-PT": "Mostrar data",
        "sv": "Visa datum",
        "th": "แสดงวันที่",
        "tr": "Tarihi göster",
        "vi": "Hiển thị ngày",
        "zh-CN": "显示日期",
        "zh-TW": "顯示日期"
      },
      "default": true
    }
  ]
}
{% endschema %}
