{% if section.settings.maintitleone != blank or section.settings.Imageone != blank %}
   <section class="js-cluster-wrapper zpa-cross-part-image-right-112-v2 zp ba-5448820" data-id="5448820" id="1489970" data-zp-crm-btn-popup="">
        <div class="js-cluster zp cac-5448820">
          <div class="flex-row page-width"> 
            <div class="xs-12 sm-6 last-xs first-sm"> 
              <div class="default-styles-wrapper zpa-word-wrap disable-internal-link zp ba-5448818" data-id="5448818">
                {{ section.settings.maintitleone }}
              </div>
            </div> 
            <div class="xs-12 sm-6 zpa-mobile-offset-bottom-xs"> 
              <div class="zpa-mobile-align--center zpa-align--center zp ba-5448819" data-id="5448819">
                <!-- <a data-link="">  -->
                  <img alt="" src="{{ section.settings.Imageone | img_url: 'master' }}" width="630" height="484"> 
                <!-- </a>  -->
              </div> 
            </div>
          </div> 
        </div>
      </section>
       <section class="divider-section js-cluster-wrapper zpa-divider-091-v2 cluster-padding-small zp ba-5448823" data-id="5448823" id="1489971"><div class="js-cluster zp cac-5448823"> <div class="flex-row page-width"> <div class="xs-12"> <div class="zpa-divider-style-solid zpa-divider-thickness-small zpa-divider-width-xlarge zpa-center-block zp ba-5448822" data-id="5448822"></div> </div> </div> </div></section>   

{% endif %}

{% if section.settings.maintitletwo != blank or section.settings.Imagetwo != blank %}
      <section class="js-cluster-wrapper zpa-cross-part-image-right-112-v2 zp ba-5448820" data-id="5448820" id="1489970" data-zp-crm-btn-popup="">
        <div class="js-cluster zp cac-5448820">
          <div class="flex-row page-width"> 
            <div class="xs-12 sm-6 last-xs first-sm"> 
              <div class="default-styles-wrapper zpa-word-wrap disable-internal-link zp ba-5448818" data-id="5448818">
               {{ section.settings.maintitletwo }} 
              </div>
            </div> 
            <div class="xs-12 sm-6 zpa-mobile-offset-bottom-xs"> 
              <div class="zpa-mobile-align--center zpa-align--center zp ba-5448819" data-id="5448819">
                <!-- <a data-link="">  -->
                  <img alt="" src="{{ section.settings.Imagetwo | img_url: 'master' }}" width="630" height="484"> 
                <!-- </a>  -->
              </div> 
            </div>
          </div> 
        </div>
      </section>
       <section class="divider-section js-cluster-wrapper zpa-divider-091-v2 cluster-padding-small zp ba-5448823" data-id="5448823" id="1489971"><div class="js-cluster zp cac-5448823"> <div class="flex-row page-width"> <div class="xs-12"> <div class="zpa-divider-style-solid zpa-divider-thickness-small zpa-divider-width-xlarge zpa-center-block zp ba-5448822" data-id="5448822"></div> </div> </div> </div></section>   
{% endif %}

{% if section.settings.maintitlethree != blank or section.settings.Imagethree != blank %}
      <section class="js-cluster-wrapper zpa-cross-part-image-right-112-v2 zp ba-5448820" data-id="5448820" id="1489970" data-zp-crm-btn-popup="">
        <div class="js-cluster zp cac-5448820">
          <div class="flex-row page-width"> 
            <div class="xs-12 sm-6 last-xs first-sm"> 
              <div class="default-styles-wrapper zpa-word-wrap disable-internal-link zp ba-5448818" data-id="5448818">
                {{ section.settings.maintitlethree }}
              </div>
            </div> 
            <div class="xs-12 sm-6 zpa-mobile-offset-bottom-xs"> 
              <div class="zpa-mobile-align--center zpa-align--center zp ba-5448819" data-id="5448819">
                <!-- <a data-link="">  -->
                  <img alt="" src="{{ section.settings.Imagethree | img_url: 'master' }}" width="630" height="484"> 
                <!-- </a>  -->
              </div> 
            </div>
          </div> 
        </div>
      </section>

      <section class="divider-section js-cluster-wrapper zpa-divider-091-v2 cluster-padding-small zp ba-5448823" data-id="5448823" id="1489971"><div class="js-cluster zp cac-5448823"> <div class="flex-row page-width"> <div class="xs-12"> <div class="zpa-divider-style-solid zpa-divider-thickness-small zpa-divider-width-xlarge zpa-center-block zp ba-5448822" data-id="5448822"></div> </div> </div> </div></section>   
{% endif %}
{% if section.settings.maintitlefour != blank or section.settings.Imagefour != blank %}
      <section class="js-cluster-wrapper zpa-cross-part-image-right-112-v2 zp ba-5448820" data-id="5448820" id="1489970" data-zp-crm-btn-popup="">
         <div class="js-cluster zp cac-5448820">
          <div class="flex-row page-width"> 
            <div class="xs-12 sm-6 last-xs first-sm"> 
              <div class="default-styles-wrapper zpa-word-wrap disable-internal-link zp ba-5448818" data-id="5448818">
                {{ section.settings.maintitlefour }} 
              </div>
            </div> 
            <div class="xs-12 sm-6 zpa-mobile-offset-bottom-xs"> 
              <div class="zpa-mobile-align--center zpa-align--center zp ba-5448819" data-id="5448819">
                <!-- <a data-link="">  -->
                  <img alt="" src="{{ section.settings.Imagefour | img_url: 'master' }}" width="630" height="484"> 
                <!-- </a>  -->
              </div> 
            </div>
          </div> 
        </div>
        </section>

      <section class="divider-section js-cluster-wrapper zpa-divider-091-v2 cluster-padding-small zp ba-5448823" data-id="5448823" id="1489971"><div class="js-cluster zp cac-5448823"> <div class="flex-row page-width"> <div class="xs-12"> <div class="zpa-divider-style-solid zpa-divider-thickness-small zpa-divider-width-xlarge zpa-center-block zp ba-5448822" data-id="5448822"></div> </div> </div> </div></section>   
{% endif %}
{% if section.settings.btn != blank %}
      <section class="js-cluster-wrapper zpa-plain-button-005-v2 cluster-padding-large zp ba-19133108" data-id="19133108" id="4468864" data-zp-crm-btn-popup="">
        <div class="js-cluster zp cac-19133108"> 
          <div class="flex-row"> 
            <div class="xs-12 zpa-text-center-sm zpa-button-alignment-center"> 
              <a href="{{ section.settings.btn_url }}" data-type="custom_dest" target="_blank" role="button" class="zpa-btn-custom zpa-mobile-btn-size zpa-button-padding-large zp ba-19133109" data-id="19133109"> {{ section.settings.btn }} </a> 
            </div> 
          </div> 
        </div>
      </section>  
{% endif %}
      
{% schema %}
{
  "name": "Page Content Section",
  "tag": "section",
  "class": "section page-content-section",
  "settings": [
    {
      "type": "header",
      "content": "Text With Image One"
    },
    {
      "type": "richtext",
      "id": "maintitleone",
      "label": "Add Content here"
    },
    {
      "type": "image_picker",
      "id": "Imageone",
      "label": "image"
    },
    {
      "type": "header",
      "content": "Text With Image Two"
    },
    {
      "type": "richtext",
      "id": "maintitletwo",
      "label": "Add Content here"
    },
    {
      "type": "image_picker",
      "id": "Imagetwo",
      "label": "image"
    },
    {
      "type": "header",
      "content": "Text With Image Three"
    },
    {
      "type": "richtext",
      "id": "maintitlethree",
      "label": "Add Content here"
    },
    {
      "type": "image_picker",
      "id": "Imagethree",
      "label": "image"
    },
    {
      "type": "header",
      "content": "Text With Image four"
    },
    {
      "type": "richtext",
      "id": "maintitlefour",
      "label": "Add Content here"
    },
    {
      "type": "image_picker",
      "id": "Imagefour",
      "label": "image"
    },
    {
      "type": "header",
      "content": "Button"
    },
    {
      "type": "text",
      "id": "btn",
      "label": "Button"
    },
    {
      "type": "url",
      "id": "btn_url",
      "label": "Button URL"
    }
  ]
}
{% endschema %}        