<style>


/***Blog Responsive **/


@media only screen and (max-width: 767px) { 

/**Contact button left*/
  
div#b_s15o8fq2_482 > div {
    left: 20px !important;
    display: inline-table !important;
}

 
div#shopify-section-article-template-two .article_main_div .left {
    width: 100% !important;
    padding: 0px 15px;
}

div#shopify-section-article-template-two .rich-text__text--.rte-setting.text-left {
    padding-left: 15px !important;
}

div#shopify-section-article-template-two div#shopify-section-related-blogs {
    padding: 10px !important;
}
div#shopify-section-article-template-two .text-center.return-link-wrapper.page-width {
    margin-bottom: 40px !important;
}


div#shopify-section-article-template-two  div#secondary {
    background: #fff !important;
    padding: 10px !important;
}


div#shopify-section-article-template-two .article_main_div {
    display: block !important;
    padding: 0 0rem !important;
}
div#shopify-section-article-template-two .article_main_div .rte.right {
    width: 100% !important;
    background-color: #fff !important;
    padding-top: 10px !important;
    margin: 10px !important;
}
div#shopify-section-article-template-two .article_main_div .left{
    width:100% !important;
  }
div#shopify-section-article-template-two h1.entry-title.responsive-h4{

		
		font-size:2.2rem !important;
      
	
}

}


@media only screen and (max-width:540px) { 
  
div#shopify-section-article-template-two h1.entry-title.responsive-h4{

		
		font-size:2rem !important;
      
	
}

}


div#shopify-section-article-template-two {
    padding-top: 0;
}




@media only screen and (max-width: 1020px) and (min-width: 768px)  {

div#shopify-section-article-template-two .article_main_div{

		
		    padding: 0 1rem !important;
	
}

}



body.template-article.template-article, body.template-blog.template-blog {
    background-color: #f7f8f9;
    overflow-x: hidden;
}

@media only screen and (max-width: 767px) and (min-width: 320px)  {
 
   .shopify-section-article-template-two .article_author_info {
    margin-top: 15px !important;
    margin-left: 15px !important;
     width:85% !important;
   }

}

#shopify-section-article-template-two .article_author_info {

  width: 85%;

}


@media only screen and (min-width:767px) { 
div#shopify-section-article-template-two .section-header.text-center {
    margin: 10px 0px;
}

}

@media only screen and (max-width: 767px) and (min-width: 320px)  {

#shopify-section-article-template-two .article_author_info {
    width: 95%;
  margin-top:15px;
}
}

/**Related Blog posts*/

.Realated__Post__single {
    padding: 50px 0px;
}
.Realated__Post__single .result {
    display: flex;
    gap: 20px;
/*     justify-content: space-between; */
}
.Realated__Post__single .related__post__inner {
    width: 33.33%;
}
.Realated__Post__single .related__post__inner .crop img {
    width: 100%;
    height: 100%;
}

.Realated__Post__single .related__post__inner .crop {
    height: 300px;
    width: 100%;
}

.Realated__Post__single .related__post__inner__title h4 {
    font-size: 20px;
    margin: 15px 0px;
    font-weight: 700;
    line-height: 1.3;
  color:#000;
}


  .Realated__Post__single .single__post__title {
    text-align: center;
    margin: 40px 0px;
    font-size: 40px;
}

@media only screen and (max-width: 480px) and (min-width: 320px)  {

  .Realated__Post__single .related__post__inner {
    width: 100% !important;
}
  .Realated__Post__single .result {
    display: block;
  }
  
}
  @media only screen and (max-width: 1020px) and (min-width: 480px)  {

    .Realated__Post__single .related__post__inner {
    width: 50% !important;
}
  .Realated__Post__single .result {
    display: flex;
    justify-content:space-beetween;
  }
  
}

  .comment-form.form-vertical.single-blog-page {
    width: 60%;
    margin: 0 auto;
    padding: 50px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.13);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.comment-form.form-vertical.single-blog-page .grid__item.medium-up--one-half {
    width: 100%;
}
  @media only screen and (max-width:1020px) {
 .comment-form.form-vertical.single-blog-page {
    width: 100%;
	
	}
  }
/***Blog Responsive End **/


.rte.right {
    height: auto;
    width: 210px;
    float: right;
    position: relative;
    box-shadow: none;
    border: none;
    margin: 0;
    padding: 0;
}


  /****/
 

.social__icon__show {
    display: none !important;
}


  .social__toggle{
    cursor:pointer;
  }
 #mytoggleImage{
   width: 50px;
   height: 53px;
   margin-bottom: -15px;
    cursor:pointer;
 }

@media only screen and (max-width: 600px) {

 #mytoggleImage {
    width: 35px !important;
    height: 38px !important;

}

    }
  </style>
  <script>



  </script>
<!-- {{ blog.handle }} -->

<div class="Realated__Post__single">
<h4 class="single__post__title">Related Posts</h4>
  <div class="result"> 
  {% for tag in article.tags %}
  {% assign counter = 0 %}
  {% assign skip_articles = article.handle | split: '.....' %}
  {% for related_article in blog.articles %}
    {% if related_article.tags contains tag and counter < 6 %}
      {% unless skip_articles contains related_article.handle %}
        {% assign counter = counter | plus: 1 %}
        {% assign temp = related_article.handle | split: '.....' %}
        {% assign skip_articles = skip_articles | concat: temp %}
        <div class="well related__post__inner">
          <div class="crop"><a href="{{ related_article.url }}">{{ related_article.image.src | img_url: 'medium' | img_tag: related_article.title }}</a></div> 
          <div class="related__post__inner__title"><h4 class="title"><a href="{{ related_article.url }}">{{ related_article.title }}</a></h4></div>
          {% if related_article.excerpt.size > 0 %}
            <p>{{ related_article.excerpt }}</p>
        {% comment %}  {% else %}
            <p>{{ related_article.content | truncatewords: 40 }}</p>
            {% endcomment %}
          {% endif %}
        </div>
      {% endunless %}
    {% endif %}
  {% endfor %}
  {% endfor %}
  </div>  
</div>


{% schema %}
  {
    "name": "Related blog post",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}