<style>
  /* Black NavBar */
  :root {
      --ss-wpadminbar-height: 0px;
      --color-border: #000000;
  }

  #shopify-section-header{
      background-color: #000000
  }
  .site-header__mobile-nav {
      background-color: #000000
  }

  .gm-menu-installed .gm-menu.gm-menu-8095 {
      background-color: #000000 !important
  }
  .site-header {
      background-color: #000000
  }
  .gm-menu-installed .gm-menu.gm-menu-8095.gm-bordered:not(.gm-menu-mobile):not(.gm-vertical) > .gm-level-0 + .gm-level-0{
      border-left: none !important
  }
  .gm-menu-installed .gm-menu.gm-menu-8095 .gm-item.gm-level-0 > .gm-target > .gm-icon, .gm-menu-installed .gm-menu.gm-menu-8095 .gm-item.gm-level-0 > .gm-target > .gm-text, .gm-menu-installed .gm-menu.gm-menu-8095 .gm-item.gm-level-0 > .gm-target > .gm-retractor {
      color: #ffffff !important
  }
  gm-active{
    background-color: #b72e2e !important
  }
  .btn--link {
      color: white;
  }
  .site-header__icons-wrapper a{
    color: white;
  }
  .btn--link:not([disabled]):hover, .btn--link:focus {
      color: white;

  }
  /* end Black NavBar */

  h1 {
    font-family: sans-serif !important;
    font-weight: 800;
  }
  .row {
      margin-right: 0px;
      margin-left: 0px;
  }
  .insulin-category{
    background: rgb(61, 222, 237);
    background: -moz-linear-gradient(180deg, rgba(61, 222, 237, 1) 20%, rgba(3, 19, 202, 1) 88%);
    background: -webkit-linear-gradient(180deg, rgba(61, 222, 237, 1) 20%, rgba(3, 19, 202, 1) 88%);
    background: linear-gradient(181deg, rgb(255 255 255 / 54%) 44%, #262626 76%);
    background-image: linear-gradient(to bottom, rgb(0 0 0 / 38%), rgb(0 0 0)), url(//biosourcenutra.com/cdn/shop/articles/HIIT_1.png?v=1694655830);
  }
  .intermittent-fasting-category{
    background: rgb(61, 222, 237);
    background: -moz-linear-gradient(180deg, rgba(61, 222, 237, 1) 20%, rgba(3, 19, 202, 1) 88%);
    background: -webkit-linear-gradient(180deg, rgba(61, 222, 237, 1) 20%, rgba(3, 19, 202, 1) 88%);
    background: linear-gradient(181deg, rgb(255 255 255 / 54%) 44%, #262626 76%);
    background-image: linear-gradient(to bottom, rgb(0 0 0 / 38%), rgb(0 0 0)), url(//biosourcenutra.com/cdn/shop/articles/1-2.png?v=1685341187);
  }

  .weight-loss-category{
    background-image: linear-gradient(to bottom, rgb(0 0 0 / 38%), rgb(0 0 0)), url(//cdn.shopify.com/s/files/1/0268/2306/5772/files/Weight_Loss.jpg?v=1702329585);
  }
  .nutrition-category{
    background-image: linear-gradient(to bottom, rgb(0 0 0 / 38%), rgb(0 0 0)), url(//cdn.shopify.com/s/files/1/0268/2306/5772/files/Nutrition.jpg?v=1702329584);
  }
  .lifestyle-category{
    background-image: linear-gradient(to bottom, rgb(0 0 0 / 38%), rgb(0 0 0)), url(//cdn.shopify.com/s/files/1/0268/2306/5772/files/Lifestyle.jpg?v=1702329584);
  }
  .excercise-category{
    background-image: linear-gradient(to bottom, rgb(0 0 0 / 38%), rgb(0 0 0)), url(//cdn.shopify.com/s/files/1/0268/2306/5772/files/excercise_3e63a9e1-f7fb-4566-b6f3-097382641eaf.jpg?v=1707839306);
  }
  .recipes-category{
    background-image: linear-gradient(to bottom, rgb(0 0 0 / 38%), rgb(0 0 0)), url(//cdn.shopify.com/s/files/1/0268/2306/5772/files/Recipes.jpg?v=1702329584);
  }
  .diet-profiles-meal-plans-category{
    background-image: linear-gradient(to bottom, rgb(0 0 0 / 38%), rgb(0 0 0)), url(//cdn.shopify.com/s/files/1/0268/2306/5772/files/Diet_ProfilesMeal_Plans.jpg?v=1702329584);
  }
  .quick-tips-category{
    background-image: linear-gradient(to bottom, rgb(0 0 0 / 38%), rgb(0 0 0)), url(//cdn.shopify.com/s/files/1/0268/2306/5772/files/Quick_Tips.jpg?v=1702329584);
  }
  .guides-category{
    background-image: linear-gradient(to bottom, rgb(0 0 0 / 38%), rgb(0 0 0)), url(//cdn.shopify.com/s/files/1/0268/2306/5772/files/Guides.jpg?v=1702329584);
  }




  .category {

    height: 400px;
    background-size: cover;
    background-position: center center;
    font-size: x-large;
    color: white;
    padding: 70px 300px 0px 95px;

  }
  .category h2{
      margin-bottom: 10px;
      font-family: sans-serif !important;
      font-weight: 800;
  }
    .category p{
      font-family: revert;
      color: white !important;
  }

  .category .btn{
      border-color: white;
      background-color: #ffffff00;
      text-transform: none;
      padding: 7px 15px;
      font-size: 15px;
      margin-top: 60px;
      border-width: 2px;
  }
  .category .btn:hover{
      background-color: #5584d4;
  }

  .page-container{
    background-color: #262626 !important;
  }
    .rte img {
    height: 238px;
    object-fit: cover;
    object-position: center;
    width: 100%;
  }

  {% comment %} end new blog styles {% endcomment %}

    .all-blogs-page ul {
      display: flex;
      justify-content: flex-start;
      align-items: stretch;
      column-gap: 15px;
      flex-wrap: wrap;
      row-gap: 15px;
      margin: 0;
  }
  .all-blogs-page ul li {
      list-style: none;
      width: 48%;
  }
  .all-blogs-page ul li {
      background: #005aa7;
      margin: 0 !important;
      text-align: center;
      padding-bottom: 10px;
  }
  .all-blogs-page ul li a {
      color: #ffffff;
      text-transform: capitalize;
      letter-spacing: 1.1px;
  }
  .all-blogs-page ul li a:hover {
      color: #000;
  }
  body.template-page.template-page {
      background-color: #f7f8f9;
  }
    .main-div{
    justify-content: center;
  }


  .main-width{
    width: 80%;
  }
  @media screen and (max-width: 920px){
    .main-width {
      width: 100%;
    }
      .page-width {
      padding-left: 0px;
      padding-right: 0px;
    }
  }
  @media screen and (max-width: 769px){
    .category {
      padding: 70px 20px 0px 20px;
    }


  }
  .main-div .main-right-div div#sidebar {
      width: 100%;
  }
  .main-div .main-right-div select#cat {
      width: 100%;
  }
  .main-div .main-right-div .search-bar__interior {
      padding: 0;
  }
  .main-div .main-right-div .search-form__container {
      padding: 30px 0;
  }
  form.contact-form.form-single-field {
      padding: 0 !important;
    margin-bottom: 30px;
  }
  .main-div .main-right-div .search-bar__submit .icon {
      top: 13px;
  }
  @media screen and (max-width: 769px){
  .all-blogs-page ul li {
      width: 100%;
  }
    body.template-page .medium-up--five-sixths {padding-left: 0px;}
    .main-div .main-right-div div#sidebar {
      margin-top: 30px;
      background-color: #fff;
  }
  }

  @media screen and (min-width: 480px){
    .main-div {
      display: flex;
  }
  .main-left-div {
      width: 70%;
  }
  .main-div .main-right-div {
      width: 30%;
      background-color: #fff;
      padding-top: 10px;
  }
  /**Blog Archive */
  .blogs-archive {
      display: flex;
  }
  .blogs-archive .blogs-archive-left {
      width: 70%;
  }
  .blogs-archive .blogs-archive-right {
      width: 30%;
  }
  .blogs-archive ul.grid.grid--uniform.grid--blog {
      margin: 0;
  }
  .blogs-archive .blogs-archive-right {
      width: 30%;
      margin-right: 20px;
  }
  }
</style>
<div class="page-width">
  <div class="grid">
    <div class="">
      <div class="section-header text-center">
        <!-- <h1>{{ page.title }}</h1> -->
        <h1 style="color: white !important;">Categories</h1>
      </div>
      <div class="main-div">      
       <div class="main-width">
            <div class="rte all-blogs-page">


              

                  <div class="row">
                    <a href="/blogs/health-well-being">
                      <div class="category insulin-category">
                        <h2>Health & Well-Being</h2>
                        <p>Holistic health, wellness, and natural approaches to staying fit.</p>
                        <div class="btn btn-outline-light" href="/blogs/health-well-being">
                          Browse Articles
                        </div>
                        
                      </div>
                    </a>
                  </div>

                  <div class="row">
                    <a href="/blogs/weight-loss">
                      <div class="category weight-loss-category">
                        <h2> Weight Loss </h2>
                        <p>Effective weight loss strategies, balanced diets, and maintaining a healthy weight.</p>
                        <div class="btn btn-outline-light" href="/blogs/weight-loss">
                          Browse Articles
                        </div>
                        
                      </div>
                    </a>
                  </div>
                  <div class="row">
                    <a href="/blogs/nutrition">
                      <div class="category nutrition-category">
                        <h2>Nutrition</h2>
                        <p>Discover nutritious foods, dietary benefits, and tips for a balanced, health-boosting diet.</p>
                        <div class="btn btn-outline-light" href="/blogs/nutrition">
                          Browse Articles
                        </div>
                        
                      </div>
                    </a>
                  </div>
                  <div class="row">
                    <a href="/blogs/lifestyle">
                      <div class="category lifestyle-category">
                        <h2>Lifestyle & Mindset</h2>
                        <p>Explore how lifestyle shifts can significantly enhance your overall health.</p>
                        <div class="btn btn-outline-light" href="/blogs/lifestyle">
                          Browse Articles
                        </div>
                        
                      </div>
                    </a>
                  </div>
                  <div class="row">
                    <a href="/blogs/exercise">
                      <div class="category excercise-category">
                        <h2>Exercise</h2>
                        <p>Learn about impactful exercises, fitness routines, and staying active for optimal health.</p>
                        <div class="btn btn-outline-light" href="/blogs/exercise">
                          Browse Articles
                        </div>
                        
                      </div>
                    </a>
                  </div>
                  <div class="row">
                    <a href="/blogs/recipes">
                      <div class="category recipes-category">
                        <h2>Recipes</h2>
                        <p>Enjoy a variety of healthy, delicious recipes that are easy to prepare and nutritious.</p>
                        <div class="btn btn-outline-light" href="/blogs/recipes">
                          Browse Articles
                        </div>
                        
                      </div>
                    </a>
                  </div>
                  <div class="row">
                    <a href="/blogs/diet-meal-plans">
                      <div class="category diet-profiles-meal-plans-category">
                        <h2>Diet / Meal Plans</h2>
                        <p>Find customized diet plans and meal suggestions to meet your health and fitness goals.</p>
                        <div class="btn btn-outline-light" href="/blogs/diet-meal-plans">
                          Browse Articles
                        </div>
                        
                      </div>
                    </a>
                  </div>
                  <div class="row">
                    <a href="/blogs/quick-tips">
                      <div class="category quick-tips-category">
                        <h2>Quick Tips</h2>
                        <p>Quick, practical health tips for busy lifestyles, offering easy ways to stay healthy.</p>
                        <div class="btn btn-outline-light" href="/blogs/quick-tips">
                          Browse Articles
                        </div>
                        
                      </div>
                    </a>
                  </div>
                  <div class="row">
                    <a href="/blogs/guides">
                      <div class="category guides-category">
                        <h2>Guides</h2>
                        <p>Comprehensive guides to navigate health, wellness, and nutrition for a balanced life.</p>
                        <div class="btn btn-outline-light" href="/blogs/guides">
                          Browse Articles
                        </div>
                        
                      </div>
                    </a>
                  </div>

            </div>

            <div class="row">
              <a href="/blogs/weight-loss">
                <div class="category weight-loss-category">
                  <h2>Weight Loss</h2>
                  <p>Effective weight loss strategies, balanced diets, and maintaining a healthy weight.</p>
                  <div class="btn btn-outline-light" href="/blogs/weight-loss">Browse Articles</div>
                </div>
              </a>
            </div>
            <div class="row">
              <a href="/blogs/nutrition">
                <div class="category nutrition-category">
                  <h2>Nutrition</h2>
                  <p>Discover nutritious foods, dietary benefits, and tips for a balanced, health-boosting diet.</p>
                  <div class="btn btn-outline-light" href="/blogs/nutrition">Browse Articles</div>
                </div>
              </a>
            </div>
            <div class="row">
              <a href="/blogs/lifestyle">
                <div class="category lifestyle-category">
                  <h2>Lifestyle & Mindset</h2>
                  <p>Explore how lifestyle shifts can significantly enhance your overall health.</p>
                  <div class="btn btn-outline-light" href="/blogs/lifestyle">Browse Articles</div>
                </div>
              </a>
            </div>
            <div class="row">
              <a href="/blogs/excercise">
                <div class="category excercise-category">
                  <h2>Exercise</h2>
                  <p>Learn about impactful exercises, fitness routines, and staying active for optimal health.</p>
                  <div class="btn btn-outline-light" href="/blogs/excercise">Browse Articles</div>
                </div>
              </a>
            </div>
            <div class="row">
              <a href="/blogs/recipes">
                <div class="category recipes-category">
                  <h2>Recipes</h2>
                  <p>Enjoy a variety of healthy, delicious recipes that are easy to prepare and nutritious.</p>
                  <div class="btn btn-outline-light" href="/blogs/recipes">Browse Articles</div>
                </div>
              </a>
            </div>
            <div class="row">
              <a href="/blogs/diet-meal-plans">
                <div class="category diet-profiles-meal-plans-category">
                  <h2>Diet / Meal Plans</h2>
                  <p>Find customized diet plans and meal suggestions to meet your health and fitness goals.</p>
                  <div class="btn btn-outline-light" href="/blogs/diet-profiles-meal-plans">Browse Articles</div>
                </div>
              </a>
            </div>
            <div class="row">
              <a href="/blogs/quick-tips">
                <div class="category quick-tips-category">
                  <h2>Quick Tips</h2>
                  <p>Quick, practical health tips for busy lifestyles, offering easy ways to stay healthy.</p>
                  <div class="btn btn-outline-light" href="/blogs/quick-tips">Browse Articles</div>
                </div>
              </a>
            </div>
            <div class="row">
              <a href="/blogs/guides">
                <div class="category guides-category">
                  <h2>Guides</h2>
                  <p>Comprehensive guides to navigate health, wellness, and nutrition for a balanced life.</p>
                  <div class="btn btn-outline-light" href="/blogs/guides">Browse Articles</div>
                </div>
              </a>
            </div>
          <div>


            <p style="color: white;">Latest Posts</p>

            {% assign all_articles = "" | split: "" %}
            {% assign blog_handles = 'health-well-being,weight-loss,quick-tips,recipes,weight-loss,diet-meal-plans,exercise,guides,lifestyle,nutrition' | split: ',' %}
            
            {% comment %} Aggregate all articles {% endcomment %}
            {% for handle in blog_handles %}
              {% assign all_articles = all_articles | concat: blogs[handle].articles %}
            {% endfor %}
            
            {% comment %} Sort all articles by published date {% endcomment %}
            {% assign sorted_articles = all_articles | sort: 'published_at' | reverse %}
            
            {% comment %} Display the three latest articles {% endcomment %}
            {% for article in sorted_articles limit: 3 %}
              <p style="color: white;">{{ article.published_at }}</p>
              <h2 style="color: white;">{{ article.title }}</h2>
            {% endfor %}
           
          
          </div>
          <div>
          


            <div class="">
              <div class="">
              
                  {% comment %}  <ul class="grid grid--uniform grid--blog">{% endcomment %}
                  <ul class="grid grid--uniform grid--blog ul-list-blogpost">
                    {% for article in sorted_articles limit:3 %}
                      {% unless forloop.first %}
                        {% comment %}<li class="grid__item medium-up--one-third">{% endcomment %}
                        <li class="list-item-blogpost">
                          <a href="{{ article.url }}" class="article__link article_link_custom">
                            {% if article.image %}
                              {% capture img_id %}ArticleImage-{{ article.image.id }}{% endcapture %}
                              {% capture img_wrapper_id %}ArticleImageWrapper-{{ article.image.id }}{% endcapture %}
                              {%- assign img_url = article.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
    
                              {% include 'image-style',
                                image: article.image,
                                height: 345,
                                wrapper_id: img_wrapper_id,
                                img_id: img_id
                              %}
                              <div id="{{ img_wrapper_id }}" class="article__grid-image-wrapper js">
                                <div
                                  class="article__grid-image-container"
                                  style="padding-top:{{ 1 | divided_by: article.image.aspect_ratio | times: 100 }}%;"
                                  data-image-loading-animation
                                >
                                  <img
                                    id="{{ img_id }}"
                                    class="article__grid-image lazyload"
                                    data-src="{{ img_url }}"
                                    data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                                    data-aspectratio="{{ article.image.aspect_ratio }}"
                                    data-sizes="auto"
                                    alt=""
                                  >
                                </div>
                              </div>
                              <noscript>
                                <div class="article__grid-image-wrapper">
                                  {{
                                    article
                                    | img_url: '345x345', scale: 2
                                    | img_tag: article.title, 'article__grid-image'
                                  }}
                                </div>
                              </noscript>
                            {% endif %}
                          </a>
    
                          <a href="{{ article.url }}" class="">
                            <h2 class="blogpost-title">
                              {{ article.title | escape }}
                            </h2>
                          </a>
                          {% if article.tags.size > 0 %}
                            {% comment %}<div class="article__tags rte blog-inner-tag">  {% endcomment %}
                            <div class="">
                              <div class="blog-inner-tag-label">
                                <ul class="list--inline" aria-label="{{ 'blogs.article.tags' | t }}">
                                  {% for tag in article.tags %}
                                    <li>
                                      <a href="{{ blog.url }}/tagged/{{ tag | handle }}" class="article__grid-tag">
                                        {{- tag -}}
                                      </a>
                                    </li>
                                  {% endfor %}
                                </ul>
                              </div>
                            </div>
                          {% endif %}
                          {% comment %}
                            {% if section.settings.blog_show_author %}
                              <div class="blogpost-title" style="">{{ 'blogs.article.by_author' | t: author: article.author }}</div>
                            {% endif %}
                          {% endcomment %}
    
                          {% comment %}
                            <div class="article__grid-meta{% if article.image %} article__grid-meta--has-image{% endif %}">
    
    
                              {% if section.settings.blog_show_date %}
                                <span class="article__date">
                                  {{ article.published_at | time_tag: format: 'date' }}
                                </span>
                              {% endif %}
    
                              <div class="rte article__grid-excerpt">
                                {% if article.excerpt.size > 0 %}
                                  {{ article.excerpt }}
                                {% else %}
                                  {{ article.content | strip_html | truncate: 150 }}
                                {% endif %}
                              </div>
    
    
    
                              <ul class="list--inline article__meta-buttons">
                                <li>
                                  <a href="{{ article.url }}" class="btn btn--tertiary btn--small" aria-label="{{ 'blogs.article.read_more_title' | t: title: article.title }}">
                                    {{ 'blogs.article.read_more' | t }}
                                  </a>
                                </li>
    
                                {% if blog.comments_enabled? and article.comments_count > 0 %}
                                  <li>
                                    <a href="{{ article.url }}#comments" class="article__comment-count btn btn--tertiary btn--small">
                                      {{ 'blogs.comments.comments_with_count' | t: count: article.comments_count }}
                                    </a>
                                  </li>
                                {% endif %}
                              </ul>
                            </div>
                          {% endcomment %}
                        </li>
                      {% endunless %}
                    {% endfor %}
                  </ul>
                  </div>
                
                  <ul class="blog-list-view">
                    {% for article in blog.articles %}
                      {% unless forloop.first %}
                        <li class="border-top">
                          <div class="page-width">
                            <div class="grid">
                              <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
                                <div class="article-listing">
                                  <h2 class="article__title h3">
                                    <a href="{{ article.url }}">{{ article.title }}</a>
                                  </h2>
                                  {% if section.settings.blog_show_author %}
                                    <span class="article__author">
                                      {{- 'blogs.article.by_author' | t: author: article.author -}}
                                    </span>
                                  {% endif %}
    
                                  {% if section.settings.blog_show_date %}
                                    <span class="article__date">
                                      {{ article.published_at | time_tag: format: 'date' }}
                                    </span>
                                  {% endif %}
    
                                  {% if article.image %}
                                    {% capture img_id %}ArticleImage-{{ article.image.id }}{% endcapture %}
                                    {% capture img_wrapper_id %}ArticleImageWrapper-{{ article.image.id }}{% endcapture %}
                                    {%- assign img_url = article.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
    
                                    {% include 'image-style',
                                      image: article.image,
                                      height: 600,
                                      wrapper_id: img_wrapper_id,
                                      img_id: img_id
                                    %}
    
                                    <div id="{{ img_wrapper_id }}" class="article__list-image-wrapper js">
                                      <a
                                        href="{{ article.url }}"
                                        style="padding-top:{{ 1 | divided_by: article.image.aspect_ratio | times: 100 }}%;"
                                        class="article__list-image-container"
                                        data-image-loading-animation
                                      >
                                        <img
                                          id="{{ img_id }}"
                                          class="article__list-image lazyload"
                                          data-src="{{ img_url }}"
                                          data-widths="[180, 360, 540, 720, 905, 1090, 1296, 1512, 1728, 2048]"
                                          data-aspectratio="{{ article.image.aspect_ratio }}"
                                          data-sizes="auto"
                                          alt=""
                                        >
                                      </a>
                                    </div>
    
                                    <noscript>
                                      <p>
                                        <a href="{{ article.url }}">
                                          {{ article | img_url: '455x300', scale: 2 | img_tag: article.title }}
                                        </a>
                                      </p>
                                    </noscript>
                                  {% endif %}
    
                                  <div class="rte">
                                    {% if article.excerpt.size > 0 %}
                                      {{ article.excerpt }}
                                    {% else %}
                                      {{ article.content | strip_html | truncate: 150 }}
                                    {% endif %}
                                  </div>
    
                                  {% if article.tags.size > 0 %}
                                    <div class="article__tags article__tags--list rte">
                                      {{ 'blogs.article.posted_in' | t }}
                                      {% for tag in article.tags %}
                                        <a href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>
                                        {%- unless forloop.last %}, {% endunless %}
                                      {% endfor %}
                                    </div>
                                  {% endif %}
    
                                  <ul class="list--inline article__meta-buttons">
                                    <li>
                                      <a
                                        href="{{ article.url }}"
                                        class="btn btn--tertiary btn--small"
                                        aria-label="{{ 'blogs.article.read_more_title' | t: title: article.title }}"
                                      >
                                        {{ 'blogs.article.read_more' | t }}
                                      </a>
                                    </li>
    
                                    {% if blog.comments_enabled? and article.comments_count > 0 %}
                                      <li>
                                        <a
                                          href="{{ article.url }}#comments"
                                          class="article__comment-count btn btn--tertiary btn--small"
                                        >
                                          {{ 'blogs.comments.comments_with_count' | t: count: article.comments_count }}
                                        </a>
                                      </li>
                                    {% endif %}
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </li>
                      {% endunless %}
                    {% endfor %}
                  </ul>
          
              </div>
              {% comment %}
                <div class="blogs-archive-right">
                    <div id="sidebar" class="blog-single__sidebar col-md-3 col-xs-12  pull-right">
                <div id="secondary" class="widget-area" role="complementary">
                  <aside id="custom_html-2" class="widget_text widget widget_custom_html"><h4 class="widget-title">Subscribe</h4><div class="textwidget custom-html-widget"><!-- Begin MailChimp Signup Form -->
                <div id="mc_embed_signup">
                    {% form 'customer', id: formId, novalidate: 'novalidate', class: 'contact-form form-single-field' %}
                      {%- if form.posted_successfully? -%}
                        <p class="form-message form-message--success" tabindex="-1" data-form-status>
                          {{ 'general.newsletter_form.confirmation' | t }}
    
                msg successful
                        </p>
                      {%- endif -%}
                      <input type="hidden" name="contact[tags]" value="newsletter">
                      <div class="input-group {% if form.errors %} input-group--error{% endif %}">
                        <input type="email"
                          name="contact[email]"
                          id="{{ formId }}-email"
                          class="input-group__field{% if form.errors %} input--error{% endif %}"
                          value="{{ form.email }}"
                          placeholder="{{ 'general.newsletter_form.email_placeholder' | t }}"
                          aria-label="{{ 'general.newsletter_form.email_placeholder' | t }}"
                          aria-required="true"
                          autocorrect="off"
                          autocapitalize="off"
                          {% if form.errors %}
                            aria-invalid="true"
                            aria-describedby="{{ formId }}-email-error"
                            data-form-status
                          {% endif %}
                          >
                        <span class="input-group__btn">
                          <button type="submit" class="btn" name="commit">
                            <span>{{ 'general.newsletter_form.submit' | t }}</span>
                          </button>
                        </span>
                      </div>
                      {%- if form.errors contains 'email' -%}
                        <span id="{{ formId }}-email-error" class="input-error-message">
                          <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
                          {% include 'icon-error' %}
                          <span>{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.</span>
                        </span>
                      {%- endif -%}
                    {% endform %}
                </div>
    
                <!--End mc_embed_signup-->
                    </div></aside>
    
                 <aside id="categories-4" class="widget widget_categories">
                  <!--<h4 class="widget-title">Search by Blog Category</h4>-->
                    <form action="https://socialhospitality.com" method="get">
                      <label class="screen-reader-text" for="cat">Search by Blog Category</label>
                      <select name="cat" id="cat" class="postform">
    
                        {% for link in linklists.blog-categores.links %}
                         <option class="level-1" value="{{ link.url }}"> <a href="{{ link.url }}">{{ link.title }}</a></option>
                        {% endfor %}
                     </select>
                    </form>
    
                <script type="text/javascript">
    
                jQuery(function($) {
                  $('select').on('change', function() {
                    var url = $(this).val();
                    if (url) {
                      window.location = url;
                    }
                    return false;
                  });
                });
                </script>
                 </aside>
    
                <aside id="search-5" class="widget widget_search">
                  <div class="search-bar__interior">
                    <div class="search-form__container" data-search-form-container>
                      <form class="search-form search-bar__form" action="{{ routes.search_url }}" method="get" role="search">
                        <label class="screen-reader-text">Search for:</label>
                        <div class="search-form__input-wrapper">
                          <input
                            type="text"
                            name="q"
                            placeholder="{{ 'general.search.placeholder' | t }}"
                            role="combobox"
                            aria-autocomplete="list"
                            aria-owns="predictive-search-results"
                            aria-expanded="false"
                            aria-label="{{ 'general.search.placeholder' | t }}"
                            aria-haspopup="listbox"
                            class="search-form__input search-bar__input"
                            data-predictive-search-drawer-input
                          />
                          <input type="hidden" name="options[prefix]" value="last" aria-hidden="true" />
                          <div class="predictive-search-wrapper predictive-search-wrapper--drawer" data-predictive-search-mount="drawer"></div>
                        </div>
    
                        <button class="search-bar__submit search-form__submit"
                          type="submit"
                          data-search-form-submit>
                          {% include 'icon-search' %}
                          <span class="icon__fallback-text">{{ 'general.search.submit' | t }}</span>
                        </button>
                      </form>
                    </div>
                  </div>
                </aside>
                </div>
                </div>
                </div>
              {% endcomment %}
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>



