<style>
    /* Black NavBar */

    h1 {

      margin-top: 40px !important;
  }

    :root {
        --ss-wpadminbar-height: 0px;
        --color-border: #000000;
    }

    #shopify-section-header{
        background-color: #000000
    }
    .site-header__mobile-nav {
        background-color: #000000
    }

    .gm-menu-installed .gm-menu.gm-menu-8095 {
        background-color: #000000 !important
    }
    .site-header {
        background-color: #000000
    }
    .gm-menu-installed .gm-menu.gm-menu-8095.gm-bordered:not(.gm-menu-mobile):not(.gm-vertical) > .gm-level-0 + .gm-level-0{
        border-left: none !important
    }
    .gm-menu-installed .gm-menu.gm-menu-8095 .gm-item.gm-level-0 > .gm-target > .gm-icon, .gm-menu-installed .gm-menu.gm-menu-8095 .gm-item.gm-level-0 > .gm-target > .gm-text, .gm-menu-installed .gm-menu.gm-menu-8095 .gm-item.gm-level-0 > .gm-target > .gm-retractor {
        color: #ffffff !important
    }
    gm-active{
      background-color: #b72e2e !important
    }
    .btn--link {
        color: white;
    }
    .site-header__icons-wrapper a{
      color: white;
    }
    .btn--link:not([disabled]):hover, .btn--link:focus {
        color: white;

    }
    /* end Black NavBar */

    h1 {
      font-family: sans-serif !important;
      font-weight: 800;
    }
    .row {
        margin-right: 0px;
        margin-left: 0px;
    }
    .insulin-category{
      background: rgb(61, 222, 237);
      background: -moz-linear-gradient(180deg, rgba(61, 222, 237, 1) 20%, rgba(3, 19, 202, 1) 88%);
      background: -webkit-linear-gradient(180deg, rgba(61, 222, 237, 1) 20%, rgba(3, 19, 202, 1) 88%);
      background: linear-gradient(181deg, rgb(255 255 255 / 54%) 44%, #262626 76%);
      background-image: linear-gradient(to bottom, rgb(0 0 0 / 38%), rgb(0 0 0)), url(//biosourcenutra.com/cdn/shop/articles/HIIT_1.png?v=1694655830);
    }
    .intermittent-fasting-category{
      background: rgb(61, 222, 237);
      background: -moz-linear-gradient(180deg, rgba(61, 222, 237, 1) 20%, rgba(3, 19, 202, 1) 88%);
      background: -webkit-linear-gradient(180deg, rgba(61, 222, 237, 1) 20%, rgba(3, 19, 202, 1) 88%);
      background: linear-gradient(181deg, rgb(255 255 255 / 54%) 44%, #262626 76%);
      background-image: linear-gradient(to bottom, rgb(0 0 0 / 38%), rgb(0 0 0)), url(//biosourcenutra.com/cdn/shop/articles/1-2.png?v=1685341187);
    }

    .weight-loss-category{
      background-image: linear-gradient(to bottom, rgb(0 0 0 / 38%), rgb(0 0 0)), url(//cdn.shopify.com/s/files/1/0268/2306/5772/files/Weight_Loss.jpg?v=1702329585);
    }
    .nutrition-category{
      background-image: linear-gradient(to bottom, rgb(0 0 0 / 38%), rgb(0 0 0)), url(//cdn.shopify.com/s/files/1/0268/2306/5772/files/Nutrition.jpg?v=1702329584);
    }
    .lifestyle-category{
      background-image: linear-gradient(to bottom, rgb(0 0 0 / 38%), rgb(0 0 0)), url(//cdn.shopify.com/s/files/1/0268/2306/5772/files/Lifestyle.jpg?v=1702329584);
    }
    .excercise-category{
      background-image: linear-gradient(to bottom, rgb(0 0 0 / 38%), rgb(0 0 0)), url(//cdn.shopify.com/s/files/1/0268/2306/5772/files/excercise_3e63a9e1-f7fb-4566-b6f3-097382641eaf.jpg?v=1707839306);
    }
    .recipes-category{
      background-image: linear-gradient(to bottom, rgb(0 0 0 / 38%), rgb(0 0 0)), url(//cdn.shopify.com/s/files/1/0268/2306/5772/files/Recipes.jpg?v=1702329584);
    }
    .diet-profiles-meal-plans-category{
      background-image: linear-gradient(to bottom, rgb(0 0 0 / 38%), rgb(0 0 0)), url(//cdn.shopify.com/s/files/1/0268/2306/5772/files/Diet_ProfilesMeal_Plans.jpg?v=1702329584);
    }
    .quick-tips-category{
      background-image: linear-gradient(to bottom, rgb(0 0 0 / 38%), rgb(0 0 0)), url(//cdn.shopify.com/s/files/1/0268/2306/5772/files/Quick_Tips.jpg?v=1702329584);
    }
    .guides-category{
      background-image: linear-gradient(to bottom, rgb(0 0 0 / 38%), rgb(0 0 0)), url(//cdn.shopify.com/s/files/1/0268/2306/5772/files/Guides.jpg?v=1702329584);
    }




    .category {

      height: 400px;
      background-size: cover;
      background-position: center center;
      font-size: x-large;
      color: white;
      padding: 70px 300px 0px 95px;

    }
    .category h2{
        margin-bottom: 10px;
        font-family: sans-serif !important;
        font-weight: 800;
    }
      .category p{
        font-family: revert;
        color: white !important;
    }

    .category .btn{
        border-color: white;
        background-color: #ffffff00;
        text-transform: none;
        padding: 7px 15px;
        font-size: 15px;
        margin-top: 60px;
        border-width: 2px;
    }
    .category .btn:hover{
        background-color: #5584d4;
    }

    .page-container{
      background-color: #262626 !important;
    }
      .rte img {
      height: 238px;
      object-fit: cover;
      object-position: center;
      width: 100%;
    }

    {% comment %} end new blog styles {% endcomment %}

      .all-blogs-page ul {
        display: flex;
        justify-content: flex-start;
        align-items: stretch;
        column-gap: 15px;
        flex-wrap: wrap;
        row-gap: 15px;
        margin: 0;
    }
    .all-blogs-page ul li {
        list-style: none;
        width: 48%;
    }
    .all-blogs-page ul li {
        background: #005aa7;
        margin: 0 !important;
        text-align: center;
        padding-bottom: 10px;
    }
    .all-blogs-page ul li a {
        color: #ffffff;
        text-transform: capitalize;
        letter-spacing: 1.1px;
    }
    .all-blogs-page ul li a:hover {
        color: #000;
    }
    body.template-page.template-page {
        background-color: #f7f8f9;
    }
      .main-div{
      justify-content: center;

    }


    .main-width{
      width: 100%;
    }
    @media screen and (max-width: 920px){
      .main-width {
        width: 100%;
      }
        .page-width {
        padding-left: 0px;
        padding-right: 0px;
      }
    }
    @media screen and (max-width: 769px){
      .category {
        padding: 70px 20px 0px 20px;
      }


    }
    .main-div .main-right-div div#sidebar {
        width: 100%;
    }
    .main-div .main-right-div select#cat {
        width: 100%;
    }
    .main-div .main-right-div .search-bar__interior {
        padding: 0;
    }
    .main-div .main-right-div .search-form__container {
        padding: 30px 0;
    }
    form.contact-form.form-single-field {
        padding: 0 !important;
      margin-bottom: 30px;
    }
    .main-div .main-right-div .search-bar__submit .icon {
        top: 13px;
    }
    @media screen and (max-width: 769px){
    .all-blogs-page ul li {
        width: 100%;
    }
      body.template-page .medium-up--five-sixths {padding-left: 0px;}
      .main-div .main-right-div div#sidebar {
        margin-top: 30px;
        background-color: #fff;
    }
    }

    @media screen and (min-width: 480px){
      .main-div {
        display: flex;
        flex-direction: column;

        align-content: center;
        justify-content: center;
        align-items: center;
    }
    .main-left-div {
        width: 70%;
    }
    .main-div .main-right-div {
        width: 30%;
        background-color: #fff;
        padding-top: 10px;
    }
    /**Blog Archive */
    .blogs-archive {
        display: flex;
    }
    .blogs-archive .blogs-archive-left {
        width: 70%;
    }
    .blogs-archive .blogs-archive-right {
        width: 30%;
    }
    .blogs-archive ul.grid.grid--uniform.grid--blog {
        margin: 0;
    }
    .blogs-archive .blogs-archive-right {
        width: 30%;
        margin-right: 20px;
    }
    }
</style>
<div class="page-width">
  <div class="grid">
    <div class="">
      <div class="section-header text-center">
        <!-- <h1>{{ page.title }}</h1> -->
        <h1 style="color: white !important;">Categories</h1>
      </div>
      <div class="main-div">
        <div class="main-width">
          <div class="rte all-blogs-page">
            <div class="row">
              <a href="/blogs/health-well-being">
                <div class="category insulin-category">
                  <h2>Health & Well-Being</h2>
                  <p>Holistic health, wellness, and natural approaches to staying fit.</p>
                  <div class="btn btn-outline-light" href="/blogs/health-well-being">Browse Articles</div>
                </div>
              </a>
            </div>

            <div class="row">
              <a href="/blogs/weight-loss">
                <div class="category weight-loss-category">
                  <h2>Weight Loss</h2>
                  <p>Effective weight loss strategies, balanced diets, and maintaining a healthy weight.</p>
                  <div class="btn btn-outline-light" href="/blogs/weight-loss">Browse Articles</div>
                </div>
              </a>
            </div>
            <div class="row">
              <a href="/blogs/nutrition">
                <div class="category nutrition-category">
                  <h2>Nutrition</h2>
                  <p>Discover nutritious foods, dietary benefits, and tips for a balanced, health-boosting diet.</p>
                  <div class="btn btn-outline-light" href="/blogs/nutrition">Browse Articles</div>
                </div>
              </a>
            </div>
            <div class="row">
              <a href="/blogs/lifestyle">
                <div class="category lifestyle-category">
                  <h2>Lifestyle & Mindset</h2>
                  <p>Explore how lifestyle shifts can significantly enhance your overall health.</p>
                  <div class="btn btn-outline-light" href="/blogs/lifestyle">Browse Articles</div>
                </div>
              </a>
            </div>
            <div class="row">
              <a href="/blogs/exercise">
                <div class="category excercise-category">
                  <h2>Exercise</h2>
                  <p>Learn about impactful exercises, fitness routines, and staying active for optimal health.</p>
                  <div class="btn btn-outline-light" href="/blogs/exercise">Browse Articles</div>
                </div>
              </a>
            </div>
            <div class="row">
              <a href="/blogs/recipes">
                <div class="category recipes-category">
                  <h2>Recipes</h2>
                  <p>Enjoy a variety of healthy, delicious recipes that are easy to prepare and nutritious.</p>
                  <div class="btn btn-outline-light" href="/blogs/recipes">Browse Articles</div>
                </div>
              </a>
            </div>
            <div class="row">
              <a href="/blogs/diet-meal-plans">
                <div class="category diet-profiles-meal-plans-category">
                  <h2>Diet / Meal Plans</h2>
                  <p>Find customized diet plans and meal suggestions to meet your health and fitness goals.</p>
                  <div class="btn btn-outline-light" href="/blogs/diet-meal-plans">Browse Articles</div>
                </div>
              </a>
            </div>
            <div class="row">
              <a href="/blogs/quick-tips">
                <div class="category quick-tips-category">
                  <h2>Quick Tips</h2>
                  <p>Quick, practical health tips for busy lifestyles, offering easy ways to stay healthy.</p>
                  <div class="btn btn-outline-light" href="/blogs/quick-tips">Browse Articles</div>
                </div>
              </a>
            </div>
            <div class="row">
              <a href="/blogs/guides">
                <div class="category guides-category">
                  <h2>Guides</h2>
                  <p>Comprehensive guides to navigate health, wellness, and nutrition for a balanced life.</p>
                  <div class="btn btn-outline-light" href="/blogs/guides">Browse Articles</div>
                </div>
              </a>
            </div>
          </div>

          <div class="row">
            <a href="/blogs/weight-loss">
              <div class="category weight-loss-category">
                <h2>Weight Loss</h2>
                <p>Effective weight loss strategies, balanced diets, and maintaining a healthy weight.</p>
                <div class="btn btn-outline-light" href="/blogs/weight-loss">Browse Articles</div>
              </div>
            </a>
          </div>
          <div class="row">
            <a href="/blogs/nutrition">
              <div class="category nutrition-category">
                <h2>Nutrition</h2>
                <p>Discover nutritious foods, dietary benefits, and tips for a balanced, health-boosting diet.</p>
                <div class="btn btn-outline-light" href="/blogs/nutrition">Browse Articles</div>
              </div>
            </a>
          </div>
          <div class="row">
            <a href="/blogs/lifestyle">
              <div class="category lifestyle-category">
                <h2>Lifestyle & Mindset</h2>
                <p>Explore how lifestyle shifts can significantly enhance your overall health.</p>
                <div class="btn btn-outline-light" href="/blogs/lifestyle">Browse Articles</div>
              </div>
            </a>
          </div>
          <div class="row">
            <a href="/blogs/excercise">
              <div class="category excercise-category">
                <h2>Exercise</h2>
                <p>Learn about impactful exercises, fitness routines, and staying active for optimal health.</p>
                <div class="btn btn-outline-light" href="/blogs/excercise">Browse Articles</div>
              </div>
            </a>
          </div>
          <div class="row">
            <a href="/blogs/recipes">
              <div class="category recipes-category">
                <h2>Recipes</h2>
                <p>Enjoy a variety of healthy, delicious recipes that are easy to prepare and nutritious.</p>
                <div class="btn btn-outline-light" href="/blogs/recipes">Browse Articles</div>
              </div>
            </a>
          </div>
          <div class="row">
            <a href="/blogs/diet-meal-plans">
              <div class="category diet-profiles-meal-plans-category">
                <h2>Diet / Meal Plans</h2>
                <p>Find customized diet plans and meal suggestions to meet your health and fitness goals.</p>
                <div class="btn btn-outline-light" href="/blogs/diet-profiles-meal-plans">Browse Articles</div>
              </div>
            </a>
          </div>
          <div class="row">
            <a href="/blogs/quick-tips">
              <div class="category quick-tips-category">
                <h2>Quick Tips</h2>
                <p>Quick, practical health tips for busy lifestyles, offering easy ways to stay healthy.</p>
                <div class="btn btn-outline-light" href="/blogs/quick-tips">Browse Articles</div>
              </div>
            </a>
          </div>
          <div class="row">
            <a href="/blogs/guides">
              <div class="category guides-category">
                <h2>Guides</h2>
                <p>Comprehensive guides to navigate health, wellness, and nutrition for a balanced life.</p>
                <div class="btn btn-outline-light" href="/blogs/guides">Browse Articles</div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="">
        <style>
          @media only screen and (max-width: 750px){
            .latest-posts-containersecond{
              padding-left: 22px;
              padding-right: 22px;
            }
            }
                  :root {
                      --ss-wpadminbar-height: 0px;
                      --color-border: #000000;
                      --color-text-focus: #000000;
                  }
                  .article__grid-tag {
                      margin-right: 0px;
                  }
                    /* Black NavBar */
                  #shopify-section-header{
                      background-color: #000000
                  }
                  .site-header__mobile-nav {
                      background-color: #000000
                  }

                  .gm-menu-installed .gm-menu.gm-menu-8095 {
                      background-color: #000000 !important
                  }
                  .site-header {
                      background-color: #000000
                  }
                  .gm-menu-installed .gm-menu.gm-menu-8095.gm-bordered:not(.gm-menu-mobile):not(.gm-vertical) > .gm-level-0 + .gm-level-0{
                      border-left: none !important
                  }
                  .gm-menu-installed .gm-menu.gm-menu-8095 .gm-item.gm-level-0 > .gm-target > .gm-icon, .gm-menu-installed .gm-menu.gm-menu-8095 .gm-item.gm-level-0 > .gm-target > .gm-text, .gm-menu-installed .gm-menu.gm-menu-8095 .gm-item.gm-level-0 > .gm-target > .gm-retractor {
                      color: #ffffff !important
                  }
                  gm-active{
                    background-color: #b72e2e !important
                  }
                  .btn--link {
                      color: white;
                  }
                  .site-header__icons-wrapper a{
                    color: white;
                  }
                  .btn--link:not([disabled]):hover, .btn--link:focus {
                      color: white;

                  }
                  /* end Black NavBar */
                  /* Cover image */
                  @media (max-width: 410px) {
                      #PageContainer {
                          padding-top: 0px;
                      }
                    .theme_store_id_796 .shopify-section {
                      padding: 20px 0px 0px;
                  }
                  }
                  @media (max-width: 749px) {
                      #PageContainer {
                          padding-top: 30px;
                      }
                  }
                  #PageContainer{
                    padding-top: 78px !important;
                  }

                  .cover-container {
                      position: relative;
                      min-height: 350px;
                  }
                  .cover-container::before{
                       content: "";
                      position: absolute;
                      top: 0;
                      right: 0;
                      bottom: 0;
                      left: 0;
                      background-image: url(https://cdn.shopify.com/s/files/1/0268/2306/5772/files/Nutrition.jpg?v=1702329584);
                      background-size: cover;
                      background-position: center;
                      opacity:0.5;
                  }
                  /* end cover image */


                  .postform{
                      width: 100%;
                      font-weight: bold;
                      background-color: #d9d9d9 !important;
                      color: black;
                      filter: invert(1);
                      --color-border-form: black;
                  }
                    h1 {
                      font-family: sans-serif !important;
                      font-weight: 800;
                      color: white !important;
                  }
                  .article_link_custom {
                    color: white;
                    width: 100%;
                    text-align: center;
                  }
                  .medium-up--one-third {
                      width: 50% !important;
                  }
                  .page-width {
                      max-width: 1100px;
                      margin: 0 auto;
                  }
                  .page-width .grid {
                      margin-top: 0px;
                      margin-bottom: 0px;
                  }
                  .list-item-blogpost{
                      display: block;
                      align-items: center;
                      box-sizing: border-box;
                      color: white;
                  }
                  .list-item-blogpost-1{
                      display: block;
                      align-items: center;
                      box-sizing: border-box;
                      color: white;
                      padding-bottom: 50px;
                  }
                  .first-article__grid-image-wrapper{

                  }
                  .first-article__grid-image-container{

                  }
                  .first-article__grid-image{
                        padding: 0;

                  }
                  .article__grid-image-container{
                    margin: 0px auto 24px 0;
                  }



                  @media screen and (max-width: 962px) {
                    .ul-list-blogpost {
                      grid-template-columns: 1fr !important;
                    }
                  }
                  .ul-list-blogpost{
                      grid-template-columns: 1fr 1fr;
                      display: grid;
                      row-gap: 50px;
                      column-gap: 40px;
                  }
                  .blogpost-title{
                    text-align: center;
                    color: white;
                    FONT-WEIGHT: 600;
                  }
                  .blogpost-title:hover{
                    color: lightskyblue;
                  }

                  p {
                    color: white;
                  }
                  p:hover{
                    color: lightskyblue;
                  }
                    body.template-article.template-article, body.template-blog.template-blog {
                  /*     background-color: #f7f8f9; */
                  }
                    div#shopify-section-blog-template {
                      background-color: #262626 !important;
                  }
                    .article_author_info .social-sharing {
                    display: flex !important;
                  }
                  .article_author_info {
                    display: flex;
                      flex-wrap: wrap;
                      justify-content: space-between;
                      width: 80%;
                      margin: 0 auto;
                  }
                  .article_author_info span.article__author--avatar img {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                  }
                  .article_author_one {
                    display: flex;
                    justify-content: space-around;
                    flex-wrap: nowrap;
                    align-items: stretch;
                    text-align: left;
                    column-gap: 10px;
                  }
                  .article_author_two {
                      display: flex;
                      flex-wrap: wrap;
                      align-content: center;
                      align-items: stretch;
                  }
                  .article_author_two ul.social-sharing span.share-title {
                      display: none;
                  }
                  .article_author_info .social-sharing a.btn--share {
                      padding: 3px 6px;
                      margin: 0;
                      border-radius: 0;
                      border: none;
                  }
                  /* .article__title {
                      width: 80%;
                      margin: 0 auto;
                      font-size: 3rem;
                      text-align: left;
                      font-weight: 900;
                      padding-bottom: 40px;
                    color: #000;
                  } */
                    .article_featured_img img {
                      border-radius: 20px;
                  }
                  .article_img_gallery ul {
                      display: flex;
                    margin: 0;
                  }

                  .article_img_gallery ul li {
                      list-style: none;
                      padding: 10px;
                  }
                  .article_content_sections {
                      line-height: 2;
                  }
                  .article_content_sections .grid {
                      margin-top: 10px;
                      margin-bottom: 10px;
                  }

                  .article_img_gallery ul li img {
                      border-radius: 10px;
                  }
                  @media only screen and (max-width: 749px){
                  body.template-article .grid__item {
                      padding-left: 0px;
                  }
                  }
                  @media only screen and (min-width: 750px){
                  body.template-article .medium-up--five-sixths {
                      width: 100%;
                    }
                   body.template-article .medium-up--push-one-twelfth {
                      left: 0;
                  }
                    body.template-article .section-header {
                      margin-top: 55px;
                  }
                  }
                  body.template-article .grid__item {
                      float: none;
                      padding-left: 0;
                  }
                  body.template-article {
                   .page-title.with_featured.title-center.solid-bg.page-title-topfix {
                      background-size: cover;
                      background-position: center;
                  }
                  .col-table {
                      display: table-cell;
                      vertical-align: middle;
                    padding: 6vw 3vw 3vw;
                  }
                  .title-container {
                      display: table;
                      width: 100%;
                      padding-left: 15px;
                      padding-right: 15px;
                  }
                  .col-td.hgroup {
                      display: block;
                      text-align: center;
                  }

                  }
                      h1.entry-title.responsive-h4 {
                      font-size: 3rem;
                      font-weight: 700;
                      color: #090a0b;
                      width: 80%;
                      margin: 0 auto;
                      font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif !important;
                  }
                  body.template-article .col-td.hgroup .article__date time {
                      color: #3eb0ef;
                      text-transform: uppercase;
                  }
                  .article-img img {
                      width: 100%;
                    border-radius: 5px;
                  }
                  aside#custom_html-2 {
                      margin: 0 auto;
                  /*     padding: 4rem; */
                  }
                  aside#categories-4 {
                      padding-bottom: 0px;
                      padding-top: 0px
                  }
                  .article_main_div .pull-right {
                      float: none;
                      width: 100%;
                  }
                  .article_main_div .search-bar__interior {
                      padding: 20px 0;
                  }
                  .article_main_div form.contact-form.form-single-field {
                      margin-bottom: 0;
                  }
                   .article_main_div .search-bar__submit .icon {
                      top: 14px;
                    }
                  .article_main_div #mc_embed_signup form {padding: 0;}
                  .article_main_div .search-form__container {padding: 0;}
                  .article_main_div select#cat {
                      width: 100%;
                  }
                  .article_tags_section .tags_names ul li a {
                      font-style: italic;

                  }
                   .article_main_div .page-width.rich-text {
                      padding-left: 0;
                  }
                  .article_tags_section .tag_title {
                      font-weight: 600;
                  }
                  div#shopify-section-related-blogs h2 {
                      font-weight: 600;
                  }
                  .template-article .article_main_div   {
                      margin-top: -160px;
                      background-color: #fff;
                  }
                  .article_main_div .article_content_sections h3 {
                      font-size: 1.7rem;
                      font-weight: 700;
                      color: #090a0b;
                      font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif !important;
                  }
                  .article_main_div .article_content_sections.left {
                      position: relative;
                      margin: 0 auto;
                      padding: 70px 100px 0;
                      min-height: 230px;
                      font-family: Georgia,serif;
                      line-height: 1.6em;
                      background: #fff;
                  }
                  .article_main_div .article_content_sections p {
                      font-size: 1.4rem;
                      line-height: 1.5;
                      color: #3c484e !important;
                  }
                  @media screen and (min-width: 480px){
                    .article_main_div {
                  /*     display: flex; */
                      padding: 0 8rem;
                  }
                    .blogs-archive.article_main_div {
                      padding: 0;
                  }
                  .article_main_div .left {
                  /*     width: 70%; */
                  }
                  .article_main_div .rte.right {
                  /*     width: 30%; */
                      background-color: #005aab;
                      padding-top: 10px;
                      width: 90%;
                      margin: 0 auto;
                      color: #fff;
                  }
                  /**Blog Archive */
                  .blogs-archive {
                      display: flex;
                  }
                  .blogs-archive .blogs-archive-left {
                      width: 70%;
                  }
                  .blogs-archive .blogs-archive-right {
                      width: 30%;
                  }
                  .blogs-archive ul.grid.grid--uniform.grid--blog {
                      margin: 0;
                  }
                  .blogs-archive .blogs-archive-right {
                      width: 30%;
                      margin-right: 20px;
                  }
                  }


                  /* Related Blog Post */
                   div#shopify-section-related-blogs {

                      padding: 0 7rem;
                  }
                  div#shopify-section-related-blogs .relatedArticles {
                      width: 70%;
                      padding-right: 20px;
                      display: flex;
                      flex-wrap: wrap;
                      justify-content: space-between;
                      align-items: stretch;
                  }

                  div#shopify-section-related-blogs .relatedArticles .page-width.rich-text {
                      padding: 0;
                  }
                  div#shopify-section-related-blogs .relatedArticles .grid {
                      margin: 0;
                  }
                    div#shopify-section-related-blogs .relatedArticles .well {
                  /*     width: 32%; */
                  }
                  div#shopify-section-related-blogs .relatedArticles .well .article__grid-meta {
                      border-bottom: 1px solid #969191;
                      padding-bottom: 10px;
                  }
                  div#shopify-section-related-blogs .relatedArticles .well img {
                      max-width: 33%
                  }

                    .article_tags_section .tags_names ul {
                      display: flex;
                      column-gap: 20px;
                  }
                  .article_tags_section .tags_names ul li {
                      list-style: none;
                  }
                    .article_tags_section {
                      padding-top: 25px;
                      display: flex;
                      align-items: stretch;
                  }
                  div#shopify-section-related-blogs .authoranddate {
                      display: flex;
                      flex-wrap: wrap;
                      padding-bottom: 20px;
                  }
                  #ss-floating-bar {
                    display: none;
                  }
                  .blogs-archive-right .blog-single__sidebar {
                      background-color: #fff;
                      padding: 20px 20px;
                  }
                  .article_content_sections strong {
                      font-size: 25px;
                  }
                  .article_main_div .rte.right .form-single-field {
                      max-width: 100%;
                  }
                  .article_main_div .rte.right .form-single-field .input-group__btn {text-align: end;}
                  .article_main_div .rte.right .form-single-field .input-group__btn button.btn {
                      width: fit-content;
                  }
                  .article__tags.rte.blog-inner-tag {
                      display: flex;
                      column-gap: 10px;
                  }
                  .article__tags.rte.blog-inner-tag .blog-inner-tag-label h4 {
                      color: #000;
                      font-style: italic;
                  }
                  .blog-inner-tag-label {
                    --color-text: white;
                      text-align: center;
                  }
                  .blog-inner-tag-label ul {
                      column-gap: 20px;
                      list-style: none;
                  }
                  .blog-inner-tag-label ul li {

                        list-style: none;
                      display: inline-block;
                      padding: 2px 10px;
                      background-color: #666666;
                      text-align: center;
                      text-decoration: none;
                      cursor: pointer;
                      border-radius: 50px;
                  }
                  body.template-blog.template-blog {
                      overflow-x: hidden;
                  }

                  .cover-container {
                    position: relative;
                    width: 100%;
                    height: 300px;
                    overflow: hidden;
                  }

                  .cover-image {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;

                        position: relative;
                        width: 100%;
                        margin: 0 auto; /* Center the image */
                        overflow: hidden;


                  }

                  .cover-text {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    text-align: center;
                    color: #fff;
                    z-index: 1;
                  }
                   .darken-overlay::before {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0, 0, 0, 0.5);
                    z-index: 1;
                  }
                  div#shopify-section-blog-template {
                      padding-top: 0px;
                  }
                  .pagination{
                      color: white !important;
                      --color-small-button-text-border: white !important;
                      padding-bottom: 50px;
                      padding-top: 20px;
                  }

                  .column {
                    width: 100%;
                    margin: 10px;
                      align-content: center;
                      display: grid;
                  }
                  .top-category-bar{
                    display: flex;
                    justify-content: space-between;
                    margin: 40px 0;
                    color: white;
                  }
                    .top-category-bar-2{
                    display: flex;
                    justify-content: space-between;
                    margin: 0;
                  }
                  .div-line{
                      height: 1px;
                      background-color: #fff;
                      margin: auto;
                  }
                  @media screen and (max-width: 755px) {
                    .div-line {
                      display: none;
                    }
                    .top-category-bar{
                       flex-direction: column;
                    }
                  }
                  .top-category-bar h2 {
                      margin: auto;
                      font-weight: bold;
                  }
                  .btn--secondary {
                      background-color: #94CC0B;
                      color: white;
                      margin-bottom: 40px;
                      margin-top: 30px;
                      font-weight: bold;
                      width: 238px;
                  }

                  @media only screen and (min-width: 750px){

                  .latest-post-upper-container{


                      margin-left: 0px;}
                  }

                  .latest-post-container{

                  width: 210px;
                      margin-left: 0px;
                  }

                    .featured-post-container{

                  width: 250px;
                      margin-left: 0px;
                    }
                  .latest-posts-title-container{
                  width:100%;
                  display: flex;
                  justify-content: center;
          align-items: center;              margin-top: 40px;
          margin-bottom: 40px;

                  }
                  .latest-posts-title{
                    font-size: 34px !important;
                    line-height: 34px !important;
                    font-family: sans-serif !important;
                    font-weight: 800;

                    color: white !important;

                  }

                }
        </style>
        <div class="latest-posts-title-container">
          <h2 class="latest-posts-title">Latest Posts</h2>
        </div>
        <div class="latest-posts-containersecond">
          {% assign all_articles = '' | split: '' %}
          {% assign blog_handles = 'health-well-being,weight-loss,quick-tips,recipes,weight-loss,diet-meal-plans,exercise,guides,lifestyle,nutrition'
            | split: ','
          %}

          {% comment %} Aggregate all articles {% endcomment %}
          {% for handle in blog_handles %}
            {% assign all_articles = all_articles | concat: blogs[handle].articles %}
          {% endfor %}

          {% comment %} Sort all articles by published date {% endcomment %}
          {% assign sorted_articles = all_articles | sort: 'published_at' | reverse %}
          {% assign articlesToCheck = '' %}
          {% for article in sorted_articles %}
            {% assign articlesToCheck = articlesToCheck | append:","| append: article.title  %}
            
          {% endfor %}
          {% assign articlesToCheck2 = articlesToCheck | split: ","  %}
          {% assign articlesToCheck3 = articlesToCheck2 | uniq | join: "," %}
          <p>{{ articlesToCheck3 }}</p>

{% comment %}
          {% for article in all_articles %}
            {% if article.title contains articlesToCheck %}
              <p>{{ article.title }}</p>
              <!-- Add any other code to display the article -->
            {% endif %}
          {% endfor %}
{% endcomment %}

          {% comment %} Display the three latest articles {% endcomment %}

          {% comment %}  <ul class="grid grid--uniform grid--blog">{% endcomment %}
          <ul class="grid grid--uniform grid--blog ul-list-blogpost">
            {% for article in sorted_articles | uniq limit: 6 %}
              {% comment %}<li class="grid__item medium-up--one-third">{% endcomment %}
              <li class="list-item-blogpost">
                <a href="{{ article.url }}" class="article__link article_link_custom">
                  {% if article.image %}
                    {% capture img_id %}ArticleImage-{{ article.image.id }}{% endcapture %}
                    {% capture img_wrapper_id %}ArticleImageWrapper-{{ article.image.id }}{% endcapture %}
                    {%- assign img_url = article.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

                    {% include 'image-style',
                      image: article.image,
                      height: 345,
                      wrapper_id: img_wrapper_id,
                      img_id: img_id
                    %}
                    <div id="{{ img_wrapper_id }}" class="article__grid-image-wrapper js">
                      <div
                        class="article__grid-image-container"
                        style="padding-top:{{ 1 | divided_by: article.image.aspect_ratio | times: 100 }}%;"
                        data-image-loading-animation
                      >
                        <img
                          id="{{ img_id }}"
                          class="article__grid-image lazyload"
                          data-src="{{ img_url }}"
                          data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                          data-aspectratio="{{ article.image.aspect_ratio }}"
                          data-sizes="auto"
                          alt=""
                        >
                      </div>
                    </div>
                    <noscript>
                      <div class="article__grid-image-wrapper">
                        {{ article | img_url: '345x345', scale: 2 | img_tag: article.title, 'article__grid-image' }}
                      </div>
                    </noscript>
                  {% endif %}
                </a>

                <a href="{{ article.url }}" class="">
                  <h2 class="blogpost-title">
                    {{ article.title | escape }}
                  </h2>
                </a>
                {% if article.tags.size > 0 %}
                  {% comment %}<div class="article__tags rte blog-inner-tag">  {% endcomment %}
                  <div class="">
                    <div class="blog-inner-tag-label">
                      <ul class="list--inline" aria-label="{{ 'blogs.article.tags' | t }}">
                        {% for tag in article.tags %}
                          <li>
                            <a href="/blogs/{{ tag | handle }}" class="article__grid-tag">
                              {{- tag -}}
                            </a>
                          </li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                {% endif %}
                {% comment %}
                  {% if section.settings.blog_show_author %}
                    <div class="blogpost-title" style="">{{ 'blogs.article.by_author' | t: author: article.author }}</div>
                  {% endif %}
                {% endcomment %}

                {% comment %}
                  <div class="article__grid-meta{% if article.image %} article__grid-meta--has-image{% endif %}">


                    {% if section.settings.blog_show_date %}
                      <span class="article__date">
                        {{ article.published_at | time_tag: format: 'date' }}
                      </span>
                    {% endif %}

                    <div class="rte article__grid-excerpt">
                      {% if article.excerpt.size > 0 %}
                        {{ article.excerpt }}
                      {% else %}
                        {{ article.content | strip_html | truncate: 150 }}
                      {% endif %}
                    </div>



                    <ul class="list--inline article__meta-buttons">
                      <li>
                        <a href="{{ article.url }}" class="btn btn--tertiary btn--small" aria-label="{{ 'blogs.article.read_more_title' | t: title: article.title }}">
                          {{ 'blogs.article.read_more' | t }}
                        </a>
                      </li>

                      {% if blog.comments_enabled? and article.comments_count > 0 %}
                        <li>
                          <a href="{{ article.url }}#comments" class="article__comment-count btn btn--tertiary btn--small">
                            {{ 'blogs.comments.comments_with_count' | t: count: article.comments_count }}
                          </a>
                        </li>
                      {% endif %}
                    </ul>
                  </div>
                {% endcomment %}
              </li>
            {% endfor %}
          </ul>
        </div>

        <ul class="blog-list-view">
          {% for article in blog.articles %}
            {% unless forloop.first %}
              <li class="border-top">
                <div class="page-width">
                  <div class="grid">
                    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
                      <div class="article-listing">
                        <h2 class="article__title h3">
                          <a href="{{ article.url }}">{{ article.title }}</a>
                        </h2>
                        {% if section.settings.blog_show_author %}
                          <span class="article__author">
                            {{- 'blogs.article.by_author' | t: author: article.author -}}
                          </span>
                        {% endif %}

                        {% if section.settings.blog_show_date %}
                          <span class="article__date">
                            {{ article.published_at | time_tag: format: 'date' }}
                          </span>
                        {% endif %}

                        {% if article.image %}
                          {% capture img_id %}ArticleImage-{{ article.image.id }}{% endcapture %}
                          {% capture img_wrapper_id %}ArticleImageWrapper-{{ article.image.id }}{% endcapture %}
                          {%- assign img_url = article.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

                          {% include 'image-style',
                            image: article.image,
                            height: 600,
                            wrapper_id: img_wrapper_id,
                            img_id: img_id
                          %}

                          <div id="{{ img_wrapper_id }}" class="article__list-image-wrapper js">
                            <a
                              href="{{ article.url }}"
                              style="padding-top:{{ 1 | divided_by: article.image.aspect_ratio | times: 100 }}%;"
                              class="article__list-image-container"
                              data-image-loading-animation
                            >
                              <img
                                id="{{ img_id }}"
                                class="article__list-image lazyload"
                                data-src="{{ img_url }}"
                                data-widths="[180, 360, 540, 720, 905, 1090, 1296, 1512, 1728, 2048]"
                                data-aspectratio="{{ article.image.aspect_ratio }}"
                                data-sizes="auto"
                                alt=""
                              >
                            </a>
                          </div>

                          <noscript>
                            <p>
                              <a href="{{ article.url }}">
                                {{ article | img_url: '455x300', scale: 2 | img_tag: article.title }}
                              </a>
                            </p>
                          </noscript>
                        {% endif %}

                        <div class="rte">
                          {% if article.excerpt.size > 0 %}
                            {{ article.excerpt }}
                          {% else %}
                            {{ article.content | strip_html | truncate: 150 }}
                          {% endif %}
                        </div>

                        {% if article.tags.size > 0 %}
                          <div class="article__tags article__tags--list rte">
                            {{ 'blogs.article.posted_in' | t }}
                            {% for tag in article.tags %}
                              <a href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>
                              {%- unless forloop.last %}, {% endunless %}
                            {% endfor %}
                          </div>
                        {% endif %}

                        <ul class="list--inline article__meta-buttons">
                          <li>
                            <a
                              href="{{ article.url }}"
                              class="btn btn--tertiary btn--small"
                              aria-label="{{ 'blogs.article.read_more_title' | t: title: article.title }}"
                            >
                              {{ 'blogs.article.read_more' | t }}
                            </a>
                          </li>

                          {% if blog.comments_enabled? and article.comments_count > 0 %}
                            <li>
                              <a
                                href="{{ article.url }}#comments"
                                class="article__comment-count btn btn--tertiary btn--small"
                              >
                                {{ 'blogs.comments.comments_with_count' | t: count: article.comments_count }}
                              </a>
                            </li>
                          {% endif %}
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            {% endunless %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
