<!-- spurit_sri-added -->
{% render 'spurit_sri-product-snippet' %}
<!-- /spurit_sri-added -->
{% comment %}
The contents of the product.liquid template can be found in /sections/product-template.liquid
{% section 'Complex-diet-nav' %}
{% endcomment %}
{% section 'product-template' %}
<!-- ------sections to create------------------------- -->
<div id="header-blank"></div>
<!-- section 1 : Starts -->
<div class="nutra_box mb100" id="section1">
   <div class="page-width">
      <div class="row">
         <div class="col-md-6 right-align">
            <div class="nutra_img"> <img class="responsive-image" src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/b.png?v=1611290736" alt="image"></div>
         </div>
         <div class="col-md-6 left-align">
            <div class="nutra_content">
               <h2>
                  What is Complex Diet Drops
               </h2>
               <p class="mb20">Complex Diet Drops is a synergistic blend over 25 different ingredients known to help support the body in a variety of ways. When used together with the BioSource Nutra Diet Protocol, our scientifically formulated combination of ingredients helps:</p>
               <div class="bullet-points">
                  <div class="build">
                     <img class="responsive-image fr-fic fr-dii" src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/Reduce_Hunger.png?v=1611724577" alt="image">
                     <p><strong>Reduce Hunger</strong> naturally without any harsh stimulants</p>
                  </div>
                  <div class="build">
                     <img class="responsive-image fr-fic fr-dii" src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/lose-weight.png?v=1611558692" data-src="" alt="image">
                     <p><strong>Lose Weight</strong> by retraining your body&#39;s appetites and promoting a healthy balance of the essential bodily processes that regulate fat storage.</p>
                  </div>
                  <div class="build">
                     <img class="responsive-image fr-fic fr-dii" src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/increase-energy.png?v=1611558692" data-src="" alt="image">
                     <p><strong>Increase Energy</strong> by using more stored fat as fuel, helping convert your body into a fat burning furnace.</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- section 1 : Ends -->
<!-- section 2 : Starts -->
<div class="nutra_box mb100" id="section2">
   <div class="page-width">
      <div class="row">
         <div class="col-md-6 left-align">
            <div class="nutra_img"> <img class="responsive-image" src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/img-01.jpg?v=1611146664" data-src="" alt="image"></div>
         </div>
         <div class="col-md-6 right-align">
            <div class="nutra_content">
               <h2>The BioSource Nutra Diet Protocol</h2>
               <p>The BioSource Nutra Diet Protocol combines aspects of intermittent fasting with calorie and carbohydrate restriction for a short, yet powerful body reset. Over the course of roughly one month you will retrain your body and mind to get back into an ideal zone of healthy living.&nbsp;</p>
               <p>Complex Diet Drops and the BioSource Nutra Diet Protocol will help catapult you toward becoming a leaner, more energetic, more confident YOU!</p>
               <p><strong>Choose to follow a:</strong></p>
               <div class="bullet-points">
                  <ul class="circles">
                     <li><strong>21-Day Option:</strong> Quick reset for fast results.</li>
                     <li><strong>43-day Option:</strong> Slightly longer to help you fully adjust to the important changes happening in your body.</li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- section 2 : Ends -->
<!-- section 2.1 : Starts - Everything You Need -->
<div class="nutra_box  mb100" id="section-everything">
   <div class="page-width">
      <div class="row width50">
         <div class="col-md-12">
            <div class="nutra_content">
               <center>
                  <h2>Everything You Need In 3 Easy Steps</h2>
               </center>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-4 col-sm-4">
            <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/CDD_3_easy_steps_-_Step_1.jpg?v=1611982064" class="img-responsive"/>
         </div>
         <div class="col-md-4 col-sm-4">
            <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/CDD_3_easy_steps_-_Step_2.jpg?v=1611982322" class="img-responsive"/>
         </div>
         <div class="col-md-4 col-sm-4">
            <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/CDD_3_easy_steps_-_Step_3.jpg?v=1611982318" class="img-responsive"/>
         </div>
      </div>
   </div>
</div>
<!-- section 2.1 : Ends - Everything You Need -->
<!-- section 3 : Starts -->
<div class="nutra_box" id="section3">
   <div class="page-width">
      <div class="row width50">
         <div class="col-md-12">
            <div class="nutra_content">
               <center>
                  <h2 style="text-align: center;">What&rsquo;s Really Holding Us Back</h2>
               </center>
               <p class="mb20">
               <p style="text-align: center;">The truth is modern lifestyles have hijacked our healthy behaviors and eating habits, making it very hard to maintain a healthy weight.</p>
               <p style="text-align: center;">You are not alone if you have tried endless dieting and working out to no avail.</p>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-12">
            <div class="nutra_content">
               <div class="bullet-points">
                  <p style="text-align: left; margin:20px 0;"><strong>Key factors that may be causing us to hold on to unhealthy weight:</strong></p>
                  <div class="bullet-section half-left">
                     <p class="icon-title"><span><img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/1.png?v=1611902921" class="img-responsive fr-fic fr-dib"></span> <span class="title">High Insulin Resistance</span></p>
                     <p>Insulin is an important hormone that regulates energy storage. High sugar, high carb diets elevate insulin levels. Consistent high levels of insulin creates higher insulin resistance in the body. This can signal to increase fat storage resulting in an accumulation of stubborn fat.</p>
                  </div>
                  <div class="bullet-section half-right">
                     <p class="icon-title"><span><img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/Stress_Icon_5d3d3f11-c57b-46fa-a39c-211bba7ab92a.png?v=1611902921" class="img-responsive fr-fic fr-dib"></span> <span class="title">High Stress</span></p>
                     <p>Cortisol is called the stress hormone. Elevated levels of cortisol can decrease the body&rsquo;s insulin sensitivity and cause chronic inflammation. This vicious cycle puts the body in a constant state of stress and anxiety that can signal the body to hold fat for survival.</p>
                  </div>
                  <div class="bullet-section half-left">
                     <p class="icon-title"><span><img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/Poor_Sleep_Icon_2d4ab4fd-e537-4c91-aa00-15101edef551.png?v=1611902921" class="img-responsive fr-fic fr-dib"></span> <span class="title">Poor Sleep</span></p>
                     <p>Sleep deprivation can trigger imbalances in Ghrelin and Leptin. Ghrelin is a hormone that signals hunger while Leptin suppresses the appetite. Lack of sleep may increase ghrelin levels, causing us to seek out food because we constantly feel hungry</p>
                  </div>
                  <div class="bullet-section half-right">
                     <p class="icon-title"><span><img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/poor_hydration_86b82afa-a8d3-4518-af26-11df77fa06db.png?v=1611902921" class="img-responsive fr-fic fr-dib"></span> <span class="title">Poor Hydration</span></p>
                     <p>Drinking too little water affects vital bodily functions. Sometimes we can mistake thirst signals for hunger signals and eat instead of hydrating. Increased hydration can aid in lipolysis, the body&rsquo;s process of breaking down fat.</p>
                  </div>
                  <div class="bullet-section half-left">
                     <p class="icon-title"><span><img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/Poor_Food_Quality_ebf90dae-682f-4b1e-9f2b-d6cc2341fa65.png?v=1611902921" class="img-responsive fr-fic fr-dib"></span> <span class="title">Poor Food Quality and Quantity</span></p>
                     <p>Restaurant food is typically loaded with sodium, refined sugar and saturated fat from processed oils. Poor quality foods and higher calorie or larger meal portions stress out the liver. This stress can lead to inflammation and hormonal imbalances resulting in unhealthy fat storage among other undesirable health conditions.</p>
                  </div>
                  <div class="bullet-section half-right">
                     <p class="icon-title"><span><img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/Poor_Eating_Schedule_416c2b8f-091f-47e0-9ea2-f8c0bed2ab35.png?v=1611902921" class="img-responsive fr-fic fr-dib"></span> <span class="title">Poor Eating Patterns</span></p>
                     <p>Snacking, skipping meals, eating too late or waiting too long between meals all play a role here. Our bodies love predictability and will function efficiently with the right programming. Eating outside normal hours of activity forces our bodies into an active state that can prevent proper recovery and disrupt sleep cycles.</p>
                  </div>
                  <div class="width50">
                     <p style="text-align:center; color:#285cac;"><strong>The good news is that most of our bodies are &ldquo;naturally programmed&rdquo; to be much healthier than we currently are but just need proper balancing and alignment to make significant improvements.</strong></p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- section 3 : Ends -->
<!-- section 4 : Starts -->
<div class="nutra_box diet-drops-section mb100" id="section4">
   <div class="page-width">
      <div class="row width50">
         <div class="col-md-12">
            <div class="nutra_content">
               <h2 style="text-align: center;">Why Complex Diet Drops?</h2>
               	<p class="mb20">
               	<p style="text-align: center;">Complex Diet Drops is designed to help:&nbsp;</p>
               	<p style="text-align: center;">1) &nbsp;<strong>Reduce excess hormones</strong> like cortisol - the stress hormone responsible for much of our belly fat.&nbsp;</p>
               	<p style="text-align: center;">2) &nbsp;<strong>Balance and activate beneficial hormones</strong> that regulate important bodily processes like hunger, blood sugar, and metabolism</p>
              	<p style="text-align: center;">Using Complex Diet Drops and following the BioSource Nutra Diet may help you achieve the proper balance needed for ideal weight management and better overall health. Other reasons Complex Diet Drops has been the top choice for many years include: </p>
               </p>
            </div>
         </div>
      </div>
      <div class="diet-drops-grid">
         <div class="row">
            <div class="col-md-4 col-sm-6">
               <div class="serviceBox">
                  <div class="service-icon">
                     <span><img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/unlimited-support.png?v=1611564286" class="img-responsive"></span>
                  </div>
                  <h3 class="title">Unlimited Support</h3>
                  <p class="description">We want to help you reach your goals. Call, email, or chat with one of our coaches whenever you need some guidance.</p>
               </div>
            </div>
            <div class="col-md-4 col-sm-6">
               <div class="serviceBox">
                  <div class="service-icon">
                     <span><img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/proper-guidance.png?v=1611566250" class="img-responsive"></span>
                  </div>
                  <h3 class="title">Proper Guidance</h3>
                  <p class="description">Easy step-by-step instructions booklet to help you get started right.</p>
               </div>
            </div>
            <div class="col-md-4 col-sm-6">
               <div class="serviceBox">
                  <div class="service-icon">
                     <span><img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/tools-for-success.png?v=1611564286" class="img-responsive fr-fic fr-dib"></span>
                  </div>
                  <h3 class="title">Tools for success</h3>
                  <p class="description">Free Access to diet tools, recipes, and the BioSource Nutra diet success community.</p>
               </div>
            </div>
            <div class="col-md-4 col-sm-6 dual-icons">
               <div class="serviceBox">
                  <div class="service-icon">
                     <span><img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/gmp.png?v=1611904324" class="img-responsive"></span>
                  </div>
                  <div class="service-icon">
                     <span><img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/fda.png?v=1611904324" class="img-responsive"></span>
                  </div>
                  <h3 class="title">Safe manufacturing</h3>
                  <p class="description">Made in USA in FDA registered, GMP certified facilites.</p>
               </div>
            </div>
            <div class="col-md-4 col-sm-6">
               <div class="serviceBox">
                  <div class="service-icon">
                     <span><img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/proven_track_record.png?v=1611564286" class="img-responsive"></span>
                  </div>
                  <h3 class="title">Proven track record</h3>
                  <p class="description">BioSource Nutra is going has helped customers reach their goals since 2010. The results speak for themselves.</p>
               </div>
            </div>
            <div class="col-md-4 col-sm-6 certificate">
               <div class="serviceBox">
                  <div class="service-icon">
                     <span><img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/satisfaction_guarantee_f90c5441-bd2f-4225-a445-6994b33e9bd5.png?v=1611904324" class="img-responsive"></span>
                  </div>
                  <h3 class="title">Satisfaction guarantee</h3>
                  <p class="description">BioSourceNutra has a 30-day money-back return policy. If you’re not satisfied with our products or service, send it back for a refund! No hassles.</p>
               </div>
            </div>
            <div class="button-group-wrap" id="b1">
                <button class="header-blank">Start Getting Healthier Today!</button>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- section 4 : Ends -->
<!-- section 5 : Starts -->
<div class="nutra_box natural-ingredient-section smb100" id="section5" style="display:none;">
   <div class="page-width">
      <div class="row">
         <div class="col-md-6 right-align">
            <div class="nutra_img"> <img class="responsive-image" src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/diabetes-plate-method-medium_360x.png?v=1607602755" data-src="" alt="image"></div>
         </div>
         <div class="col-md-6 left-align">
            <div class="nutra_content">
               <h2>Ingredients: The Power Combo</h2>
               <p class="mb20">
               <p>Complex Diet Drops contains scientifically validated essential and non-essential amino acid profiles combined with an herbal blend and other natural ingredients that work together synergistically to support your body entering an optimal fat-burning mode during calorie restriction.</p>
               <p>This ingredient combination provides numerous other benefits like tissue repair and enhanced nutrient absorption.</p>
               </p>
            </div>
         </div>
      </div>
   </div>
   <div class="page-width">
      <div class="row">
         <div class="col-md-6 col-sm-12">
            <div class="essentials-wrap">
               <h2>The Essentials</h2>
               <p>Studies have found that essential amino acids prevent lean muscle breakdown. A higher ratio of lean muscle mass can help burn more calories throughout the day, essentially reducing the caloric supply keeping fat cells plump. As a result, fat cells shrink helping us look leaner and feel lighter, among many other benefits.</p>
               <div class="essentials-grid-block">
                  <div class="row">
                     <div class="col-md-6 col-sm-6">
                        <div class="serviceBox">
                           <div class="service-content">
                              <h3>L-Glutamine</h3>
                              <div class="list-block">
                                 <h4 class="step-question"> <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/muscles.png?v=1610538407" class="img-responsive">Protect Lean Muscle</h4>
                              </div>
                              <div class="list-block">
                                 <h4 class="step-question"> <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/blood-drop.png?v=1610538700" class="img-responsive">Regulate Blood Sugar</h4>
                              </div>
                              <div class="list-block">
                                 <h4 class="step-question"> <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/Stress_Icon.png?v=1611723988" class="img-responsive">Reduce Stress</h4>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-6 col-sm-6">
                        <div class="serviceBox">
                           <div class="service-content">
                              <h3>L-Arginine</h3>
                              <div class="list-block">
                                 <h4 class="step-question"> <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/muscles.png?v=1610538407" class="img-responsive">Protect Lean Muscle</h4>
                              </div>
                              <div class="list-block">
                                 <h4 class="step-question"> <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/reduce-stress.jpg?v=1611136891" class="img-responsive">Blood Flow</h4>
                              </div>
                              <div class="list-block">
                                 <h4 class="step-question"> <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/lose-weight.jpg?v=1611136546" class="img-responsive fr-fic fr-dib">Mobilize Fat</h4>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-6 col-sm-6">
                        <div class="serviceBox">
                           <div class="service-content">
                              <h3>L-Tyrosine</h3>
                              <div class="list-block">
                                 <h4 class="step-question"> <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/mental-performance-alertness.jpg?v=1611137067" class="img-responsive fr-fic fr-dib">Mental Performance</h4>
                              </div>
                              <div class="list-block">
                                 <h4 class="step-question"> <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/bell.png?v=1610543826" class="img-responsive fr-fic fr-dib">Alertness</h4>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-6 col-sm-6">
                        <div class="serviceBox">
                           <div class="service-content">
                              <h3>L-Carnitine</h3>
                              <div class="list-block">
                                 <h4 class="step-question"> <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/fat.png?v=1610538799" class="img-responsive fr-fic fr-dib">Mobilize Fat</h4>
                              </div>
                              <div class="list-block">
                                 <h4 class="step-question"> <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/lack-of-appetite.png?v=1610538929" class="img-responsive fr-fic fr-dib">Control Appetite</h4>
                              </div>
                              <div class="list-block">
                                 <h4 class="step-question"> <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/fatigue.png?v=1610539041" class="img-responsive fr-fic fr-dib">Reduce Fatige</h4>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-6 col-sm-6">
                        <div class="serviceBox">
                           <div class="service-content">
                              <h3>L-Ornithine</h3>
                              <div class="list-block">
                                 <h4 class="step-question"> <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/muscles.png?v=1610538407" class="img-responsive fr-fic fr-dib">Protect Lean Muscle</h4>
                              </div>
                              <div class="list-block">
                                 <h4 class="step-question"> <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/cellular-detoxification.jpg?v=1611137097" class="img-responsive fr-fic fr-dib">Cellular Detoxification</h4>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-6 col-sm-6">
                        <div class="serviceBox">
                           <div class="service-content">
                              <h3>L-Tryptophan</h3>
                              <div class="list-block">
                                 <h4 class="step-question"> <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/lack-of-appetite.png?v=1610538929" class="img-responsive">Control Appetite</h4>
                              </div>
                              <div class="list-block">
                                 <h4 class="step-question"> <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/Improve_Mood_Icon.png?v=1611723988" class="img-responsive">Improve Mood</h4>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-md-6 col-sm-12" id="quality">
            <div class="nutra_content">
               <h2>Quality Natural Ingredients</h2>
               <p class="mb20">
               <p>The potent blend of herbs and natural ingredients is designed supercharge your cells and help balance vital bodily functions.</p>
               <p><br></p>
               <p><strong>See these amazing ingredients and their benefits below:</strong></p>
               </p>
            </div>
            <div class="row">
               <div class="col-md-12">
                  <!-- <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/banner_whatseatingyou.png?v=1610544493" class="img-responsive fr-fic fr-dib"> -->
                  <!-- <div class="title-content">
                     <h4>Promotes Healthy Blood Sugar</h4>
                     <ul>
                         <li>Chromium Picolinate</li>
                         <li>African Mango</li>
                         <li>Gymnema Sylvestre</li>
                         <li>Grapefruit Seed Extract</li>
                     </ul>
                     </div> -->
                  <div class="col-md-6 col-sm-6">
                     <div class="serviceBox">
                        <div class="service-content">
                           <h3>Strengthen Immune System &ndash; Lower Stress and Inflammation</h3>
                           <div class="list-block">
                              <h4 class="step-question"> <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/immune-system.png?v=1612013130" class="img-responsive">GABA</h4>
                           </div>
                           <div class="list-block">
                              <h4 class="step-question"> <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/Maca.png?v=1611915756" class="img-responsive">Maca</h4>
                           </div>
                           <div class="list-block">
                              <h4 class="step-question"> <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/Astragalus.png?v=1611915756" class="img-responsive">Astragalus</h4>
                           </div>
                           <div class="list-block">
                              <h4 class="step-question"> <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/Eleuthero.png?v=1611915756" class="img-responsive">Eleuthero</h4>
                           </div>
                           <div class="list-block">
                              <h4 class="step-question"> <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/Capsicum_Annum.png?v=1611915756" class="img-responsive">Capsicum Annum</h4>
                           </div>
                           <div class="list-block">
                              <h4 class="step-question"> <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/immunity.png?v=1612013129" class="img-responsive">Monoammonium Glycyrrhizinate</h4>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6 col-sm-6">
                     <div class="serviceBox">
                        <div class="service-content">
                           <h3>Promotes Healthy Blood Sugar</h3>
                           <div class="list-block">
                              <h4 class="step-question"> <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/Chromium_Picolinate.png?v=1611913286" class="img-responsive">Chromium Picolinate</h4>
                           </div>
                           <div class="list-block">
                              <h4 class="step-question"> <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/African_Mango.png?v=1611913286" class="img-responsive">African Mango</h4>
                           </div>
                           <div class="list-block">
                              <h4 class="step-question"> <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/Gymnema_Sylvestre.png?v=1611913286" class="img-responsive">Gymnema Sylvestre</h4>
                           </div>
                           <div class="list-block">
                              <h4 class="step-question"> <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/Grapefruit_Seed_Extract.png?v=1611913285" class="img-responsive">Grapefruit Seed Extract</h4>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6 col-sm-6">
                     <div class="serviceBox">
                        <div class="service-content">
                           <h3>Boost Energy and Metabolism</h3>
                           <div class="list-block">
                              <h4 class="step-question"> <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/Guarana.jpg?v=1611917258" class="img-responsive">Guarana</h4>
                           </div>
                           <div class="list-block">
                              <h4 class="step-question"> <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/Green_Tea.png?v=1611915756" class="img-responsive">Green Tea</h4>
                           </div>
                           <div class="list-block">
                              <h4 class="step-question"> <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/Panax_Ginseng.png?v=1611915756" class="img-responsive">Panax Ginseng</h4>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6 col-sm-6">
                     <div class="serviceBox">
                        <div class="service-content">
                           <h3>Mobilize Fat</h3>  
                           <div class="list-block">
                              <h4 class="step-question"> <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/Coleus_Forskohlii.png?v=1611915756" class="img-responsive">Coleus Forskohlii</h4>
                           </div>
                           <div class="list-block">
                              <h4 class="step-question"> <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/GrapeSeed_Extract.png?v=1611915756" class="img-responsive">GrapeSeed Extract</h4>
                           </div>
                           <div class="list-block">
                              <h4 class="step-question"> <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/Fucoxanthin.png?v=1611915756" class="img-responsive">Fucoxanthin</h4>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- section 5 : Ends -->
<!-- section 5.1 : Testing Starts -->
<div class="nutra_box natural-ingredient-section mb100" id="section5-1">
   <div class="page-width">
      <div class="row width75">
         <div class="col-md-12">
            <div class="nutra_content">
               <h2><p>Ingredients: The Power Combo</p></h2>
               <p class="mb20">
                    Complex Diet Drops contains scientifically validated essential and non-essential amino acid profiles combined with high quality natural ingredient matrix that work together synergistically to support your body entering an optimal fat-burning mode during calorie restriction.</p>
                    <p class="mb20"><strong>Essential Amino Acids</strong> are crucial to prevent lean muscle breakdown. A higher ratio of lean muscle mass can help the body burn more calories, essentially reducing the caloric supply that keeps fat cells plump. As a result, fat cells shrink helping us look leaner and feel lighter, among many other benefits.</p>                                    
                <p class="mb20">Our <strong>Natural Ingredient Matrix</strong> contains a carefully balanced blend of herbs, adaptogens, and other natural boosters designed to supercharge your cells and help balance vital bodily functions. </p>
                </p>
            </div>
         </div>
      </div>
   </div>
   <div class="page-width">
      <div class="row" style="margin-top:20px;">
         <div class="col-md-5 col-sm-12 left">
            <div class="essentials-wrap">
               <h2>The Essentials</h2>
               <table>
                  <tr class="tbl-heading">
                     <td class="tbl-ing-heading">
                        <h3>Ingredients</h3>
                     </td>
                     <td>
                        <h3>Benefits</h3>
                     </td>
                  </tr>
                  <tr>
                     <td class="tbl-ing-heading"><strong>L-Glutamine</strong></td>
                     <td>
                        <div class="list-block">
                           <h4 class="step-question"> <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/muscles_7bf3a06e-332a-42a8-979f-34a440b25ddb.png?v=1612004280" class="img-responsive">Protect Lean Muscle
                           </h4>
                        </div>
                        <div class="list-block">
                           <h4 class="step-question"> <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/blood-drop_4f46dc6e-46d9-48c4-b46a-a10099854a5a.png?v=1612004973" class="img-responsive">Regulate Blood Sugar</h4>
                        </div>
                        <div class="list-block">
                           <h4 class="step-question"> <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/stress_f65f380d-7fd3-4220-bb2e-acbde3d0e6cc.png?v=1612004950" class="img-responsive">Reduce Stress</h4>
                        </div>
                     </td>
                  </tr>
                  <tr>
                     <td class="tbl-ing-heading"><strong>L-Arginine</strong></td>
                     <td>
                        <div class="list-block">
                           <h4 class="step-question"> <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/muscles_7bf3a06e-332a-42a8-979f-34a440b25ddb.png?v=1612004280" class="img-responsive">Protect Lean Muscle</h4>
                        </div>
                        <div class="list-block">
                           <h4 class="step-question"> <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/reduce-stress.png?v=1612004951" class="img-responsive">Blood Flow</h4>
                        </div>
                        <div class="list-block">
                           <h4 class="step-question"> <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/lose-weight.png?v=1611558692" class="img-responsive fr-fic fr-dib">Mobilize Fat</h4>
                        </div>
                     </td>
                  </tr>
                  <tr>
                     <td class="tbl-ing-heading"><strong>L-Tyrosine</strong></td>
                     <td>
                        <div class="list-block">
                           <h4 class="step-question"> <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/mental-performance-alertness.png?v=1612004704" class="img-responsive fr-fic fr-dib">Mental Performance</h4>
                        </div>
                        <div class="list-block">
                           <h4 class="step-question"> <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/bell_2e4e24df-d9ec-4f4a-bd2b-a30c47eff80d.png?v=1612004655" class="img-responsive">Alertness</h4>
                        </div>
                     </td>
                  </tr>
                  <tr>
                     <td class="tbl-ing-heading"><strong>L-Carnitine</strong></td>
                     <td>
                        <div class="list-block">
                           <h4 class="step-question"> <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/lose-weight.png?v=1611558692" class="img-responsive fr-fic fr-dib">Mobilize Fat</h4>
                        </div>
                        <div class="list-block">
                           <h4 class="step-question"> <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/lack-of-appetite_2aa9fd78-6300-4df8-ae93-6d8362d2e817.png?v=1612004091" class="img-responsive fr-fic fr-dib">Control Appetite</h4>
                        </div>
                        <div class="list-block">
                           <h4 class="step-question"> <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/fatigue_9630e1d5-dbbe-41b4-9103-474003e1b341.png?v=1612004566" class="img-responsive">Reduce Fatige</h4>
                        </div>
                     </td>
                  </tr>
                  <tr>
                     <td class="tbl-ing-heading"><strong>L-Ornithine</strong></td>
                     <td>
                        <div class="list-block">
                           <h4 class="step-question"> <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/muscles_7bf3a06e-332a-42a8-979f-34a440b25ddb.png?v=1612004280" class="img-responsive fr-fic fr-dib">Protect Lean Muscle</h4>
                        </div>
                        <div class="list-block">
                           <h4 class="step-question"> <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/cellular-detoxification.png?v=1612004413" class="img-responsive fr-fic fr-dib">Cellular Detoxification</h4>
                        </div>
                     </td>
                  </tr>
                  <tr>
                     <td class="tbl-ing-heading"><strong>L-Tryptophan</strong></td>
                     <td>
                        <div class="list-block">
                           <h4 class="step-question"> <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/lack-of-appetite_2aa9fd78-6300-4df8-ae93-6d8362d2e817.png?v=1612004091" class="img-responsive">Control Appetite</h4>
                        </div>
                        <div class="list-block">
                           <h4 class="step-question"> <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/improve-mood.png?v=1612003978" class="img-responsive">Improve Mood</h4>
                        </div>
                     </td>
                  </tr>
               </table>
            </div>
         </div>
         <div class="col-md-2 col-sm-12">
            <div class="plus">+</div>
         </div>
         <div class="col-md-5 col-sm-12 right">
            <div class="essentials-wrap">
               <div class="nutra_content">
                  <h2>Natural Ingredient Matrix</h2>
                  <table>
                     <tr class="tbl-heading">
                        <td>
                           <h3>Ingredients</h3>
                        </td>
                        <td>
                           <h3>Benefits</h3>
                        </td>
                     </tr>
                     <tr>
                        <td>
                           <div class="list-block">
                              <h4 class="step-question"> <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/gaba.png?v=1612246165" class="img-responsive">GABA</h4>
                           </div>
                           <div class="list-block">
                              <h4 class="step-question"> <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/Maca.png?v=1611915756" class="img-responsive">Maca</h4>
                           </div>
                           <div class="list-block">
                              <h4 class="step-question"> <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/Astragalus.png?v=1611915756" class="img-responsive">Astragalus</h4>
                           </div>
                           <div class="list-block">
                              <h4 class="step-question"> <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/Eleuthero.png?v=1611915756" class="img-responsive">Eleuthero</h4>
                           </div>
                           <div class="list-block">
                              <h4 class="step-question"> <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/Capsicum_Annum.png?v=1611915756" class="img-responsive">Capsicum Annum</h4>
                           </div>
                           <div class="list-block lbi">
                              <h4 class="step-question"> <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/Monoammonium_Glycyrrhizinate.png?v=1612246165" class="img-responsive">Monoammonium Glycyrrhizinate</h4>
                           </div>
                        </td>
                        <td class="tbl-ing-heading">
                            <span><img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/immune.png?v=1612263372" class="img-responsive"></span>
                            <span><strong>Strengthen Immune System &ndash; Lower Stress and Inflammation</strong></span>
                        </td>
                     </tr>
                     <tr>
                        <td>
                           <div class="list-block">
                              <h4 class="step-question"> <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/Chromium_Picolinate.png?v=1611913286" class="img-responsive">Chromium Picolinate</h4>
                           </div>
                           <div class="list-block">
                              <h4 class="step-question"> <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/African_Mango.png?v=1611913286" class="img-responsive">African Mango</h4>
                           </div>
                           <div class="list-block">
                              <h4 class="step-question"> <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/Gymnema_Sylvestre.png?v=1611913286" class="img-responsive">Gymnema Sylvestre</h4>
                           </div>
                           <div class="list-block">
                              <h4 class="step-question"> <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/Grapefruit_Seed_Extract.png?v=1611913285" class="img-responsive">Grapefruit Seed Extract</h4>
                           </div>
                        </td>
                        <td class="tbl-ing-heading">
                        <span><img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/blood-drop_4f46dc6e-46d9-48c4-b46a-a10099854a5a.png?v=1612004973" class="img-responsive"></span>
                        <span><strong>Promotes Healthy Blood Sugar</strong></td></span>
                     </tr>
                     <tr>
                        <td>
                           <div class="list-block">
                              <h4 class="step-question"> <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/Guarana.jpg?v=1611917258" class="img-responsive">Guarana</h4>
                           </div>
                           <div class="list-block">
                              <h4 class="step-question"> <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/Green_Tea.png?v=1611915756" class="img-responsive">Green Tea</h4>
                           </div>
                           <div class="list-block">
                              <h4 class="step-question"> <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/Panax_Ginseng.png?v=1611915756" class="img-responsive">Panax Ginseng</h4>
                           </div>
                        </td>
                        <td class="tbl-ing-heading">
                            <span><img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/increase-energy.png?v=1611558692" class="img-responsive"></span>
                            <span><strong>Boost Energy and Metabolism</strong></span>
                        </td>  
                     </tr>
                     <tr>
                        <td>
                           <div class="list-block">
                              <h4 class="step-question"> <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/Coleus_Forskohlii.png?v=1611915756" class="img-responsive">Coleus Forskohlii</h4>
                           </div>
                           <div class="list-block">
                              <h4 class="step-question"> <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/GrapeSeed_Extract.png?v=1611915756" class="img-responsive">GrapeSeed Extract</h4>
                           </div>
                           <div class="list-block">
                              <h4 class="step-question"> <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/Fucoxanthin.png?v=1611915756" class="img-responsive">Fucoxanthin</h4>
                           </div>
                        </td>
                        <td class="tbl-ing-heading">
                            <span><img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/body.png?v=1612263372" class="img-responsive"></span>
                            <span><strong>Mobilize Fat</strong></span>
                        </td> 
                     </tr>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- section 5.1 : Testing Ends -->
<!-- section 6 : Starts -->
<div class="nutra_box power-combo-section" id="section6" style="display: none;">
   <div class="page-width">
      <div class="row width50">
         <div class="col-md-12">
            <div class="nutra_content">
               <h2>{{product.metafields.accentuate.cdd_sixth_section_heading}}</h2>
               <p class="mb20">{{product.metafields.accentuate.cdd_sixth_section_sub_heading}}</p>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-12">
            <div class="nutra_content">
               <div class="bullet-points">
                  {{product.metafields.accentuate.cdd_sixth_section_bullet_point}}
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- section 6 : Ends -->
<!-- section 7 : Starts -->
<div class="nutra_box" id="section7">
   <div class="page-width">
      <div class="row">
         <div class="col-md-12 center-align">
            <div class="nutra_img"> <img class="responsive-image" src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/CDD_Supplement_Facts_-2024.jpg?v=1723241016" data-src="" alt="image"></div>
            <div class="nutra_content">
               <h2 class="no-hormone123">No Hormones, No Injections, No Negative Side-Effects</h2>
               <p>{{product.metafields.accentuate.cdd_seventh_section_sub_headin}}</p>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- section 7 : Ends -->
<!-- section 8 : Starts -->
<div id="ss1">
<div class="nutra_box safty-science-section" id="section8">
   <div class="page-width">
      <div class="row center-algin">
         <div class="col-md-12">
            <div class="nutra_content">
               <h2 style="text-align:center;">All The Tools For  Success</h2>
               <p>When you order Complex Diet Drops you will receive a comprehensive diet system that includes everything you’ll need for success</p>
            </div>
         </div>
      </div>
      <!--safty & science grid 1 start-->
      <div class="safety-science-grid1">
         <div class="row">
            <div class="col-md-4 col-sm-6">
               <div class="serviceBox">
                  <div class="service-icon">
                     <span>01</span>
                  </div>
                  <div class="block-img">
                     <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/complex-diet-drops_1024x1024_2x_1024x1024_2x_0c79194c-7163-42e7-a57e-bc10ea481fb0.jpg?v=1612006346" class="img-responsive">
                  </div>
                  <div class="service-content">
                     <p><strong>Complex Diet Drops</strong></p>
                  </div>
               </div>
            </div>
            <div class="col-md-4 col-sm-6">
               <div class="serviceBox">
                  <div class="service-icon">
                     <span>02</span>
                  </div>
                  <div class="block-img">
                     <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/2020-08-07_17-25-54_28d8bce6-12c4-476e-8849-e0f19c092dae.png?v=1612005892" class="img-responsive">
                  </div>
                  <div class="service-content">
                     <p><strong>Quickstart Diet Guide Booklet</strong><br/>Step-by-step instructions for quick referencing.</p>
                  </div>
               </div>
            </div>
            <div class="col-md-4 col-sm-6">
               <div class="serviceBox">
                  <div class="service-icon">
                     <span>03</span>
                  </div>
                  <div class="block-img">
                     <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/Diet_Success_Tools.jpg?v=1612006183" class="img-responsive">
                  </div>
                  <div class="service-content">
                     <p><strong>Diet Success Tools</strong><br/>Free access to our suite of tools including full diet instructions, weight loss tracker recipes, and food log.</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!--safty & science grid 1 end-->
      <!--safty & science grid 2 start-->
      <!--       <div class="safety-science-grid2">
         <div class="row">
             <div class="col-md-4 col-sm-6">
                 <div class="serviceBox">
                     <div class="service-content">
                         <h3 class="title">Unlimited Support</h3>
                         <p class="description">We want to help you reach your goals. Call, email, or chat with one ofour coaches whenever you need some guidance.</p>
                     </div>
                 </div>
             </div>
             <div class="col-md-4 col-sm-6">
                 <div class="serviceBox green">
                     <div class="service-content">
                         <h3 class="title">Proven Track Record</h3>
                         <p class="description">BioSourceNutra has helped customers reach their goals since 2010. The results speak for themselves.</p>
                     </div>
                 </div>
             </div>
             <div class="col-md-4 col-sm-6">
                 <div class="serviceBox blue">
                     <div class="service-content">
                         <h3 class="title">Satisfaction Guarantee</h3>
                         <p class="description">BioSourceNutra has a 30-day money-back return policy. If you’re notsatisfied with our products or service, send it back for a refund! Nohassles.</p>
                     </div>
                 </div>
             </div>
         </div>
         </div> -->
      <!--safty & science grid 2 end-->
   </div>
</div>
</div>
<!-- section 8 : Ends -->
<!-- section 9 : Starts -->
<div class="nutra_box safty-science-section safety-section" id="section9">
   <div class="page-width">
      <div class="row center-algin">
         <div class="col-md-12">
            <div class="nutra_content">
               <h2 style="text-align:center;">Safety & Science</h2>
            </div>
         </div>
      </div>
      <!--safty & science grid 2 start-->
      <div class="safety-science-grid2">
         <div class="row">
            <div class="col-md-12 col-sm-12">
               <p>Nothing comes before quality and safety! BioSource Nutra formulates and manufactures every product in the USA in GMP Certified, FDA Registered facilities.</p>
               <p>Every product is made with 100% natural ingredients under strict GMP quality standards then 3rd party tested for accuracy and safety.</p>
               <h3 style="text-align:center;"><strong>Complex Diet Drops is:</strong></h3>
               <ul class="safety-headings">
                  <!--                     <li><span><img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/100-natural-ingredients.jpg?v=1611577438" class="img-responsive"></span><span>100% Natural Ingredients</span></li>
                     <li><span><img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/third-party-tested.jpg?v=1611578941" class="img-responsive"></span><span>Third Party Tested</span></li>
                     <li><span><img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/no-side-effects.jpg?v=1611579447" class="img-responsive"></span><span>No Harmful Side Effects</span></li> -->
                  <li>
                     <span><img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/gluten-free-150-150.png?v=1612246671" class="img-responsive"></span>
                     <span>Gluten Free</span>
                  </li>
                  <li>
                     <span><img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/gmo-free-150-150.png?v=1612246671" class="img-responsispan"></span>
                     <span>GMO Free</span>
                  </li>
                  <li>
                     <span><img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/dairy-free-150-150.png?v=1612246671" class="img-responsive"></span>
                     <span>Dairy Free</span>
                  </li>
                  <!-- <li>
                     <span><img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/keto-friendly.png?v=1611983140   " class="img-responsive"></span>
                     <span>Keto Friendly</span>
                  </li> -->
                  <li>
                     <span><img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/hormone-free-150-150.png?v=1612246671" class="img-responsive"></span>
                     <span>Hormone Free</span>
                  </li>
                  <!-- <li>
                     <span><img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/paleo-friendly.png?v=1611983140" class="img-responsive"></span>
                     <span>Paleo Friendly</span>
                  </li>
                  <li>
                     <span><img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/intermitent-fasting-support.png?v=1611983140" class="img-responsive"></span>
                     <span>Intermitent Fasting Support</span>
                  </li> -->
                  <li>
                     <span><img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/no-artificial-no-preservative-150-150.png?v=1612246671" class="img-responsive"></span>
                     <span>No Artificial Colors Or Preservatives</span>
                  </li>
               </ul>
            </div>
         </div>
      </div>
      <!--safty & science grid 2 end-->
      <div class="row">
         <div class="col-md-12 left-align">
            <div class="nutra_content">
               <div class="bullet-points">
                  {{product.metafields.accentuate.cdd_eighth_section_bullet_poin}}
                  	<div class="button-group-wrap" id="c1">
<!--                     	<a href="#header-blank" class="ss-btn">Try It NOW</a> -->
                      	<button class="header-blank">Try It NOW</button>
                 	</div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- section 9 : Ends -->
<!-- -----------end-sections--------------------------------- -->
{% section 'FAQ' %}
<!--<div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>-->
{% if collection %}
<div class="text-center return-link-wrapper page-width">
   <a href="{{ collection.url }}" class="btn btn--secondary btn--has-icon-before return-link">
   {% include 'icon-arrow-left' %}
   {{ 'products.product.back_to_collection' | t: title: collection.title }}
   </a>
</div>
{% endif %}
{% section 'product-recommendations' %}
<script>
   // Override default values of shop.strings for each template.
   // Alternate product templates can change values of
   // add to cart button, sold out, and unavailable states here.
   theme.productStrings = {
       addToCart: {{ 'products.product.add_to_cart' | t | json }},
       soldOut: {{ 'products.product.sold_out' | t | json }},
       unavailable: {{ 'products.product.unavailable' | t | json }}
   }
</script>
{% assign current_variant = product.selected_or_first_available_variant %}
<script type="application/ld+json">
   {
   "@context": "http://schema.org/",
   "@type": "Product",
   "name": {{ product.title | json }},
   "url": {{ shop.url | append: product.url | json }},
   {%- if product.featured_media -%}
       {%- assign media_size = product.featured_media.preview_image.width | append: 'x' -%}
       "image": [
       {{ product.featured_media | img_url: media_size | prepend: "https:" | json }}
       ],
   {%- endif -%}
   "description": {{ product.description | strip_html | json }},
   {%- if current_variant.sku != blank -%}
       "sku": {{ current_variant.sku | json }},
   {%- endif -%}
   "brand": {
       "@type": "Thing",
       "name": {{ product.vendor | json }}
   },
   "offers": [
       {%- for variant in product.variants -%}
       {
           "@type" : "Offer",
           {%- if variant.sku != blank -%}
           "sku": {{ variant.sku | json }},
           {%- endif -%}
           "availability" : "http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}",
           "price" : {{ variant.price | divided_by: 100.00 | json }},
           "priceCurrency" : {{ cart.currency.iso_code | json }},
           "url" : {{ shop.url | append: variant.url | json }}
       }{% unless forloop.last %},{% endunless %}
       {%- endfor -%}
   ]
   }
</script>