<style>
.garcinia .product-single__description.rte {
    display: none;
}

  .garciniaj.product-single__description.rte {
    display: block;
}

  .con-para {
    font-size: 18px;
}
  
 h2 {
    display: inline-block;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 01px;
}
  
  
  
ul.sec-ul li {
    list-style: disc;
    margin-left: 20px;
}

ul.sec-ul li h2 {
    display: inline-block;
    padding-right: 5px;
}
  .sec p {
    margin-bottom: 2px;
}
  
  .fisr {
    margin-top: 20px;
    margin-bottom: 20px;
}
  
  h1.sec-headd {
    text-align: left;
}

.cont p {
    font-size: 18px;
}
  
a.tryit {
    text-align: center;
    display: block;
    font-size: 18px;
    background: #94cc09 !important;
    font-size: 14px;
    line-height: 19px;
    color: #fff;
    border: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 20px 80px;
    border-radius: 0px;
    border-radius: 100px;
    text-align: center;
    float: middle !important;
    font-weight: 700;
    min-height: 44px;
    display: block;
    width: 50%;
    margin: 0 auto;
  margin-top: 40px;
} 
  
  .cont.se-2 {
    margin-top: 5%;
}
  ul.se-2 li {
    list-style: disc;
    margin-left: 40px;
    font-size: 18px;
}
  
  table.garcin {
    margin-top: 30px;
    margin-bottom: 20px;
}

tr.headiing th {
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 20px;
}

tr.tr-cone td {
    padding: 30px 10px;
    font-size: 18px;
}
  
  .cons {
    margin-top: 40px;
} 

@media screen and (max-width: 480px) {    
  div#ProductSection-product-template {
    margin-top: 0px !important;
  }
  a.tryit {width: 100%}
 }

</style>


<div class="garcinia">
<!-- spurit_sri-added -->
{% render 'spurit_sri-product-snippet' %}
<!-- /spurit_sri-added -->
{% comment %}
  The contents of the product.liquid template can be found in /sections/product-template.liquid
{% endcomment %}

{% section 'product-template' %}

{% comment %}
 <div class="garciniaj product-single__description rte">
            {{ product.description }}
      </div>
  {% endcomment %}
<!-- =================================================new page content -->
  
  <div class="page-width">
  
    <div class="row">
    
      <div class="con-para">
        <div class="fisr">
        <h2> Garcinia Cambogia Ultra Slim </h2>is an extremely effective, dual-action fat blocker formulated for optimal weight loss while maintaining a regular diet. It has quickly become a top seller because of its clear health benefits in addition to weight loss with little to no dietary or lifestyle changes.
        </div>
<!--         -------------------------------------- -->
        
        <div class="sec">
          <h2>What Is Garcinia Cambogia?</h2>
          <p>
            Garcinia Cambogia is a small, pumpkin-shaped fruit, otherwise referred to as the tamarind fruit. It comes from Southeast Asia, where native people have used it for centuries to cook with and help with digestion. 
          </p> 
<br>
          <p>Scientists continue to study this fruit for its health promoting properties. Garcinia Cambogia Extract is purported to have several health benefits. Among those benefits are:</p>
<br>
          <ul class="sec-ul">

            <li><h2>May suppress the appetite</h2>and help to lower stress (elevated levels of stress often contributes to weight gain) (<a class="sec-a" href=(https://www.ncbi.nlm.nih.gov/pubmed/12349913)>1</a>, <a class="sec-a" href=(https://www.ncbi.nlm.nih.gov/pubmed/11758650)>2</a>)</li>

            <li><h2>Potentially reduce accumulation of belly fat</h2>by inhibiting an enzyme called citrate lyase, which plays an important role in the fat production (<a class="sec-a" href=(https://www.ncbi.nlm.nih.gov/pubmed/25732350)>3</a>, <a class="sec-a" href=(http://www.sciencedirect.com/science/article/pii/S003193840600165X)>4</a>, <a class="sec-a" href=(https://www.ncbi.nlm.nih.gov/pubmed/16725163/)>5</a>, <a class="sec-a" href=(https://www.ncbi.nlm.nih.gov/pubmed/5484459)>6</a>, <a class="sec-a" href=(https://link.springer.com/article/10.1007/BF02532964)>7</a>)</li>


          </ul>


        </div>
        <br>
<!--         --------------------------------sec2 -->
        
   
    
<!--     ----------------------------------------------------------------row2 -->
    
    <div class="row">
    
      <div class="sec-2">
      
        <div class="cont">
        
          <h1 class="sec-headd">What Makes Garcinia Cambogia Effective?</h1>
          <p>Garcinia Cambogia Extract contains what is called <i>HCA (Hydroxycitric Acid)</i>, a naturally occurring acid that scientists say is responsible for many of the reported benefits.</p>
          <p>In one randomized, double-blind, placebo-controlled clinical study, moderately obese people took Garcinia Cambogia daily for eight weeks and drastically improved several risk factors (<a class="sec-a" href=(https://www.ncbi.nlm.nih.gov/pubmed/12349913)>8</a>).</p>
          <ul class="sec-ul">
            <li><strong>Body weight:</strong> 6.3% lower</li>
<li><strong>Total cholesterol levels:</strong></h2> 6.3% lower</li>
<li><strong>“Bad” LDL cholesterol levels:</strong> 12.3% lower</li>
<li><strong>“Good” HDL cholesterol levels:</strong> 10.7% higher</li>
<li><strong>Blood triglycerides:</strong> 8.6% lower</li>
<li><strong>Fat metabolites:</strong> 125–258% more excreted in the urine</li>
          </ul>
       <br>
          
          <a class="tryit" href="#">Try It Now </a>
        
        </div>
        
<!--         --------------------------------- -->
       <div class="cont se-2">
        
          <h1 class="sec-headd">WARNING: NOT ALL GARCINIA CAMBOGIA SUPPLEMENTS ARE CREATED EQUAL </h1>
         <p>Because of its popularity, there are many companies selling cheap Garcinia Cambogia products full of fillers and other unnatural ingredients. Many don’t even provide a potent enough dosage to make a difference in your body. <br>Here is a list of important things to look for in any Garcinia Cambogia Extract:</p>
      
         <br>
         
                   <h1 class="sec-headd">MINIMUM RECOMMENDED CRITERIA FOR EFFECTIVE USE </h1>

         <ul class="se-2">
         
           <li>Says Garcinia Cambogia, GCE or Garcinia Cambogia Extract on the label</li>
           
           <li>Contains at least 50% HCA (Hydroxycitric Acid)</li>
           
           <li>Contains no additives, binders, or fillers</li>
           
           <li>Provides a daily serving of at least 1500 mg</li>
           
           <li>May absorb better when combined with Potassium and Calcium (naturally occurring in Garcinia Cambogia fruit)</li>
         
         </ul>
        </div>
        
<!--         ----------end newsect-------------------------------- -->
        
         <div class="cont se-2">
        
          <h1 class="sec-headd">GARCINIA CAMBOGIA ULTRA SLIM MEETS CRITERIA</h1>
         <p>Now take a look at our label and ingredients. Garcinia Cambogia Ultra Slim actually exceeds the recommended criteria:</p>
      
         <br>
         
                 

         <ul class="se-2">
         
           <li>100% Pure Garcinia Cambogia Extract</li>
           
           <li>Contains <b>95% HCA</b>></li>
           
           <li>Veggie Capsules</li>
           
           <li>No additives, fillers, or binders</li>
           
           <li>Daily serving of 1500 mg (1425 mg HCA) and 225 mg Potassium</li>
         
         </ul>
         
                  <p>BioSource Nutra Garcinia is standardized to 95% HCA, providing a higher amount of the most important ingredient per pill than other leading brands.</p>

                   <a class="tryit" href="#">Try It Now </a>

         
        </div>
        
        
        
        
        
        
        
        
<!--       -------------------- -->
      
      </div>
    
    
    
    </div>
  
<!--  -----------------------row3-------------------------  -->
  
    <div class="row">
    
      <div class="cons">
      
      
        <h2>WHY CHOOSE GARCINIA CAMBOGIA FROM BIOSOURCE NUTRA?</h2>
        <p>Garcinia Cambogia Ultra Slim is made in the USA using strict GMP quality standards in FDA registered facilities. The ingredients in each bottle are 3rd party tested for purity and accuracy. You’ll never have to wonder if you’re getting anything but the best from BioSource Labs!<br>Garcinia Cambogia Ultra Slim is 100% natural, and perfect for weight maintenance. Studies show that Garcinia Cambogia may help you significantly lose more fat than with just diet and exercise alone. 
        <br>BioSource Nutra recommends eating a clean, healthy diet with daily exercise to get maximum benefits. But, as the study above shows, results may not be dependent on making drastic changes to diet and physical activity.
        <br>Garcinia Cambogia Ultra Slim can help maximize your weight loss efforts whether you are just starting the BioSource Nutra diet, already starting the maintenance phase, or simply following your own healthy diet!</p>
      
              <h2>100% All-Natural Ingredients: </h2>
        
        <p>BioSource Nutra gets Garcinia Cambogia directly from its pure, natural source in Southeast Asia. Ingredients undergo strict purity testing to ensure there are no additives or unnatural substances going into the bottle.</p>

      </div>
    
    
    
    
    
    
    
    </div>
    
    
    
    <div class="row">
    
      <table class="garcin">
      
        <tr class="headiing">
          
          <th>Ingredients</th>
           <th>Benefit</th>
        
        
        </tr>
        
        <tr class="tr-cone">
        
          <td>Potassium (as potassium gluconate)</td>
          <td>Helps lower sodium levels which can result in lower blood pressure</td>
        
        </tr>
        
         <tr class="tr-cone">
          
          <td>Garcinia Cambogia (95% HCA)</td>
          <td>May help increase serotonin levels resulting in decreased appetite. May positively impact cholesterol levels and fat loss.</td>
        
        
        </tr>
      
      </table>
      
       <a class="tryit buyy" href="#">Order Now </a>
      
     <!-- <h2 class="real">Real People. Real Results</h2>-->
    
    </div>
  
  
  
  
  </div>
  
  <!-- =================================================new page content -->


<!-- ------sections to create------------------------- -->

{% comment %}
{% section 'Complex-Diet-Drops-feature-row' %}
{% section 'Complex-Diet-Drops-feature-row2' %}
{% section 'Complex-Diet-Drops-feature-row3' %}
{% section 'Complex-Diet-Drops-ingredient-description' %}
{% section 'Complex-Diet-Drops-feature-row4' %}
{% section 'Complex-Diet-Drops-feature-row5' %}
{% section 'Complex-Diet-Drops-chemical-formula' %}
{% section 'Complex-Diet-Drops-feature-row6' %}
{% section 'Complex-Diet-Drops-power-combo' %}
{% section 'Complex-Diet-Drops-suppliments-facts' %}
{% section 'Complex-Diet-Drops-feature-row8' %}
{% endcomment %}

<!-- -----------end-sections--------------------------------- -->
{% section 'product-recommendations' %}
{% section 'FAQ' %}
<!--<div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>-->
{% if collection %}
  <div class="text-center return-link-wrapper page-width">
    <a href="{{ collection.url }}" class="btn btn--secondary btn--has-icon-before return-link">
      {% include 'icon-arrow-left' %}
      {{ 'products.product.back_to_collection' | t: title: collection.title }}
    </a>
  </div>
{% endif %}
</div>
<script>
  // Override default values of shop.strings for each template.
  // Alternate product templates can change values of
  // add to cart button, sold out, and unavailable states here.
  theme.productStrings = {
    addToCart: {{ 'products.product.add_to_cart' | t | json }},
    soldOut: {{ 'products.product.sold_out' | t | json }},
    unavailable: {{ 'products.product.unavailable' | t | json }}
  }
</script>

{% assign current_variant = product.selected_or_first_available_variant %}

<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "Product",
  "name": {{ product.title | json }},
  "url": {{ shop.url | append: product.url | json }},
  {%- if product.featured_media -%}
    {%- assign media_size = product.featured_media.preview_image.width | append: 'x' -%}
    "image": [
      {{ product.featured_media | img_url: media_size | prepend: "https:" | json }}
    ],
  {%- endif -%}
  "description": {{ product.description | strip_html | json }},
  {%- if current_variant.sku != blank -%}
    "sku": {{ current_variant.sku | json }},
  {%- endif -%}
  "brand": {
    "@type": "Thing",
    "name": {{ product.vendor | json }}
  },
  "offers": [
    {%- for variant in product.variants -%}
      {
        "@type" : "Offer",
        {%- if variant.sku != blank -%}
          "sku": {{ variant.sku | json }},
        {%- endif -%}
        "availability" : "http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}",
        "price" : {{ variant.price | divided_by: 100.00 | json }},
        "priceCurrency" : {{ cart.currency.iso_code | json }},
        "url" : {{ shop.url | append: variant.url | json }}
      }{% unless forloop.last %},{% endunless %}
    {%- endfor -%}
  ]
}
</script>
