{% comment %}
  The contents of the product.liquid template can be found in /sections/product-template.liquid
{% endcomment %}

<div class="Boost-Product">

{% section 'product-template' %}
<!-- ------sections to create------------------------- -->


<!-- section 1 : Starts -->
<div class="nutra_box mb100" id="section_boost1">
    <div class="page-width">
        <div class="row center_align">
            <p class="qoute">Boost Energy Matrix delivers a potent bioavailable dose of essential B vitamins, adaptogens, and scientifically validated natural ingredients designed to:
              	<ul>
                  <li>Invigorate cells</li>
                  <li>Boost energy</li>
                  <li>Help balance key bodily functions</li>
          		</ul>
          		<p>Keep your body balanced and energized with Boost Energy Matrix!</p>
          	</p>
        </div>
    </div>
</div>
<!-- section 1 : Ends -->

<!-- section 2 : Starts -->
<div class="nutra_box mb100" id="section_boost2">
    <div class="page-width">
      <div class="row">
         <div class="col-md-6">
			<img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/Boost_Product_Image.jpg?v=1613113944" class="img-responsive lazyload" />
         </div>        
         <div class="col-md-6">
            <div class="nutra_content">
               	<h2>Who Is This For?</h2>
               	<p>In short, practically every adult can benefit from Boost Energy Matrix.</p>
              	<p>Vegetarians, vegans, and those who follow very low calorie diets have a tendency to be vitamin b deficient, especially b12. Even those who eat meat, fish, and other foods packed with b vitamins can develop deficiencies.</p>
              	<p>The most common deficiency symptoms include fatigue and weakness. However, there are many symptoms from prolonged deficiency that can go undetected until irreversible damage is done.</p>
              	<p>If you are following the BioSource Nutra Diet Protocol, or any calorie restricted diet for that matter, Boost Energy Matrix is a must!</p>
				<p>Boost Energy Matrix is also ideal for support during:</p>
                <ul class="safety-headings">
                    <li>
                       <span><img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/intermittent_fasting_support.jpg?v=1613195919" class="img-responsive lazyload"></span>
                       <span>Intermittent Fasting</span>
                    </li>
                    <li>
                       <span><img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/keto-friendly_71a4b6c9-3936-4a2c-b0d3-bbe522e7afdd.png?v=1612265908" class="img-responsispan lazyload"></span>
                       <span>Keto</span>
                    </li>
                    <li>
                        <span><img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/paleo-friendly_d12091b9-3fe6-4162-961a-ddfacab73b96.png?v=1612265908" class="img-responsispan lazyload"></span>
                        <span>Paleo</span>
                     </li>
                   
                  {% comment %}
                  <li>
                        <span><img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/paleo-friendly_d12091b9-3fe6-4162-961a-ddfacab73b96.png?v=1612265908" class="img-responsispan lazyload"></span>
                        <span>BioSource Nutra Diet Protocol</span>
                     </li>   
                  
                  {% endcomment %}
                </ul>              	

            </div>
         </div>
      </div>
    </div>
</div>
<!-- section 2 : Ends -->

<!-- section 3 : Starts -->
<div class="nutra_box mb100" id="section_boost3">
    <div class="page-width">
      <div class="row">
         <div class="col-md-6">
            <div class="nutra_content">
               <h2>What Are The Benefits?</h2>
                               <div class="promax-img-cont">
                    <div class="inner-sect">
                        <span><img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/metabolism_0208bc9e-8d7d-45c6-85d3-08e3681a87b6.png?v=1613191943" class="img-responsive lazyload"></span>
                        <span>Supports a healthy Metabolism</span>
                    </div>
                    <div class="inner-sect">
                        <span><img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/energy_658ef7d3-ab53-4188-987b-78764f8f9f8b.png?v=1613191943" class="img-responsive lazyload"></span>
                        <span>Increase Energy</span>
                    </div>
                    <div class="inner-sect">
                        <span><img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/immune_74511446-3a10-4985-bc61-f1f05155f7a1.png?v=1613191943" class="img-responsive lazyload"></span>
                        <span>Strengthens the immune system</span>
                    </div>
                    <div class="inner-sect">
                        <span><img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/appetite_881d6a16-8a36-4971-8799-b638d44c565d.png?v=1613191943" class="img-responsive lazyload"></span>
                        <span>May Reduce Hunger and Appetite</span>
                    </div>
                    <div class="inner-sect">
                        <span><img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/nervous-system_0beb975c-30a2-417c-9848-a15b6c6c37af.png?v=1613191943" class="img-responsive lazyload"></span>
                        <span>Optimizes the nervous system</span>
                    </div>
                    <div class="inner-sect">
                        <span><img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/stress_58ec32ee-29f1-4b40-a01f-106da01711ac.png?v=1613191943" class="img-responsive lazyload"></span>
                        <span>Helps balance stress response and other vital functions</span>
                    </div>
                    <div class="inner-sect">
                        <span><img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/blood-cells_ee297463-1ace-4ec2-a105-308bc59ed14b.png?v=1613191943" class="img-responsive lazyload"></span>
                        <span>Bioavailable vitamin B12 helps replenish red blood cells</span>
                    </div>
                </div>
            </div>
         </div> 
         <div class="col-md-6">
        </div>
      </div>    
    </div>
</div>
<!-- section 3 : Ends -->

<!-- section 4 : Starts -->
<div class="nutra_box mb100" id="section_boost4">
    <div class="page-width">
      <div class="row">
         <div class="col-md-12">
            <div class="nutra_content">
               	<h2 style="text-align:center;">Why B Vitamins?</h2>
              	<p>B vitamins are water-soluble and not stored in your body which means it is important to replenish them daily through eating nutrient dense foods or through supplementation. B vitamins are essential in helping the body metabolize food, produce healthy red blood cells, and protect against numerous diseases.</p>
              	<p>Maintaining healthy b vitamin levels is critical to physical and mental health. </p>
              	<p>Boost contains a superior form of vitamin B12 called methylcobalamin for maximum cellular absorption, along with B1, B2, B3, B6.</p>
              <h3 style="text-align:center; padding-top:20px;"><strong>Methylcobalamin B12 vs. Cyanocobalamin B12</strong></h3>
              	<p style="text-align:center;">Cyanocobalamin is the most common form of B12 found in nutritional supplements. It literally contains a “cyanide” molecule which the liver must remove in order to convert the B12 into its usable form, methylcobalamin. <br>Methylcobalamin is the active form of B12 that your body will immediately put to use. </p>
                <div class="table-overflow mt40">
                <table>
                    <tbody>
                        <tr class="tbl-heading">
                            <td class="tbl-ing-heading">
                                <h3>Methylcobalamin</h3>
                            </td>
                            <td class="tbl-ing-heading">
                                <h3>Cyanocobalamin</h3>
                            </td>
                        </tr>
                      	<tr>
                          <td>
                            <strong>Bioavailable</strong> – active, tissue-ready form that the body can use immediately
                          </td>
                          <td>
                            <strong>Liver has to filter</strong> the cyanide and convert into methyl for use in the body
                          </td>                          
                      	</tr>
                      <tr>
                        <td><strong>Rarer</strong>, more expensive form.</td>
                        <td><strong>More widely used</strong> due to inexpensive cost</td>                        
                      </tr>
                      <tr>
                        <td><strong>Better absorbed</strong> and retained in higher amounts in tissues</td>
                        <td><strong>Harder for the body to absorb</strong> and subject to waste during conversion and absorption</td>                        
                      </tr>                      
                  	</tbody>
              </table>
              </div>
            </div>
         </div>
      </div>    
    </div>
</div>
<!-- section 4 : Ends -->
<!-- section 5 : Starts -->
<div class="nutra_box mb100" id="section_boost5">
    <div class="page-width">
      <div class="row mb100">
         <div class="col-md-12">
            <div class="nutra_content">
               <h2 style="text-align: center;">Why Choose Boost Energy Matrix from BioSource Nutra?</h2>
            <div class="nutra_content">
              <p>As with all BioSource Nutra products, Boost is a 100% natural formula manufactured in the USA in GMP-Certified, FDA registered facilities.</p> 
              <p>Each batch is 3rd party tested for quality and accuracy to ensure quality is up to BioSource Nutra standards. This is an extra step that not every company takes due to time and cost.</p>
              <p>There is simply nothing else like Boost Energy Matrix!</p>
            </div>               
            </div>
           <h3 style="text-align: center;font-weight: 500; padding-top:20px;">100% Natural Formula</h3>
           <p  style="text-align: center;"><strong>No Artificial Ingredients</strong></p>
           <ul class="safety-headings">
                    <li>
                        <span><img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/05.png?v=1614243851" class="img-responsive lazyload"></span>
                        <span>Vegan</span>
                    </li>            
                    <li>
                     <span><img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/06.png?v=1614243851" class="img-responsive lazyload"></span>
                     <span>Gluten Free</span>
                    </li>
                  <li>
                     <span><img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/07.png?v=1614243851" class="img-responsispan lazyload"></span>
                     <span>GMO Free</span>
                  </li>
                  <li>
                    <span><img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/08.png?v=1614243851" class="img-responsispan lazyload"></span>
                    <span>No Sugar</span>
                 </li>
                 <li>
                    <span><img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/09.png?v=1614243851" class="img-responsispan lazyload"></span>
                    <span>No Wheat</span>
                 </li>
                 <li>
                    <span><img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/10.png?v=1614243851" class="img-responsispan lazyload"></span>
                    <span>No Yeast</span>
                 </li>
                 <li>
                    <span><img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/11.png?v=1614243851" class="img-responsispan lazyload"></span>
                    <span>No Lactose</span>
                 </li>
                 <li>
                    <span><img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/12.png?v=1614243851" class="img-responsispan lazyload"></span>
                    <span>No Soy</span>
                 </li>                 
               </ul>
               <table>
                    <tbody>
                        <tr class="tbl-heading">
                            <td class="tbl-ing-heading">
                                <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/made_in_usa.png?v=1613192945" class="img-responsive lazyload">
                            </td>
                            <td class="tbl-ing-heading">
                                <strong>Safe Manufacturing using strict</strong><br/>
                                <h3><strong>
                                    GMP CERTIFIED<br/>
                                    QUALITY STANDARDS
                                </strong></h3>
                            </td>
                        </tr>
                    </tbody>
                </table>
         </div>
        </div>
      </div>
  </div>
<!-- section 5 : Ends -->

<!-- section 6 : Starts -->
<div class="nutra_box mb50" id="section_boost6">
    <div class="page-width">      
         <div class="row">
			<div class="col-md-12">
            <div class="nutra_content">
              <h2 style="text-align: center;">What’s In The Bottle? Ingredients</h2>
              <p style="text-align: center;">This daily support formula is a perfect combination of our essential B vitamin complex, essential amino acids and pure, body balancing adaptogenic blend called Adaptolin that will keep you feeling good all day.</p> 
                <ul class="safety-headings">
<!--                     <li>
                       <span><img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/methyl_b12.jpg?v=1613194456" class="img-responsive lazyload"></span>
                       <span>B vitamin Complex</span>
                    </li>
                    <li>
                       <span><img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/methyl_b12.jpg?v=1613194456" class="img-responsispan lazyload"></span>
                       <span>Adaptolin</span>
                    </li> -->
                    <li>
                        <span><img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/13.png?v=1614244767" class="img-responsispan lazyload"></span>
                        <strong>Methyl B12</strong>
                        <span>For Max cellular Bioavailability</span>
                     </li>
                     <li>
                        <span><img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/14.png?v=1614244767" class="img-responsispan lazyload"></span>
                        <strong>High Quality Adaptogens</strong>
                        <span>Help Balance the body's natural functions</span>
                     </li>
                     <li>
                        <span><img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/15.png?v=1614244767" class="img-responsispan lazyload"></span>
                        <strong>Essential Amino Acids</strong>
                        <span>Boost Energy, Immune Function, and Nutrient Absorption</span>
                     </li>                                                              
                </ul>
              
              	<div class="Custom-Content">
              		<p style="text-align: center; font-weight: 700;">Stay balanced and energized with Boost.</p> 
                </div>
            </div>              
           </div>           
        </div> 
      </div>
      </div>      
<!-- section 6 : Ends -->

<!-- section 7 : Starts -->
<div class="nutra_box mb100" id="section_boost7">
    <div class="page-width">
      <div class="row width75">
         <div class="col-md-12">
           
           <div class="btnss mb50"><a href="#header-blank">Try It Now</a></div>
           
            <div class="nutra_content">
              
                             <img  class="mob-blo" src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/suppliments_boost_product_1.jpg?v=1614936931" class="img-responsive lazyload"/>

               <img class="desk-blo" src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/suppliments_boost_product.jpg?v=1613194907" class="img-responsive lazyload"/>
            </div>
         </div>
      </div>    
    </div>
</div>
<!-- section 7 : Ends -->

<!-- section 8 : Starts -->
<div class="nutra_box mb100" id="section_boost8">
    <div class="page-width">
      <div class="row width50">
         <div class="col-md-12">
            <div class="nutra_content">
              <h2>When & How To Use Boost</h2>
              <p>Make Boost Energy Matrix a part of your regular daily regimen and feel the difference almost immediately!</p>
              <p>It’s best to take on an empty stomach to allow your body to fully absorb the water-soluble ingredients.</p>
              <p><strong><h3>Best Use:</h3></strong></p>

              <div class="promax-img-cont">
                <div class="inner-sect">
                    <span><img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/02.png?v=1614244378" class="img-responsive shake lazyload"></span>
                    <span>Shake Well</span>
                </div>
                <div class="inner-sect">
                    <span><img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/04.png?v=1614244378" class="img-responsive shake lazyload"></span>
                    <span>For Best Taste: Mix 1ml (full dropper) into 4 – 6 oz of water or juice.</span>
                </div>
                <div class="inner-sect">
                    <span><img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/03.png?v=1614244378" class="img-responsive shake lazyload"></span>
                    <span>For Maximum Absorption: Drop 1 ml directly under the tongue, hold for 30 seconds then swallow.</span>
                </div>
                <div class="inner-sect">
                    <span><img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/01.png?v=1614244378" class="img-responsive shake lazyload"></span>
                    <span>Take 1ml (full dropper) 1-2 times per day.</span>
                </div>
                <div class="inner-sect">
                    <span><strong>Once in the morning, 30 minutes prior to eating.</strong></span>
                </div>
                <div class="inner-sect">
                    <span><strong>Once in the afternoon 30 minutes prior to eating or 2 hours after a meal.</strong></span>
                </div>                                
            </div>
            </div>
         </div>
      </div>    
    </div>
</div>
<!-- section 8 : Ends -->


<!-- -----------end-sections--------------------------------- -->

{% section 'FAQ' %}

 <div class="mob-blo btnss mb10 mt40"><a class="text-center"href="#header-blank">Try It Now</a></div>

<div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
{% section 'product-recommendations' %}
{% if collection %}
  <div class="text-center return-link-wrapper page-width">
    <a href="{{ collection.url }}" class="btn btn--secondary btn--has-icon-before return-link">
      {% include 'icon-arrow-left' %}
      {{ 'products.product.back_to_collection' | t: title: collection.title }}
    </a>
  </div>
{% endif %}

</div>

<script>
  // Override default values of shop.strings for each template.
  // Alternate product templates can change values of
  // add to cart button, sold out, and unavailable states here.
  theme.productStrings = {
    addToCart: {{ 'products.product.add_to_cart' | t | json }},
    soldOut: {{ 'products.product.sold_out' | t | json }},
    unavailable: {{ 'products.product.unavailable' | t | json }}
  }
</script>

{% assign current_variant = product.selected_or_first_available_variant %}

<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "Product",
  "name": {{ product.title | json }},
  "url": {{ shop.url | append: product.url | json }},
  {%- if product.featured_media -%}
    {%- assign media_size = product.featured_media.preview_image.width | append: 'x' -%}
    "image": [
      {{ product.featured_media | img_url: media_size | prepend: "https:" | json }}
    ],
  {%- endif -%}
  "description": {{ product.description | strip_html | json }},
  {%- if current_variant.sku != blank -%}
    "sku": {{ current_variant.sku | json }},
  {%- endif -%}
  "brand": {
    "@type": "Thing",
    "name": {{ product.vendor | json }}
  },
  "offers": [
    {%- for variant in product.variants -%}
      {
        "@type" : "Offer",
        {%- if variant.sku != blank -%}
          "sku": {{ variant.sku | json }},
        {%- endif -%}
        "availability" : "http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}",
        "price" : {{ variant.price | divided_by: 100.00 | json }},
        "priceCurrency" : {{ cart.currency.iso_code | json }},
        "url" : {{ shop.url | append: variant.url | json }}
      }{% unless forloop.last %},{% endunless %}
    {%- endfor -%}
  ]
}
</script>
