{% comment %}
  The contents of the product.liquid template can be found in /sections/product-template.liquid
{% endcomment %}

{% section 'product-template' %}
<!-- ------sections to create------------------------- -->


<style>

.inner-sect span {
    font-size: 22px !important;
}


</style>





<!-- section 1 : Starts -->
<div class="nutra_box mb100" id="section_pro1">
    <div class="page-width">
        <div class="row center_align">
            <p class="qoute">Complex ProMAX is BioSource Nutra’s latest creation and quickly becoming our most popular product. These 22 carefully selected ingredients are a synergistic blend that work together to unleash your body’s fat burning potential while helping to reduce hunger, balance hormones, and raise energy levels.</p>
        </div>
    </div>
</div>
<!-- section 1 : Ends -->

<!-- section 2 : Starts -->
<div class="nutra_box mb100" id="section_pro2">
    <div class="page-width">
      <div class="row">
         <div class="col-md-6">
            <div class="nutra_content">
               <h2>What Does Complex ProMAX Do?</h2>
               <p>The individual Ingredients in Complex ProMax have a variety of uses. Combining the ingredients at the proper dosage like we have, while using together with the BioSource Nutra Diet Protocol may produce a powerful effect to help:</p>
                <div class="promax-img-cont">
                    <div class="inner-sect">
                        <span class="First-Img"><img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/body.png?v=1612263372" class="img-responsive"></span>
                        <span class="Second-C">Quickly reduce body fat</span>
                    </div>
                    <div class="inner-sect">
                        <span class="First-Img"><img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/hunger.png?v=1612267800" class="img-responsive"></span>
                        <span class="Second-C">Control hunger and cravings</span>
                    </div>
                    <div class="inner-sect">
                        <span class="First-Img"><img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/detoxify_191b2ab1-4f77-4a86-9673-ec6c8556c0e2.png?v=1612269451" class="img-responsive"></span>
                        <span class="Second-C">Detoxify vital organs</span>
                    </div>
                    <div class="inner-sect">
                        <span class="First-Img"><img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/metabolism-48_48.png?v=1612268058" class="img-responsive"></span>
                        <span class="Second-C">Boost and balance energy levels</span>
                    </div>
                    <div class="inner-sect">
                        <span class="First-Img"><img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/muscles_7bf3a06e-332a-42a8-979f-34a440b25ddb.png?v=1612004280" class="img-responsive"></span>
                        <span class="Second-C">Protect lean muscle mass</span>
                    </div>
                    <div class="inner-sect">
                        <span class="First-Img"><img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/Balance_hormones.png?v=1612268382" class="img-responsive"></span>
                        <span class="Second-C">Balance hormones and stimulate beneficial hormone production</span>
                    </div>
                    <div class="inner-sect">
                        <span class="First-Img"><img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/test.png?v=1612263372" class="img-responsive"></span>
                        <span class="Second-C">Help regulate blood sugar</span>
                    </div>
                </div>
            </div>
         </div>
         <div class="col-md-6">
			<img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/promax.png?v=1612442401" class="img-responsive" />
         </div>
      </div>
    </div>
</div>
<!-- section 2 : Ends -->

<!-- section 3 : Starts -->
<div class="nutra_box mb100" id="section_pro21">
    <div class="page-width">
      <div class="row width50">
        <div class="col-md-12">
            <div class="nutra_content">
                <h2>Best Uses</h2>
                <div class="inner-content">
                    <p>Two common complaints experienced dieters express when following a low calorie, low carbohydrate diet are:</p>
                    <ul>
                        <li>Hitting weight loss plateaus too quickly or frequently (plateau on a graph graphic)</li>
                      <br>
                        <li>Not getting the same results they have achieved in the past while using other diet drop formulas.</li>
                    </ul>
                  <br>
                    <p>This can happen when using the same formula for too long or from yo-yo behavior cycles of dieting then gaining weight back. Complex ProMAX can help stop the yo-yo to get even the most experienced dieter on track to hit their goals.</p>
                    <p>Complex ProMax is best used during the BioSource Nutra Diet Protocol and for periods of ongoing intermittent fasting to maintain ideal body weight.</p>
                </div>
            </div>
         </div>        
     </div>      
    </div>
</div>
<!-- section 3 : Ends -->

<!-- section 4 : Starts -->
<div class="nutra_box mb100" id="section_pro12">
    <div class="page-width">
      <div class="row">
         <div class="col-md-6 left-align">
            <div class="nutra_img"> <img class="responsive-image" src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/BioSource_Nutra_Complex_Promax.jpg?v=1613542247" alt="image"></div>
         </div>
         <div class="col-md-6 right-align">
            <div class="nutra_content">
               <h2>Who Is It For?</h2>
               <p>BioSource Nutra designed Complex ProMax with the experienced low-cal/low-carb dieter in mind. Sometimes we need help getting through tough stages of any diet protocol. Complex ProMAX is the answer.</p>
                <p>This formula was created specifically for the BioSource Nutra Diet Protocol and intermittent fasting but <strong>provides serious benefits to anyone following:</strong></p>
                <ul class="list1">
                    <li>BioSource Nutra Diet Protocol</li>
                    <li>Intermittent Fasting</li>
                    <li>Ketogenic Diet (Keto)</li>
                    <li>Paleo Diet</li>
                    <li>Slow Carb Diet</li>
                    <li>Dr. Simeons Diet Protocol</li>
                </ul>
                <p style="text-align: center;">Complex ProMAX is completely natural and will not spike blood sugar levels. </p>
                <!-- <ul class="list2">
                    <li><span><img class="responsive-image fr-fic fr-dii" src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/water-bottle_720x.png?v=1609924320" data-src="" alt="image"></span><span class="title">Non-GMO</span></li>
                    <li><span><img class="responsive-image fr-fic fr-dii" src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/water-bottle_720x.png?v=1609924320" data-src="" alt="image"></span><span class="title">Keto-Friendly</span></li>
                    <li><span><img class="responsive-image fr-fic fr-dii" src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/water-bottle_720x.png?v=1609924320" data-src="" alt="image"></span><span class="title">Paleo-Friendly</span></li>                                        
                </ul> -->
                <ul class="safety-headings">
                    <li>
                       <span><img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/gmo-free_ae701039-55d1-4bdd-84a8-5d8cc5fb19c5.png?v=1612265908" class="img-responsive"></span>
                       <span>Non-GMO</span>
                    </li>
                    <li>
                       <span><img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/keto-friendly_71a4b6c9-3936-4a2c-b0d3-bbe522e7afdd.png?v=1612265908" class="img-responsispan"></span>
                       <span>Keto-Friendly</span>
                    </li>
                    <li>
                        <span><img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/paleo-friendly_d12091b9-3fe6-4162-961a-ddfacab73b96.png?v=1612265908" class="img-responsispan"></span>
                        <span>Paleo-Friendly</span>
                     </li>
                </ul>                
                <p style="text-align: center;">It’s ok to get some extra help with your diet. Make sure you get the best!</p>
<!--                 <a href="#" class="section-btn">Try It Now</a> -->
				<button class="header-blank1">Try It NOW</button>
            </div>
         </div>
      </div>
    </div>
</div>
<!-- section 4 : Ends -->

<!-- section 5 : Starts -->
<div class="nutra_box mb100" id="section_pro3">
    <div class="page-width">
      <div class="row">
         <div class="col-md-12">
            <div class="nutra_content">
               <h2>Complex Diet Drops Vs. Complex ProMAX</h2>
               <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/Complex_Diet_Drops_vs._Complex_ProMAX.jpg?v=1612270063" class="img-responsive desktop_show"/>
			   <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/Complex_Diet_Drops_vs._Complex_ProMAX_mobile.jpg?v=16227952873" class="img-responsive mobile_show"/>	
              <div class="sect3-inner-content">
               		<p>Complex ProMAX offers the same basic benefits as Complex Diet Drops but contains ingredients that address the more specific needs experienced dieters have, like inflammation and hunger.</p>
                	<p>Through years of diet support, BioSource Nutra has discovered something we call the “immunity phenomenon”. When it comes to certain ingredients, some people’s bodies may become “immune” to the effects of a particular product. Formulas that may have worked in the past can become less effective. When this happens, the body needs something new to break through!</p>
<!--                 	<p><a href="#" class="section-btn header-blank1">Try It Now</a></p> -->
					<button class="header-blank1">Try It NOW</button>
                 </div>
            </div>
         </div>
      </div>    
    </div>
</div>
<!-- section 5 : Ends -->
<!-- section 6 : Starts -->
<div class="nutra_box benefits-section" id="section_pro4">
    <div class="page-width">
      <div class="row">
         <div class="col-md-12">
            <div class="nutra_content">
               <h2 style="text-align: center;">The Formula: Ingredients and Benefits</h2>
               <p>BioSource Nutra has identified three key factors to balance and control in the body that may help promote ideal conditions for healthy weight loss. </p>
            </div>
         </div>
      </div>    
      <div class="benefits-grid">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <div class="serviceBox">
                    <h3 class="title">Balance Blood sugar</h3>
					<img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/sugar-blood-level_60.png?v=1612443504" class="img-responsive">
                    <p class="description">When blood sugar is consistently high, insulin surges signal to the body to store fat instead of burning it because there is already plenty of energy.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="serviceBox">
                    <h3 class="title">Prevent lean muscle breakdown</h3>
					<img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/muscle_60.png?v=1612443503" class="img-responsive">
                    <p class="description">Lean muscle tissue requires more energy/calories to support than fatty tissue. More lean muscle = more calories used. Using more calories than we take in results in fat loss.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="serviceBox">
                    <h3 class="title">Reduce stress and inflammation</h3>
                  	<img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/stress_60.png?v=1612443503" class="img-responsive">
                    <p class="description">Cortisol is called the stress hormone. Reducing stress can help unlock stubborn fat and reduce the body’s inflammation response.</p>
                </div>
            </div> 
          <div class="nutra_content">
          	<p class="width75">This unique blend of ingredients contains an essential amino acid profile together with adaptogens and natural ingredients known to provide crucial benefits in the body during reduced calorie intake.</p>
          </div>
        </div>
    </div>          
    </div>
</div>
<!-- section 6 : Ends -->
<!-- section 7 : Starts -->
<div class="nutra_box mb100" id="section_pro5"  style="display: none;">
    <div class="page-width">
      <div class="row vertical-middile">
         <div class="col-md-7">
            <div class="amino-acids-section">
               <h3>Amino Acids</h3>
               <div class="bullet-section">
                    <p>BioSource Nutra has identified three key factors to balance and control in the body that may help promote ideal conditions for healthy weight loss. </p>
                    <ul>
                        <li>L-Arginine</li>
                        <li>L-Glutamine</li>
                        <li>Beta Alanine</li>
                        <li>GABA</li>
                        <li>L-Carnitine</li>
                        <li>L-Ornithine</li>
                        <li>L-Tryptophan</li>
                        <li>Tyrosine</li>
                    </ul>
               </div>
            </div>
         </div>
         <div class="col-md-5">
            <div class="basic-list-group">
                <h3>Benefits:</h3>
                <ul>
                    <li class="list-group-item">
                        <img class="responsive-image" src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/water-bottle_720x.png?v=1609924320" data-src="" alt="image">
                        Tissue repair
                    </li>
                    <li class="list-group-item">
                        <img class="responsive-image fr-fic fr-dii" src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/water-bottle_720x.png?v=1609924320" data-src="" alt="image">
                        protect lean muscle
                    </li>
                    <li class="list-group-item">
                        <img class="responsive-image fr-fic fr-dii" src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/water-bottle_720x.png?v=1609924320" data-src="" alt="image">
                        healthy brain function
                    </li>
                    <li class="list-group-item">
                        <img class="responsive-image fr-fic fr-dii" src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/water-bottle_720x.png?v=1609924320" data-src="" alt="image">
                        nutrient absorption
                    </li>
                    <li class="list-group-item">
                        <img class="responsive-image fr-fic fr-dii" src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/water-bottle_720x.png?v=1609924320" data-src="" alt="image">
                        cellular detoxification
                    </li>
                </ul>
              </div> 
         </div>
      </div>             
      
    </div>
</div>
<!-- section 7 : Ends -->

<!-- Section table starts -->
   <div class="page-width benefits-dpk">
      <div class="row" style="margin-top:20px;">
         <div class="col-md-5 col-sm-12 left">
            <div class="essentials-wrap">
               <h2>The Essentials</h2>
               <table>
                  <tr class="tbl-heading">
                     <td class="tbl-ing-heading">
                        <h3>Ingredients</h3>
                     </td>
                     <td>
                        <h3>Benefits</h3>
                     </td>
                  </tr>
                  <tr>
                     <td class="tbl-ing-heading"><strong>L-Glutamine</strong></td>
                     <td>
                        <div class="list-block">
                           <h4 class="step-question"> <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/muscles_7bf3a06e-332a-42a8-979f-34a440b25ddb.png?v=1612004280" class="img-responsive">Protect Lean Muscle
                           </h4>
                        </div>
                        <div class="list-block">
                           <h4 class="step-question"> <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/blood-drop_4f46dc6e-46d9-48c4-b46a-a10099854a5a.png?v=1612004973" class="img-responsive">Regulate Blood Sugar</h4>
                        </div>
                        <div class="list-block">
                           <h4 class="step-question"> <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/stress_f65f380d-7fd3-4220-bb2e-acbde3d0e6cc.png?v=1612004950" class="img-responsive">Reduce Stress</h4>
                        </div>
                     </td>
                  </tr>
                  <tr>
                     <td class="tbl-ing-heading"><strong>L-Arginine</strong></td>
                     <td>
                        <div class="list-block">
                           <h4 class="step-question"> <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/muscles_7bf3a06e-332a-42a8-979f-34a440b25ddb.png?v=1612004280" class="img-responsive">Protect Lean Muscle</h4>
                        </div>
                        <div class="list-block">
                           <h4 class="step-question"> <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/reduce-stress.png?v=1612004951" class="img-responsive">Blood Flow</h4>
                        </div>
                        <div class="list-block">
                           <h4 class="step-question"> <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/lose-weight.png?v=1611558692" class="img-responsive fr-fic fr-dib">Mobilize Fat</h4>
                        </div>
                     </td>
                  </tr>
                  <tr>
                     <td class="tbl-ing-heading"><strong>L-Tyrosine</strong></td>
                     <td>
                        <div class="list-block">
                           <h4 class="step-question"> <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/mental-performance-alertness.png?v=1612004704" class="img-responsive fr-fic fr-dib">Mental Performance</h4>
                        </div>
                        <div class="list-block">
                           <h4 class="step-question"> <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/bell_2e4e24df-d9ec-4f4a-bd2b-a30c47eff80d.png?v=1612004655" class="img-responsive">Alertness</h4>
                        </div>
                     </td>
                  </tr>
                  <tr>
                     <td class="tbl-ing-heading"><strong>L-Carnitine</strong></td>
                     <td>
                        <div class="list-block">
                           <h4 class="step-question"> <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/lose-weight.png?v=1611558692" class="img-responsive fr-fic fr-dib">Mobilize Fat</h4>
                        </div>
                        <div class="list-block">
                           <h4 class="step-question"> <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/lack-of-appetite_2aa9fd78-6300-4df8-ae93-6d8362d2e817.png?v=1612004091" class="img-responsive fr-fic fr-dib">Control Appetite</h4>
                        </div>
                        <div class="list-block">
                           <h4 class="step-question"> <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/fatigue_9630e1d5-dbbe-41b4-9103-474003e1b341.png?v=1612004566" class="img-responsive">Reduce Fatige</h4>
                        </div>
                     </td>
                  </tr>
                  <tr>
                     <td class="tbl-ing-heading"><strong>L-Ornithine</strong></td>
                     <td>
                        <div class="list-block">
                           <h4 class="step-question"> <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/muscles_7bf3a06e-332a-42a8-979f-34a440b25ddb.png?v=1612004280" class="img-responsive fr-fic fr-dib">Protect Lean Muscle</h4>
                        </div>
                        <div class="list-block">
                           <h4 class="step-question"> <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/cellular-detoxification.png?v=1612004413" class="img-responsive fr-fic fr-dib">Cellular Detoxification</h4>
                        </div>
                     </td>
                  </tr>
                  <tr>
                     <td class="tbl-ing-heading"><strong>L-Tryptophan</strong></td>
                     <td>
                        <div class="list-block">
                           <h4 class="step-question"> <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/lack-of-appetite_2aa9fd78-6300-4df8-ae93-6d8362d2e817.png?v=1612004091" class="img-responsive">Control Appetite</h4>
                        </div>
                        <div class="list-block">
                           <h4 class="step-question"> <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/improve-mood.png?v=1612003978" class="img-responsive">Improve Mood</h4>
                        </div>
                     </td>
                  </tr>
               </table>
            </div>
         </div>
         <div class="col-md-2 col-sm-12">
            <div class="plus">+</div>
         </div>
         <div class="col-md-5 col-sm-12 right">
            <div class="essentials-wrap">
               <div class="nutra_content">
                  <h2>Natural Ingredient Matrix</h2>
                  <table>
                     <tr class="tbl-heading">
                        <td>
                           <h3>Ingredients</h3>
                        </td>
                        <td>
                           <h3>Benefits</h3>
                        </td>
                     </tr>
                     <tr>
                        <td>
                           <div class="list-block">
                              <h4 class="step-question"> <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/gaba.png?v=1612246165" class="img-responsive">GABA</h4>
                           </div>
                           <div class="list-block">
                              <h4 class="step-question"> <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/Maca.png?v=1611915756" class="img-responsive">Maca</h4>
                           </div>
                           <div class="list-block">
                              <h4 class="step-question"> <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/Astragalus.png?v=1611915756" class="img-responsive">Astragalus</h4>
                           </div>
                           <div class="list-block">
                              <h4 class="step-question"> <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/Eleuthero.png?v=1611915756" class="img-responsive">Eleuthero</h4>
                           </div>
                           <div class="list-block">
                              <h4 class="step-question"> <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/Capsicum_Annum.png?v=1611915756" class="img-responsive">Capsicum Annum</h4>
                           </div>
                           <div class="list-block lbi">
                              <h4 class="step-question"> <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/Monoammonium_Glycyrrhizinate.png?v=1612246165" class="img-responsive">Monoammonium Glycyrrhizinate</h4>
                           </div>
                        </td>
                        <td class="tbl-ing-heading">
                            <span><img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/immune.png?v=1612263372" class="img-responsive"></span>
                            <span><strong>Strengthen Immune System &ndash; Lower Stress and Inflammation</strong></span>
                        </td>
                     </tr>
                     <tr>
                        <td>
                           <div class="list-block">
                              <h4 class="step-question"> <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/Chromium_Picolinate.png?v=1611913286" class="img-responsive">Chromium Picolinate</h4>
                           </div>
                           <div class="list-block">
                              <h4 class="step-question"> <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/African_Mango.png?v=1611913286" class="img-responsive">African Mango</h4>
                           </div>
                           <div class="list-block">
                              <h4 class="step-question"> <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/Gymnema_Sylvestre.png?v=1611913286" class="img-responsive">Gymnema Sylvestre</h4>
                           </div>
                           <div class="list-block">
                              <h4 class="step-question"> <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/Grapefruit_Seed_Extract.png?v=1611913285" class="img-responsive">Grapefruit Seed Extract</h4>
                           </div>
                        </td>
                        <td class="tbl-ing-heading">
                        <span><img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/blood-drop_4f46dc6e-46d9-48c4-b46a-a10099854a5a.png?v=1612004973" class="img-responsive"></span>
                        <span><strong>Promotes Healthy Blood Sugar</strong></td></span>
                     </tr>
                     <tr>
                        <td>
                           <div class="list-block">
                              <h4 class="step-question"> <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/Guarana.jpg?v=1611917258" class="img-responsive">Guarana</h4>
                           </div>
                           <div class="list-block">
                              <h4 class="step-question"> <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/Green_Tea.png?v=1611915756" class="img-responsive">Green Tea</h4>
                           </div>
                           <div class="list-block">
                              <h4 class="step-question"> <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/Panax_Ginseng.png?v=1611915756" class="img-responsive">Panax Ginseng</h4>
                           </div>
                        </td>
                        <td class="tbl-ing-heading">
                            <span><img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/increase-energy.png?v=1611558692" class="img-responsive"></span>
                            <span><strong>Boost Energy and Metabolism</strong></span>
                        </td>  
                     </tr>
                     <tr>
                        <td>
                           <div class="list-block">
                              <h4 class="step-question"> <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/Coleus_Forskohlii.png?v=1611915756" class="img-responsive">Coleus Forskohlii</h4>
                           </div>
                           <div class="list-block">
                              <h4 class="step-question"> <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/GrapeSeed_Extract.png?v=1611915756" class="img-responsive">GrapeSeed Extract</h4>
                           </div>
                           <div class="list-block">
                              <h4 class="step-question"> <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/Fucoxanthin.png?v=1611915756" class="img-responsive">Fucoxanthin</h4>
                           </div>
                        </td>
                        <td class="tbl-ing-heading">
                            <span><img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/body.png?v=1612263372" class="img-responsive"></span>
                            <span><strong>Mobilize Fat</strong></span>
                        </td> 
                     </tr>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>
<!--<div class="nutra_box" id="section_table">
    <div class="page-width">
    <div class="row" style="margin-top:20px;">
        <div class="col-md-5 col-sm-12 left">
            <div class="essentials-wrap">
                <h2>Amino Acids</h2>
                <p>BioSource Nutra has identified three key factors to balance and control in the body that may help promote ideal conditions for healthy weight loss.</p>
                <table class="pro-table">
                    <tbody>
                        <tr class="tbl-heading">
                            <td class="tbl-ing-heading">
                                <h3>Ingredients</h3>
                            </td>
                            <td>
                                <h3>Benefits</h3>
                            </td>
                        </tr>
                        <tr>
                            <td class="tbl-ing-heading"><strong>L-Arginine</strong></td>
                            <td>
                                <div class="list-block">
                                    <h4 class="step-question">
                                        <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/molecular_48.png?v=1612505542" class="img-responsive">Tissue Repair
                                    </h4>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="tbl-ing-heading"><strong>L-Glutamine</strong></td>
                            <td>
                                <div class="list-block">
                                    <h4 class="step-question">
                                        <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/muscles_7bf3a06e-332a-42a8-979f-34a440b25ddb.png?v=1612004280" class="img-responsive">Protect Lean Muscle
                                    </h4>
                                </div>
                            </td>
                        </tr> 
                        <tr>
                            <td class="tbl-ing-heading"><strong>Beta Alanine</strong></td>
                            <td>
                                <div class="list-block">
                                    <h4 class="step-question">
                                        <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/ayurveda-48.png?v=1612505542" class="img-responsive">Healthy Brain Function
                                    </h4>
                                </div>
                            </td>
                        </tr> 
                        <tr>
                            <td class="tbl-ing-heading"><strong>GABA</strong></td>
                            <td>
                                <div class="list-block">
                                    <h4 class="step-question">
                                        <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/nutrients_48.png?v=1612505542" class="img-responsive">Nutrient Absorption
                                    </h4>
                                </div>
                            </td>
                        </tr>  
                        <tr>
                            <td class="tbl-ing-heading"><strong>L-Carnitine</strong></td>
                            <td>
                                <div class="list-block">
                                    <h4 class="step-question">
                                        <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/cellular-detoxification.png?v=1612004413" class="img-responsive">Cellular Detoxification
                                    </h4>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="tbl-ing-heading"><strong>L-Ornithine</strong></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="tbl-ing-heading"><strong>L-Tryptophan</strong></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="tbl-ing-heading"><strong>Tyrosine</strong></td>
                            <td></td>
                        </tr>                                                                     
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-2 col-sm-12">
            <div class="plus">+</div>
        </div>
        <div class="col-md-5 col-sm-12 right">
            <div class="essentials-wrap">
                <div class="nutra_content">
                    <h2>Advanced Natural Ingredients and Adaptogens</h2>
                    <p>The blend of adaptogens and other natural ingredients include:</p>
                    <table class="pro-table">
                        <tbody>
                            <tr class="tbl-heading">
                                <td>
                                    <h3>Ingredients</h3>
                                </td>
                                <td>
                                    <h3>Benefits</h3>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="list-block">
                                        <h4 class="step-question"> <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/Garcinia_Cambogia_48.png?v=1612505542" class="img-responsive">Garcinia Cambogia</h4>
                                    </div>
                                </td>
                                <td class="tbl-ing-heading">
                                    <span><img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/blood-drop_4f46dc6e-46d9-48c4-b46a-a10099854a5a.png?v=1612004973" class="img-responsive"></span>
                                    <span><strong>Healthy blood sugar</strong></span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="list-block">
                                        <h4 class="step-question"> <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/gaba.png?v=1612246165" class="img-responsive">Caralluma Fimbriata</h4>
                                    </div>
                                </td>
                                <td class="tbl-ing-heading">
                                    <span><img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/lack-of-appetite_2aa9fd78-6300-4df8-ae93-6d8362d2e817.png?v=1612004091" class="img-responsive"></span>
                                    <span><strong>Appetite Control</strong></span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="list-block">
                                        <h4 class="step-question"> <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/African_Mango.png?v=1611913286" class="img-responsive">African Mango</h4>
                                    </div>
                                </td>
                                <td class="tbl-ing-heading">
                                    <span><img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/increase-energy.png?v=1611558692" class="img-responsive"></span>
                                    <span><strong>Boost Energy</strong></span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="list-block">
                                        <h4 class="step-question"> <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/Ecklonia_Cava_48.png?v=1612505543" class="img-responsive">Ecklonia Cava</h4>
                                    </div>
                                </td>
                                <td class="tbl-ing-heading">
                                    <span><img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/hormonal_balance_48.png?v=1612507381" class="img-responsive"></span>
                                    <span><strong>Hormonal Balance</strong></span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="list-block">
                                        <h4 class="step-question"> <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/Green_Tea.png?v=1611915756" class="img-responsive">Green Tea</h4>
                                    </div>
                                </td>
                                <td class="tbl-ing-heading">
                                    <span><img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/control_inflammation_response_48.png?v=1612507552" class="img-responsive"></span>
                                    <span><strong>Control Inflammation Response</strong></span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="list-block">
                                        <h4 class="step-question"> <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/Maca.png?v=1611915756" class="img-responsive">Maca</h4>
                                    </div>
                                </td>
                                <td class="tbl-ing-heading">
                                    <span><img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/improve-mood.png?v=1612003978" class="img-responsive"></span>
                                    <span><strong>Improve Mood</strong></span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="list-block">
                                        <h4 class="step-question"> <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/Guarana.jpg?v=1611917258" class="img-responsive">Guarana</h4>
                                    </div>
                                </td>
                                <td class="tbl-ing-heading">
                                    <span><img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/ayurveda-48.png?v=1612505542" class="img-responsive"></span>
                                    <span><strong>Healthy Brain Function</strong></span>
                                </td>
                            </tr> 
                            <tr>
                                <td>
                                    <div class="list-block">
                                        <h4 class="step-question"> <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/Astragalus.png?v=1611915756" class="img-responsive">Astragalus</h4>
                                    </div>
                                </td>
                                <td class="tbl-ing-heading">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="list-block">
                                        <h4 class="step-question"> <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/Gymnema_Sylvestre.png?v=1611913286" class="img-responsive">Gymnema Sylvestre</h4>
                                    </div>
                                </td>
                                <td class="tbl-ing-heading">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="list-block">
                                        <h4 class="step-question"> <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/Panax_Ginseng.png?v=1611915756" class="img-responsive">Panax Ginseng</h4>
                                    </div>
                                </td>
                                <td class="tbl-ing-heading">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="list-block">
                                        <h4 class="step-question"> <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/Pygeum_48.png?v=1612505542" class="img-responsive">Pygeum</h4>
                                    </div>
                                </td>
                                <td class="tbl-ing-heading">
                                </td>
                            </tr>                                                                                                          
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>-->
</div>
<!-- Section table ends -->

<!-- Section center image starts -->
<div class="nutra_box mb100" id="section_ci">
    <div class="bottom-image-section">
        <div class="page-width">
            <div class="row width75">
                <div class="col-md-12">
                   <div class="nutra_content">
                     <div class="table-Head">
                       <h2 style="text-align: center;color:black">Take a look at the list ingredients and benefits below: </h2>
                     </div>
                       <div class="img-sections">
                        
                           <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/promax-chart.jpg?v=1689801971" class="img-responsive">
                       </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>      

<!-- section 8 : Starts -->
<div class="nutra_box mb100" id="section_pro6" style="display: none;">
    <div class="page-width">
      <div class="row">
         <div class="col-md-7">
            <div class="advanced-natural-ingredients">
               <h3>Advanced Natural Ingredients and Adaptogens </h3>
               <div class="bullet-section">
                    <p>The blend of adaptogens and other natural ingredients include: </p>
                    <ul>
                        <li>Garcinia Cambogia</li>
                        <li>Caralluma Fimbriata</li>
                        <li>African Mango</li>
                        <li>Ecklonia Cava</li>
                        <li>Green Tea</li>
                        <li>Maca</li>
                        <li>Guarana</li>
                        <li>Astragalus</li>
                        <li>Gymnema Sylvestre</li>
                        <li>Panax Ginseng</li>
                        <li>Pygeum</li>
                    </ul>
               </div>
            </div>
         </div>
         <div class="col-md-5">
            <div class="basic-list-group1">
                <h3>Benefits:</h3>
                <ul>
                    <li class="list-group-item">
                        <img class="responsive-image fr-fic fr-dii" src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/water-bottle_720x.png?v=1609924320" data-src="" alt="image">Healthy blood sugar
                    </li>
                    <li class="list-group-item">
                        <img class="responsive-image fr-fic fr-dii" src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/water-bottle_720x.png?v=1609924320" data-src="" alt="image">appetite control
                    </li>
                    <li class="list-group-item">
                        <img class="responsive-image fr-fic fr-dii" src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/water-bottle_720x.png?v=1609924320" data-src="" alt="image">boost energy
                    </li>
                    <li class="list-group-item">
                        <img class="responsive-image fr-fic fr-dii" src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/water-bottle_720x.png?v=1609924320" data-src="" alt="image">hormonal balance
                    </li>
                    <li class="list-group-item">
                        <img class="responsive-image fr-fic fr-dii" src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/water-bottle_720x.png?v=1609924320" data-src="" alt="image">and control inflammation response
                    </li>
                    <li class="list-group-item">
                        <img class="responsive-image fr-fic fr-dii" src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/water-bottle_720x.png?v=1609924320" data-src="" alt="image">improve mood
                    </li>
                    <li class="list-group-item">
                        <img class="responsive-image fr-fic fr-dii" src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/water-bottle_720x.png?v=1609924320" data-src="" alt="image">healthy brain function
                    </li>
                </ul>                                                                                  
            </div>
         </div>
      </div>  
      </div>
</div>
<!-- section 8 : Ends -->
<!-- section 9 : Starts -->
<div class="nutra_box mb100" id="section_pro7" style="display: none;">
    <div class="page-width">
      <div class="row">
        <div class="col-md-6">
            <div class="nutra_content">
                <div class="bullet-section">
                   <img class="responsive-image" src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/facial-skin01.png?v=1610699687" data-src="" alt="image">
                </div>                                                                                 
            </div>
         </div>          
         <div class="col-md-6">
            <div class="nutra_content">
               <h2>Why Complex ProMAX? </h2>
               <div class="bullet-section">
                <p>In our experience, we have found that with weight loss formulas “one size fits most”, but not all. This is especially true when dieters have used the same diet drops formula multiple times and have trouble getting the results they want.</p>
                <p>We call it the “immunity phenomenon”. When it comes to certain ingredients, some people’s bodies may become “immune” to the effects of a particular product. Formulas that may have worked in the past can become less effective. When this happens, the body needs something new to break through!</p>
               </div>
            </div>
         </div>
      </div>  
    </div>
</div>
<!-- section 9 : Ends -->
<!-- section 10 : Starts -->
<div class="nutra_box mb100" id="section_pro8">
    <div class="page-width">
      <div class="row">
        <div class="col-md-6 right-align">
            <div class="nutra_content">
                <div class="bullet-section">
                                    <img class="responsive-image" src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/312.png?v=1614234421" data-src="" alt="image">

                  
                  
<!--                   <img class="responsive-image" src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/facial-skin01.png?v=1610699687" data-src="" alt="image"> -->
                </div>                                                                                 
            </div>
         </div>          
         <div class="col-md-6 left-align">
            <div class="nutra_content">
               <h2>When and How To Use</h2>
               <div class="bullet-section">
                <p>Simply measure out .5 ml on the convenient calibrated dropper, drop under the tongue, hold for 30 seconds, then swallow. For best results, do this 3 times per day, at least 30 minutes before or after food. </p>
                <p>Use Complex ProMAX the same way regardless of which diet protocol you follow.</p>
                <p>Complex ProMAX Drops don’t need refrigeration. Carry the bottle with you wherever you go, just keep them out of extended exposure to sunlight.</p>
               </div>
            </div>
         </div>
      </div>  
    </div>
</div>
<!-- section 10 : Ends -->
<!-- section 11 : Starts -->
<div class="nutra_box mb100 reasons-customers" id="section_pro9">
    <div class="page-width">       
         <div class="reasons-customers-block">
           <h3>Top 10 Reasons Customers Love Complex ProMAX</h3>
           <div class="bullet-section">
             <ul class="top10">
               <li>Convenient</li>
               <li>No artificial flavors, colors, fillers, or other ingredients</li>
               <li>Great flavor</li>
               <li>Trusted Quality and Safety 
                    <ol class="qs-icons">
                        <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/made-in-usa-65.png?v=1613539496" class="img-responsive">
                        <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/gmp.png?v=1611904324" class="img-responsive">
                        <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/3rd-party-tested-65.png?v=1613539496" class="img-responsive">                                                
                    </ol>
               </li>
               <li class="review">Great reviews <img src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/five-stars.png?v=1612527867" alt="5-stars"></li>
               <li>Works with any low calorie/low carb diet</li>
               <li>All the tools for success</li>
               <li>Unlimited Support</li>
               <li>Time-Tested Track Record</li>
               <li>30-Day Money Back Guarantee</li>
             </ul>
           </div>
         </div> 
    </div>
</div>
<!-- section 11 : Ends -->


 <div class="row">
         <div class="col-md-12 left-align">
            <div class="nutra_content">
               <div class="bullet-points">
                  {{product.metafields.accentuate.cdd_eighth_section_bullet_poin}}
                  	<div class="button-group-wrap" id="c1">
<!--                     	<a href="#header-blank" class="ss-btn">Try It NOW</a> -->
                      	<button class="header-blank1">Try It NOW</button>
                 	</div>
               </div>
            </div>
         </div>
      </div>


{% section 'FAQ' %}
<!--<div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>-->
<div class="Product-Recommendation">  
	{% section 'product-recommendations' %}
</div> 
  
{% if collection %}
<div class="text-center return-link-wrapper page-width">
   <a href="{{ collection.url }}" class="btn btn--secondary btn--has-icon-before return-link">
   {% include 'icon-arrow-left' %}
   {{ 'products.product.back_to_collection' | t: title: collection.title }}
   </a>
</div>
{% endif %}


<script>
  // Override default values of shop.strings for each template.
  // Alternate product templates can change values of
  // add to cart button, sold out, and unavailable states here.
  theme.productStrings = {
    addToCart: {{ 'products.product.add_to_cart' | t | json }},
    soldOut: {{ 'products.product.sold_out' | t | json }},
    unavailable: {{ 'products.product.unavailable' | t | json }}
  }
</script>

{% assign current_variant = product.selected_or_first_available_variant %}

<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "Product",
  "name": {{ product.title | json }},
  "url": {{ shop.url | append: product.url | json }},
  {%- if product.featured_media -%}
    {%- assign media_size = product.featured_media.preview_image.width | append: 'x' -%}
    "image": [
      {{ product.featured_media | img_url: media_size | prepend: "https:" | json }}
    ],
  {%- endif -%}
  "description": {{ product.description | strip_html | json }},
  {%- if current_variant.sku != blank -%}
    "sku": {{ current_variant.sku | json }},
  {%- endif -%}
  "brand": {
    "@type": "Thing",
    "name": {{ product.vendor | json }}
  },
  "offers": [
    {%- for variant in product.variants -%}
      {
        "@type" : "Offer",
        {%- if variant.sku != blank -%}
          "sku": {{ variant.sku | json }},
        {%- endif -%}
        "availability" : "http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}",
        "price" : {{ variant.price | divided_by: 100.00 | json }},
        "priceCurrency" : {{ cart.currency.iso_code | json }},
        "url" : {{ shop.url | append: variant.url | json }}
      }{% unless forloop.last %},{% endunless %}
    {%- endfor -%}
  ]
}
</script>


<style>
  
  .table-Head h2 {
    font-weight: bold;
    display: inline-block;
    width: 75%;
    height: auto;
    margin: 20px auto;
    padding: 0;
    font-size: 36px;
    line-height: 48px;
    color: #000 !important;
    text-align: center;
}
  
.promax-img-cont .inner-sect {
    display: flex;
    align-items: center;
    position: relative;
    padding: 0;
    flex-wrap: wrap;
}  
  
  
.promax-img-cont .inner-sect span.First-Img {
    flex: 1 1 10%;
    position: relative;
    margin: 0 auto;
    height: auto;
    padding: 0;
}  
  
.promax-img-cont .inner-sect span.Second-C {
    flex: 1 1 90%;
  	position: relative;
    margin: 0 auto;
    height: auto;
    padding: 0;
}  
#section_table  table tr td {
    border: 2px solid #000 !important;
    text-align: center;
}
</style>